<template lang="pug">
  .features
    TopBar
    .body
      .decoration-top-left
        img(src="@/assets/img/home/decoration-top-left.png")
      .center-content
        .logo
          img(src="@/assets/img/logo-big.png")
        .large-text
          p 
            | IdeaGens.com is a web-based 2-in-1 application for occasional problem solving and everyday mind-mapping. 
            |
            | Most problem-solving approach involves generating ideas against the problem itself and these ideas seem to represent the person’s pre-conceived ideas and biases, neither truly new nor innovative. By first identifying the Causes of a problem, we are firstly able to generate a large and comprehensive list of Causes. Sorting Causes alphabetically helps in identifying missing causes and thus make the list complete.
            |
            | Once a full listing of Causes is determined, Ideas are then generated against each Cause. The number of ideas can be as large as the number required.
            |
            | The key feature of IdeaGens is to enter Causes and Idea in a spreadsheet format. As we are all familiar and super comfortable with spreadsheets this leads to rapid mind-mapping. This is different from traditional mind-mapping tools like MindMeister, which requires user to add modes, graphics and linkages separately. The degree of productivity of mind-mapping with IdeaGens is many times superior to traditional tools, as the spreadsheet has already built the relationship between various elements.
            |
            | Auto-generation of mind-maps is another unique feature of IdeaGens. There is no effort required from moving from causes and idea of spreadsheet format to complex graphical mind-maps.
            |
            | Deciding between large number of ideas is important from decision-making perspective. IdeaGens provides a two-level of ratings beginning with Global Weights. The Global Weights are Cost, Time and Resource and the total of all 3 equals to 1.0. Then individually we rate each idea on these weights so that a weighted rating is calculated. 
            |
            | The Decision tab shows the list of all ideas that have been rated, with minimum to maximum values, which can be changed by the user. Since weights represent Costs, low rating is preferred since this will reduce the total implementation effort.
            |
            | Collaterals of the type Video, Files, Images, Comments Votes and Hyperlinks can be added for each Idea.
            |
            | Collaboration features allows users to share the map with other members.
            |
            | Printing capabilities quite extensive with the ability to print from paper size A0 to U.S. letter. Scaling features allows us to choose print size from 4X to 0.25X. There is also a AutoGen and Print to PDF features. 
            |
            | IdeaGens file system save files in the Microsoft Excel .XLS format for the ease of use. 
      .decoration-bottom-right
        img(src="@/assets/img/home/decoration-bottom-right.png")
</template>

<script>
import { mapState } from "vuex";

import TopBar from "@/components/Home/TopBar";

export default {
  components: {
    TopBar
  },
  computed: {
    ...mapState("users", ["loggedIn"])
  }
};
</script>

<style lang="scss" scoped>
@import "~Styles/_config.scss";
.features {
  .body {
    position: relative;
    background-color: $colorGrisClaro;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    .decoration-top-left {
      position: absolute;
      left: 0;
      top: 0;
      width: 70vw;
      z-index: 0;
      img {
        object-fit: contain;
        width: 100%;
      }
    }
    .center-content {
      width: 50%;
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .logo {
        @include minmaxwh(350px);
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }
      .large-text {
        margin-top: 20px;
        p {
          text-align: left;
          font-family: $fontMontserratRegular;
          line-height: 1.7;
          color: #333;
          white-space: pre-line;
        }
      }
    }
    .decoration-bottom-right {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 25vw;
      z-index: 0;
      img {
        object-fit: contain;
        width: 100%;
      }
    }
  }
}
</style>
