<template lang="pug">
  .tutorial
    TopBar
    .body
      .decoration-top-left
        img(src="@/assets/img/home/decoration-top-left.png")
      .center-content
        .logo
          img(src="@/assets/img/logo-big.png")
        .video
          video(controls="")
            source(src="@/assets/videos/Idea.mp4" type="video/mp4")
            source(src="@/assets/videos/Idea.webm" type="video/webm")
            source(src="@/assets/videos/Idea.ogv" type="video/ogg")
            | Your browser does not support the video tag.
      .decoration-bottom-right
        img(src="@/assets/img/home/decoration-bottom-right.png")
</template>

<script>
import { mapState } from "vuex";

import TopBar from "@/components/Home/TopBar";

export default {
  components: {
    TopBar
  },
  computed: {
    ...mapState("users", ["loggedIn"])
  }
};
</script>

<style lang="scss" scoped>
@import "~Styles/_config.scss";
.tutorial {
  .body {
    position: relative;
    background-color: $colorGrisClaro;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    .decoration-top-left {
      position: absolute;
      left: 0;
      top: 0;
      width: 70vw;
      z-index: 0;
      img {
        object-fit: contain;
        width: 100%;
      }
    }
    .center-content {
      width: 50%;
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .logo {
        @include minmaxwh(350px);
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }
      .video {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
        video {
          background-color: rgba(#000, 0.7);
          width: 80vw;
          height: 80vh;
        }
      }
    }
    .decoration-bottom-right {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 25vw;
      z-index: 0;
      img {
        object-fit: contain;
        width: 100%;
      }
    }
  }
}
</style>
