// @import 'fonts';

$btXS: 575px;
$btSM: 576px;
$btMD: 768px;
$btLG: 992px;
$btXL: 1199px;

$mqMobileL: 425px;
$mqMobileM: 375px;
$mqMobileS: 320px;

$colorAzulOscuro: #00222a;
$colorAzulBase: #003c4a;
$colorAzulMedio: #00607d;
$colorAzulClaro: #7ab1c6;
$colorGrisBase: #c2c3c9;
$colorGrisClaro: #aaaaaa55;
$colorNaranjaBase: #c35b3edd;
$colorNaranjaOscuro: #c35b3e;
$colorVerdeOscuro: #3b8b42;

$fontMontserratBold: 'Montserrat-Bold_4';
$fontMontserratMedium: 'Montserrat-Medium_0';
$fontMontserratMediumItalic: 'Montserrat-MediumItalic';
$fontMontserratRegular: 'Montserrat-Regular_1';
$fontMontserratSemiBold: 'Montserrat-SemiBold_1';
$fontMyriadProRegular: 'MyriadPro-Regular';
$fontDosisRegular: 'Dosis-Regular';
$fontFilsonBold: 'Filson W01 Bold';
$fontFilsonLight: 'Filson W01 Light';

@mixin default-form {
  input[aria-required='true'],
  input.required {
    -webkit-box-shadow: inset -5px 0 0 0 #fcc !important;
    box-shadow: inset -5px 0 0 0 #fcc !important;
  }
  input[aria-invalid='true'] {
    border-bottom: 1px solid #f88 !important;
  }
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    input {
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 6px;
      width: 100%;
      margin-bottom: 10px;
      &[type='submit'] {
        margin: 0;
        width: 100%;
        background-color: #eee;
        border: 0;
        &:not(:disabled) {
          cursor: pointer;
          &:hover {
            background-color: #999;
          }
        }
      }
    }
    .loading {
      display: block;
      margin: 15px 0;
    }
  }
}

@mixin minmaxwh($size) {
  width: $size !important;
  min-width: $size !important;
  max-width: $size !important;
  height: $size !important;
  min-height: $size !important;
  max-height: $size !important;
}

@mixin ease-transition($duration: 150ms) {
  -webkit-transition: all $duration ease;
  -moz-transition: all $duration ease;
  -ms-transition: all $duration ease;
  -o-transition: all $duration ease;
  transition: all $duration ease;
}

@mixin escalar($cant) {
  -moz-transform: scale($cant);
  -webkit-transform: scale($cant);
  -o-transform: scale($cant);
  -ms-transform: scale($cant);
  transform: scale($cant);
}

@mixin sombra($sombra) {
  -webkit-box-shadow: $sombra;
  box-shadow: $sombra;
}

@mixin not-selectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin grayscale($porcentaje) {
  filter: grayscale($porcentaje);
  -webkit-filter: grayscale($porcentaje);
}
@mixin sombra-arrojada($sombra) {
  filter: drop-shadow($sombra);
  -webkit-filter: drop-shadow($sombra);
}

@mixin donut-chart(
  $name,
  $perc,
  $size,
  $width,
  $base,
  $center,
  $color,
  $textColor: $color,
  $textSize: 40px
) {
  $color2: $color;
  $base2: $base;
  $deg: ($perc/100 * 360) + deg;
  $deg1: 90deg;
  $deg2: $deg;

  // If percentage is less than 50%
  @if $perc < 50 {
    $base: $color;
    $color: $base2;
    $color2: $base2;
    $deg1: ($perc/100 * 360+90) + deg;
    $deg2: 0deg;
  }

  .donut-chart {
    &#{$name} {
      width: $size;
      height: $size;
      background: $base;

      .slice {
        &.one {
          clip: rect(0 $size $size/2 0);
          -webkit-transform: rotate($deg1);
          transform: rotate($deg1);
          background: $color;
        }

        &.two {
          clip: rect(0 $size/2 $size 0);
          -webkit-transform: rotate($deg2);
          transform: rotate($deg2);
          background: $color2;
        }
      }

      .chart-center {
        top: $width;
        left: $width;
        width: $size - ($width * 2);
        height: $size - ($width * 2);
        background: $center;

        span {
          font-size: $textSize;
          line-height: $size - ($width * 2);
          color: $textColor;

          &:after {
            content: '#{$perc}%';
          }
        }
      }
    }
  }
} // mixin

@mixin recorta-esquinas-inferiores {
  &::after {
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    bottom: 0;
    top: 98%;
    right: 0;
    transform-origin: left bottom;
    background-color: #fff;
    -moz-transform: skewY(-6deg);
    -webkit-transform: skewY(-6deg);
    -o-transform: skewY(-6deg);
    -ms-transform: skewY(-6deg);
    transform: skewY(-6deg);
  }

  &::before {
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    bottom: 0;
    top: 98%;
    left: 50%;
    transform-origin: left bottom;
    background-color: #fff;
    -moz-transform: scale(-1, 1) skewY(-6deg);
    -webkit-transform: scale(-1, 1) skewY(-6deg);
    -o-transform: scale(-1, 1) skewY(-6deg);
    -ms-transform: scale(-1, 1) skewY(-6deg);
    transform: scale(-1, 1) skewY(-6deg);
  }
}

/// SLIDE IN UP AND OUT DOWN

.slideInUpAndOutDown {
  -webkit-animation-name: slideInUpAndOutDown;
  animation-name: slideInUpAndOutDown;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  transform: translate3d(0, 0, 0);
}
@-webkit-keyframes slideInUpAndOutDown {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    visibility: hidden;
  }
  10% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    visibility: visible;
  }
  80% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  99% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
  }
  100% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    visibility: hidden;
  }
}
@keyframes slideInUpAndOutDown {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    visibility: hidden;
  }
  10% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    visibility: visible;
  }
  80% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  99% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
  }
  100% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    visibility: hidden;
  }
}

/// SLIDE IN UP AND OUT DOWN
