@font-face {
  font-family: 'Montserrat-Bold_4';
  src: url('../../../assets/fonts/Montserrat-Bold_4.otf');
}
@font-face {
  font-family: 'Montserrat-Medium_0';
  src: url('../../../assets/fonts/Montserrat-Medium_0.otf');
}
@font-face {
  font-family: 'Montserrat-MediumItalic';
  src: url('../../../assets/fonts/Montserrat-MediumItalic.otf');
}
@font-face {
  font-family: 'Montserrat-Regular_1';
  src: url('../../../assets/fonts/Montserrat-Regular_1.otf');
}
@font-face {
  font-family: 'Montserrat-SemiBold_1';
  src: url('../../../assets/fonts/Montserrat-SemiBold_1.otf');
}
@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../../../assets/fonts/MyriadPro-Regular.otf');
}
@font-face {
  font-family: 'Dosis-Regular';
  src: url('../../../assets/fonts/Dosis-Regular.ttf');
}
@font-face {
  font-family: 'Filson W01 Bold';
  src: url('../../../assets/fonts/FilsonW01Bold.ttf');
}
@font-face {
  font-family: 'Filson W01 Light';
  src: url('../../../assets/fonts/FilsonW01Light.ttf');
}
