<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>IdeaGens</title>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <!-- <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet"> -->
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script src="<%= process.env.NODE_ENV == 'development' ? 'http://localhost:3000/node_modules/mxgraph/javascript/mxClient.min.js' : 'https://cdn.jsdelivr.net/npm/mxgraph@3.9.11/javascript/mxClient.min.js' %>" async></script>
  </body>
</html>
