doctype html
html(ng-app="AdminApp")
  head
    meta(charset="utf-8")
    title Admin App
    link(rel="stylesheet", href="/node_modules/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/node_modules/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="css/style.min.css")
  body.container(ng-controller="mainController", ng-cloak)

    nav.navbar.navbar-expand-lg.navbar-light.bg-light(style="text-transform:uppercase", ng-if="user")
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#main-boot-menu', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #main-boot-menu.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href="#/") Home
          
          include user-menu.pug
          //- ACA NUEVOS LINKS
          //- include <nueva-clase>-menu.pug

    ol.breadcrumb(style="text-transform:uppercase", ng-if="user")
      li.breadcrumb-item
        a(href="#/")
          span.glyphicon.glyphicon-home
      li.breadcrumb-item(ng-repeat="ruta in rutas", ng-class="{active: ruta.active}")
        a(href="#/{{ruta.link}}", ng-if="ruta.active === false") {{ruta.nombre}}
        span(ng-if="ruta.active === true") {{ruta.nombre}}


    div(ng-view, autoscroll="true")

    script(src="/node_modules/jquery/dist/jquery.min.js")
    script(src="/node_modules/bootstrap/dist/js/bootstrap.min.js")
    script(src="/node_modules/angular/angular.min.js")
    script(src="/node_modules/angular-route/angular-route.min.js")

    script(src="js/app.min.js")
