ul.nav.navbar-nav.navbar-right
  li.nav-item
    a.nav-link(href="#/users/iniciar-sesion", ng-if="!user") Iniciar Sesion
  li.nav-item.dropdown(ng-if="user")
    a.nav-link.dropdown-toggle(href="", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
      span Mi Cuenta
      span.caret
    ul.dropdown-menu
      li.nav-item
        a.dropdown-item(href="#/users/perfil") Perfil
      li.nav-item
        a.dropdown-item(href="#/users/cerrar-sesion") Cerrar Sesion
