<template lang="pug">
  .login
    p Login
    form(@submit.prevent="doLogin", novalidate)
      input(
        type="email"
        placeholder="Email"
        v-validate="'required|email'"
        name="email"
        v-model="user.email")
      input(
        type="password"
        placeholder="Password"
        v-validate="'required'"
        name="password"
        v-model="user.password")
      input(
        type="submit"
        value="Login"
        :disabled="!validForm || sent")
      .loading(v-if="sent")
        font-awesome-icon(icon="circle-notch", spin)
</template>

<script>
import { mapActions } from 'vuex';

export default {
  data() {
    return {
      sent: false,
      user: {
        email: '',
        password: '',
      },
    };
  },
  methods: {
    ...mapActions('users', ['login']),
    doLogin() {
      if (this.dirtyForm && this.validForm) {
        this.sent = true;
        this.login({ email: this.user.email, password: this.user.password }).then(() => {
          this.sent = false;
          this.user = {
            email: '',
            password: '',
          };
        });
      } else {
        this.$validator.validateAll();
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import '~Styles/config';
.login {
  @include default-form;
}
</style>
