<template lang="pug">
  .logo-description
    .logo
      img(src="@/assets/img/logo-big.png")
    .description
      p
        | IdeaGens is a 2-in-1 web-based tool for Problem-Solving plus Mind-Mapping which can be used to solve complex problems plus daily mind-mapping tasks.
        | MATRIX tab uses spreadsheet format to solve problems by identifying all causes of the problem. This step of decomposition a problem into all possible causes is essential. The biggest reason for failure of problem solving exercise is not listing all possible causes. The causes can be sorted A-to-Z so that we are prompted to fill in the blanks and add more and more causes.
        |
        | Once all the causes have been entered, we move to the idea generation phase, were for each cause we enter ideas. These steps build a problem-causes-ideas matrix, a graphic of which is auto generated when we go the MIND MAP tab.
        |
        | MIND MAP tab is enhanced by the Node tab on the right, which is used for adding collateral like Files, Video, Comments, Hyperlinks, etc. Also, Rating for each in idea terms of Cost, Time and Resource is done by entering numerical values.
        |
        | GLOBAL WEIGHTS tab requires us to enter numerical values in Cost, Time and Resource cells, where the total of all 3 is 1.0. Here a higher number indicates relatively more expensive idea to implement.
        |
        | DECISIONS tab shows the results of Rating and Global Weights, plus votes, if any, entered. These column for Value and Votes can be sorted separately, from Maximum to Minimum. Values are a product of our Rating of Global Weights, where lower value means a better idea i.e. lower requirement for Cost, Time and Resources.
        |
        | This cycle of starting with problem-causes-ideas matrix leading to decisions complete the problem-solving exercise.
        |
        | EVERYDAY Mind-Mapping is about building problem-causes-idea matrix, ignoring other advanced features i.e. use only the MATRIX and MIND MAP tabs. Nearly any human thought can be effectively mind-mapped using the spreadsheet data entry format.
        |
        | There are powerful printing features where one can print mind maps from size 4X to .25X. An outline is automatically appended at the end of the print out.
        |
        | Happy Problem-Solving and Mind-Mapping!
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
@import '~Styles/_config.scss';
.logo-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .logo {
    @include minmaxwh(350px);
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
  .description {
    margin: 20px 0;
    p {
      text-align: left;
      font-family: $fontMontserratRegular;
      line-height: 1.7;
      color: #333;
      white-space: pre-line;
    }
  }
}
</style>
