<template lang="pug">
  .logout
    button(@click="logout()") Logout
</template>

<script>
import { mapActions } from 'vuex';

export default {
  methods: {
    ...mapActions('users', ['logout']),
  },
};
</script>

<style lang="scss" scoped>
@import '~Styles/config';
.logout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  button {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px;
    width: 100%;
    margin-bottom: 10px;
    margin: 0;
    width: 100%;
    background-color: #eee;
    border: 0;
    cursor: pointer;
    &:hover {
      background-color: #999;
    }
  }
}
</style>
