<template lang="pug">
  .pass-recovery
    p Recover password
    p
      | Enter your account email and we'll send you
      | a link so you can change your password
    form(@submit.prevent="passRecovery", novalidate)
      input(
        type="email"
        placeholder="Email"
        v-validate="'required|email'"
        name="email"
        v-model="user.email")
      input(
        type="submit"
        value="Recover password"
        :disabled="!validForm || sent")
      .loading(v-if="sent")
        font-awesome-icon(icon="circle-notch", spin)
</template>

<script>
export default {
  props: ['togglePassRecovery'],
  data() {
    return {
      sent: false,
      user: {
        email: '',
      },
    };
  },
  methods: {
    passRecovery() {
      if (this.dirtyForm && this.validForm) {
        this.sent = true;
        this.$http({
          method: 'POST',
          url: '/api/users/mail_pass_check',
          body: this.user,
        }).then(
          ({ status }) => {
            this.sent = false;
            console.log(status);
            this.togglePassRecovery();
          },
          error => {
            this.sent = false;
            console.error(error.data.token);
            this.togglePassRecovery();
          },
        );
      } else {
        this.$validator.validateAll();
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import '~Styles/config';
.pass-recovery {
  @include default-form;
  p {
    white-space: pre-line;
    text-align: center;
    line-height: 1.3;
  }
}
</style>
