<template lang="pug">
  .signup
    p Change your password
    form(@submit.prevent="changePassword", novalidate)
      .field
        input(
          type="password"
          placeholder="Password"
          v-validate="{required: true, confirmed: user.confirm_password}"
          name="password"
          v-model="user.password")
      .field
        input(
          type="password"
          placeholder="Repeat password"
          v-validate="'required'"
          name="password_confirm"
          v-model="user.confirm_password")
      .subm-flash
        .flash(v-if="answer", :class="{'fail-pwchange': failPwChange}")
          span {{answer}}
        .subm(v-if="!answer || failPwChange")
          .loading(v-if="sent")
            font-awesome-icon(icon="circle-notch", spin)
          input(
            type="submit"
            value="Change password"
            :disabled="!validForm || sent")
</template>

<script>
export default {
  data() {
    return {
      sent: false,
      user: {
        password: '',
        confirm_password: '',
      },
      answer: '',
      failPwChange: false,
    };
  },
  methods: {
    changePassword() {
      if (this.$route.query && this.$route.query.tk) {
        if (this.dirtyForm && this.validForm) {
          this.sent = true;
          this.failPwChange = false;
          this.answer = '';
          this.$http({
            method: 'PUT',
            url: '/api/users/ch_pass',
            body: this.user,
            headers: {
              Authorization: `Bearer ${this.$route.query.tk}`,
            },
          }).then(
            ({ status }) => {
              if (status === 200) {
                this.sent = false;
                this.answer = 'Password changed correctly, you can now login into your account.';
              }
            },
            ({ data }) => {
              this.sent = false;
              this.failPwChange = true;
              console.error(data);
              this.answer = 'An error occurred, please try again later.';
            },
          );
        } else {
          this.$validator.validateAll();
        }
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import '~Styles/config';
.signup {
  width: 100%;
  & > p {
    font-family: $fontMontserratBold;
    font-size: 110%;
    text-transform: uppercase;
    color: $colorAzulBase;
  }
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    .field {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      margin-bottom: 15px;
      span.label {
        font-family: $fontMontserratRegular;
        text-transform: uppercase;
        color: #333;
        padding: 7px;
      }
      input {
        border: 0;
        background-color: $colorAzulClaro;
        width: 100%;
        height: 35px;
        padding: 0 8px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #000;
        font-family: $fontMontserratSemiBold;
        border-radius: 4px;
        @include ease-transition;
        &:focus {
          @include sombra(inset 0 0 3px 0 $colorAzulBase);
        }
      }
    }
    .subm-flash {
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      .flash {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        padding: 0 50px;
        background-color: rgba($colorVerdeOscuro, 0.3);
        &.fail-pwchange {
          background-color: rgba($colorNaranjaOscuro, 0.3);
        }
        span {
          text-align: center;
          color: #444;
          font-family: $fontMontserratSemiBold;
        }
      }
      .subm {
        width: 100%;
        min-width: 35%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .loading {
          margin-right: 10px;
        }
        input[type='submit'] {
          border: 0;
          background-color: $colorAzulBase;
          width: 150px;
          height: 35px;
          padding: 0 8px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          font-family: $fontMontserratSemiBold;
          border-radius: 4px;
          cursor: pointer;
          &:disabled {
            opacity: 0.7;
          }
          &:hover,
          &:focus {
            text-shadow: 0 0 0 #000;
            outline: none;
            @include sombra(0 0 3px 0 #333);
          }
        }
      }
    }
  }
}
</style>
