<template lang="pug">
  .register-login
    signup
    login
</template>

<script>
import Signup from '@/components/User/Signup';
import Login from '@/components/User/Login';

export default {
  components: { Signup, Login },
};
</script>

<style lang="scss" scoped>
@import '~Styles/_config.scss';
.register-login {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
