<template lang="pug">
  #menu
    .button-list
      button.button.default(@click="setTestData") Test data
      button.button.default(@click="clearProblem") Clear problem
      button.button.default(@click="sortCauses") Sort causes
    .saved-state(v-if="loggedIn && lastSaved && problem.description")
      font-awesome-icon(icon="circle-notch", spin, v-if="saving")
      span Autosaved {{moment(lastSaved).format('YYYY-MM-DD HH:mm:ss')}}
</template>

<script>
import { mapState, mapActions } from 'vuex';
import moment from 'moment';

import TestProblem from '@/assets/data/test-problem.json';

let debounced = false;

export default {
  data() {
    return {
      sortOrder: true,
      lastSaved: false,
      saving: false,
      moment,
    };
  },
  watch: {
    problem: {
      deep: true,
      handler(newVal) {
        if (this.loggedIn) {
          if (debounced) {
            debounced.cancel();
          }
          debounced = this._.debounce(this.saveData, 3000);
          debounced();
        }
      },
    },
  },
  computed: {
    ...mapState('users', ['loggedIn', 'token']),
    ...mapState('problem', ['problem']),
  },
  methods: {
    ...mapActions('problem', ['setProblem', 'restartProblem', 'setLoadedProblem']),
    setTestData() {
      this.setProblem(TestProblem);
    },
    clearProblem() {
      this.$router.push(`/p`);
      this.restartProblem();
    },
    saveData() {
      if (false && this.problem.description) {
        this.saving = true;
        let method = 'POST';
        let url = '/api/problems';
        if (this.problem.wasLoaded && this.problem._id) {
          method = 'PUT';
          url = `/api/problems/${this.problem._id}`;
        }
        this.$http({
          method,
          url,
          body: this.problem,
          headers: {
            Authorization: `Bearer ${this.token}`,
          },
        }).then(
          ({ status, data }) => {
            if (status === 201) {
              this.problem._id = data._id;
            }
            this.saving = false;
            this.lastSaved = new Date();
            this.setLoadedProblem();
            if (!this.$route.params.pid) {
              this.$router.push(`/p/${data._id}`);
            }
          },
          error => {
            console.error(error);
          },
        );
      }
    },
    sortCauses() {
      if (this.sortOrder) {
        this.problem.causes.sort((causeA, causeB) =>
          causeA.description.localeCompare(causeB.description),
        );
        this.sortOrder = false;
      } else {
        this.problem.causes.sort((causeA, causeB) =>
          causeB.description.localeCompare(causeA.description),
        );
        this.sortOrder = true;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import '~Styles/_config.scss';
#menu {
  position: relative;
  display: flex;
  align-items: center;
  .button-list {
    display: flex;
    align-items: center;
  }
  .saved-state {
    position: absolute;
    right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    svg {
      margin-right: 7px;
    }
    span {
      font-size: 90%;
      color: #666;
    }
  }
  .copy-problem-link {
    position: fixed;
    width: 40vw;
    height: 30vh;
    min-height: 200px;
    left: 30vw;
    top: 20vh;
    z-index: 5;
    background-color: #fff;
    @include sombra(0 0 3px 0 #000);
    padding: 25px 10px;
    display: flex;
    flex-direction: column;
    .close {
      position: absolute;
      right: 7px;
      top: 7px;
      cursor: pointer;
    }
    .title {
      margin: 10px 0;
      margin-bottom: 25px;
      span {
        font-weight: bold;
      }
    }
    .copying-space {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding-bottom: 10px;
      margin-bottom: 10px;
      input {
        width: 100%;
        text-align: center;
        padding: 5px 0;
      }
    }
  }
}
</style>
