.panel.panel-default
  .panel-body
    .col-xs-5
      img(ng-src="{{user.avatar}}")
    .col-xs-7
      ul.list-group
        li.list-group-item
          h1 {{user.nombre}} {{user.apellido}}
        li.list-group-item
          strong Email: 
          span {{user.email}}
        li.list-group-item
          strong Contraseña: 
          span ••••••
