<template lang="pug">
  .panel
    NodeModifiers
    //- GlobalWeights(
    //-   :updateChart="updateChart")
    //- ColorPicker(:graph="graph")
</template>

<script>
import { mapState, mapActions } from 'vuex';

import NodeModifiers from './Panel/NodeModifiers';
import GlobalWeights from './Panel/GlobalWeights';
import ColorPicker from './Panel/ColorPicker';

let debounced = false;

export default {
  props: [
    'updateChart',
    'graph',
  ],
  components: {
    NodeModifiers,
    GlobalWeights,
    ColorPicker,
  },
};
</script>

<style lang="scss" scoped>
@import '~Styles/_config.scss';
.panel {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  width: 0;
}
</style>
