<template lang="pug">
  .perspective-buttons(:class="[{fullscreen: printer.visible}, {'immersive-mode': immersiveMode}]")
    .button(@click="zoomIn", title="Zoom in")
      img(src="@/assets/img/problems/new-edit/icon-plus.png")
    .button(@click="zoomOut", title="Zoom out")
      img(src="@/assets/img/problems/new-edit/icon-minus.png")
    //- .button(@click="centerProblem", title="Center problem")
    //-   img(src="@/assets/img/problems/new-edit/icon-pin.png")
    .button(@click="centerGraph", title="Center graph")
      img(src="@/assets/img/problems/new-edit/icon-center.png")
    //- .button.immersive-mode(
      @click="toggleImmersiveMode"
      title="Immersive mode"
      v-if="!printer.visible")
      font-awesome-icon(
        :icon="immersiveMode ? 'compress' : 'expand-arrows-alt'")
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  props: ['graph', 'updateChart'],
  computed: {
    ...mapState('problem', ['problem']),
    ...mapState('general', ['printer', 'immersiveMode']),
  },
  methods: {
    ...mapActions('general', ['setScaleFactor', 'setPaperSize', 'toggleImmersiveMode']),
    getGraphColsRows() {
      const colsRows = { columns: 1, rows: 1 };
      if (this.printer.paperSize) {
        const oldX = this.graph.view.translate.x;
        const oldY = this.graph.view.translate.y;
        this.graph.view.setScale(1);
        this.graph.view.setTranslate(0, 0);

        const dupSVG = document.querySelector('#diagram svg').cloneNode(true);

        this.graph.view.setTranslate(oldX, oldY);
        this.graph.view.setScale(this.printer.scaleFactor);

        const svgWidth = parseFloat(dupSVG.style.minWidth);
        const svgHeight = parseFloat(dupSVG.style.minHeight);

        colsRows.columns = Math.ceil(svgWidth / this.printer.paperSize.width);
        colsRows.rows = Math.ceil(svgHeight / this.printer.paperSize.height);
      }
      return colsRows;
    },
    getPrintersTranslations({ columns, rows }) {
      const translations = [];
      if (columns > 1 && rows > 1) {
        for (let i = 0; i < columns * rows; i++) {
          translations.push(
            `translate(${this.printer.paperSize.width *
              this.printer.scaleFactor *
              (i % columns)}px, ${this.printer.paperSize.height *
              this.printer.scaleFactor *
              Math.floor(i / columns)}px)`,
          );
        }
      }
      return translations;
    },
    zoomIn() {
      this.graph.zoomIn();
      this.setScaleFactor(this.graph.view.scale);
      const options = this.printer.paperSize
        ? {
            shouldResize: true,
            width: this.printer.paperSize.width * this.printer.scaleFactor,
            height: this.printer.paperSize.height * this.printer.scaleFactor,
            translations: this.getPrintersTranslations(this.getGraphColsRows()),
          }
        : false;
      this.adjustPrinter(options);
    },
    zoomOut() {
      if (this.graph.view.scale > 0.28) {
        this.graph.zoomOut();
        this.setScaleFactor(this.graph.view.scale);
        const options = this.printer.paperSize
          ? {
              shouldResize: true,
              width: this.printer.paperSize.width * this.printer.scaleFactor,
              height: this.printer.paperSize.height * this.printer.scaleFactor,
              translations: this.getPrintersTranslations(this.getGraphColsRows()),
            }
          : false;
        this.adjustPrinter(options);
      }
    },
    centerProblem() {
      if (this.problem.causes.length === 1) {
        this.problem.pos.x = this.problem.causes[0].pos.x;
      } else {
        let posA = false;
        let posB = false;
        this.problem.causes.map(c => {
          if (!posA || posA.x > c.pos.x) {
            posA = c.pos;
          }
          if (!posB || posB.x < c.pos.x) {
            posB = c.pos;
          }
        });
        this.problem.pos.x = posA.x + (posB.x - posA.x) / 2;
      }
      this.updateChart();
    },
    centerGraph() {
      this.graph.fit(0, true);
      this.graph.view.scaleAndTranslate(1, 0, 0);
      this.setScaleFactor(1);
    },
  },
};
</script>

<style lang="scss" scoped>
@import '~Styles/_config.scss';

* {
  @include not-selectable;
}

.perspective-buttons {
  position: fixed;
  left: 15px;
  top: 25vh;
  z-index: 10000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  &.fullscreen {
    top: 15px;
  }
  &.immersive-mode {
    top: 12vh;
  }
  .button {
    margin-right: 10px;
    @include minmaxwh(30px);
    border-radius: 4px;
    background-color: $colorAzulClaro;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    @include ease-transition;
    filter: brightness(1.2);
    @include sombra(1px 1px 1px 0 #666);
    &:hover {
      filter: brightness(1.4);
    }
    // &.immersive-mode {
    //   background-color: $colorNaranjaBase;
    //   svg {
    //     width: 30px;
    //     min-width: 30px;
    //     font-size: 120%;
    //     color: $colorGrisBase;
    //   }
    // }
    img {
      object-fit: contain;
      width: 85%;
      height: 85%;
    }
  }
}
</style>
