<template lang="pug">
  .popup-holder
    Popup(v-if="isPopupVisible && (isPopupActive('Calculus') || isPopupActive('Comments') || isPopupActive('Documents') || isPopupActive('Images') || isPopupActive('Links') || isPopupActive('Votes') || isPopupActive('Videos'))")
      Calculus(
        v-if="isPopupActive('Calculus')")
      Comments(
        v-if="isPopupActive('Comments')")
      Documents(
        v-if="isPopupActive('Documents')")
      Images(
        v-if="isPopupActive('Images')")
      Links(
        v-if="isPopupActive('Links')")
      Votes(
        v-if="isPopupActive('Votes')")
      Videos(
        v-if="isPopupActive('Videos')")
</template>

<script>
import { mapGetters } from 'vuex';

import Popup from '@/components/General/Popup';
import Calculus from './PopupHolder/Calculus';
import Comments from './PopupHolder/Comments';
import Documents from './PopupHolder/Documents';
import Images from './PopupHolder/Images';
import Links from './PopupHolder/Links';
import Votes from './PopupHolder/Votes';
import Videos from './PopupHolder/Videos';

export default {
  props: ['updateChart'],
  components: {
    Popup,
    Calculus,
    Comments,
    Documents,
    Images,
    Links,
    Votes,
    Videos,
  },
  computed: {
    ...mapGetters('general', ['isPopupVisible', 'isPopupActive']),
  },
  watch: {
    isPopupVisible(newVal, oldVal) {
      if (newVal !== oldVal) {
        if (newVal === false) {
          this.updateChart();
        }
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import '~Styles/_config.scss';
</style>
