<template lang="pug">
  .printer(:class="['index-' + printerIndex]")
    .page-indicator
      span {{printerIndex}}
</template>

<script>
import { mapState, mapActions } from "vuex";
import interact from "interactjs";

function clearDrag(elem) {
  if (originalMove) {
    elem.onmousedown = originalMove;
  }
  document.onmouseup = null;
  document.onmousemove = null;
}

export default {
  props: ["chartLoaded", "printerIndex"],
  mounted() {
    this.initPrinter();
  },
  computed: {
    ...mapState("general", ["printer"])
    // isPrinterDraggable() {
    //   return this.printer.draggable;
    // },
  },
  watch: {
    chartLoaded(newVal) {
      if (newVal) {
        this.initPrinter();
      }
    },
    isPrinterDraggable(newVal) {
      if (newVal) {
        dragElement(
          document.querySelector(`.printer.index-${this.printerIndex}`)
        );
      } else {
        clearDrag(
          document.querySelector(`.printer.index-${this.printerIndex}`)
        );
      }
    }
  },
  methods: {
    ...mapActions("general", [
      "hidePrinter",
      "setPrinterDrageble",
      "setPrinterFixed",
      "setPaperSize"
    ]),
    initPrinter() {
      const dragMoveListener = event => {
        var target = event.target,
          // keep the dragged position in the data-x/data-y attributes
          x = (parseFloat(target.getAttribute("data-x")) || 0) + event.dx,
          y = (parseFloat(target.getAttribute("data-y")) || 0) + event.dy;

        // translate the element
        target.style.webkitTransform = target.style.transform =
          "translate(" + x + "px, " + y + "px)";

        // update the posiion attributes
        target.setAttribute("data-x", x);
        target.setAttribute("data-y", y);
      };

      // this is used later in the resizing and gesture demos
      window.dragMoveListener = dragMoveListener;

      interact(`.printer.index-${this.printerIndex}`)
        .draggable({
          onmove: window.dragMoveListener
        })
        .resizable({
          // resize from all edges and corners
          edges: { left: false, right: true, bottom: true, top: false }
        })
        .on("resizemove", event => {
          this.setPaperSize("");

          var target = event.target,
            x = parseFloat(target.getAttribute("data-x")) || 0,
            y = parseFloat(target.getAttribute("data-y")) || 0;

          // update the element's style
          target.style.width = event.rect.width + "px";
          target.style.height = event.rect.height + "px";

          // translate when resizing from top or left edges
          x += event.deltaRect.left;
          y += event.deltaRect.top;

          target.style.webkitTransform = target.style.transform =
            "translate(" + x + "px," + y + "px)";

          target.setAttribute("data-x", x);
          target.setAttribute("data-y", y);
        });

      let options;

      if (this.printer.paperSize) {
        options = {
          shouldResize: true,
          width:
            this.printer.paperSize.width *
            this.printer.scaleFactor *
            this.printer.printingFactor,
          height:
            this.printer.paperSize.height *
            this.printer.scaleFactor *
            this.printer.printingFactor
        };
      } else {
        options = {
          shouldResize: true,
          width: parseFloat(
            document.querySelector(".printer.index-1").style.width
          ),
          height: parseFloat(
            document.querySelector(".printer.index-1").style.height
          )
        };
      }

      this.adjustPrinter(options);

      setTimeout(() => {
        const p = document.querySelector(`.printer.index-${this.printerIndex}`);
        if (p.style.transform) {
          const translate = p.style.transform
            .split("translate(")[1]
            .split(")")[0];
          const hasX = translate.length > 0;
          const hasY = translate.split(",").length > 1;

          let translateX = 0;
          let translateY = 0;

          if (hasX) translateX = parseFloat(translate.split(",")[0]);
          if (hasY) translateY = parseFloat(translate.split(",")[1]);

          
            // parseFloat(
            //   p.style.transform.split("translate(")[1].split(",")[0]
            // );
          // parseFloat(
          //   p.style.transform
          //     .split("translate(")[1]
          //     .split(",")[1]
          //     .split(")")[0]
          // );

          p.setAttribute("data-x", translateX);
          p.setAttribute("data-y", translateY);
        }
      }, 500);
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~Styles/_config.scss";

* {
  @include not-selectable;
}

.printer {
  left: 0;
  top: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  display: block;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  @include sombra(inset 0 0 0 3px rgba($colorAzulMedio, 0.7));
  @for $i from 1 through 1000 {
    &.index-#{$i} {
      margin-left: ($i - 1) * 5px;
      margin-top: ($i - 1) * 5px;
    }
  }
  &::after {
    position: absolute;
    right: -3px;
    bottom: -3px;
    @include minmaxwh(10px);
    border-radius: 50%;
    background-color: $colorNaranjaBase;
    content: "";
  }
  .page-indicator {
    position: absolute;
    right: 10px;
    top: 10px;
    span {
      color: #000;
      text-shadow: 2px 2px 0 #fff;
      font-size: 150%;
      font-family: $fontFilsonBold;
    }
  }
}
</style>
