<template lang="pug">
  .printer-bottom-bar
    .printer-count
      span Pages: {{printer.count}}
    .actions
      button(@click="decreasePrinters") Remove page
      button(@click="increasePrinters") Add page
      select(
        v-model="paperSize"
        @change="setPrintersSize")
        option(
          selected
          value="") Page size: Custom
        option(
          v-for="size in sizes"
          :key="size.name"
          :value="size.name") Page size: {{size.name}}
      select(
        v-model="orientation"
        @change="setOrientation"
        :disabled="!this.paperSize")
        option(
          selected
          value="portrait") Portrait
        option(
          value="landscape") Landscape
      //- @change="setPrintersSize"
      select(
        :disabled="!this.paperSize"
        @change="resetPrintingFactor"
        v-model="printer.printingFactor")
        option(
          v-for="(factor, index) in printingFactorList"
          :key="factor"
          :value="factor") {{printingFactorListNaming[index]}} X
      input.printing-margins(
        type="checkbox"
        v-model="addPrintingMargins"
        title="Add printing margins")
      button.print(@click="printSection(true)") Print
      button.print(@click="printSection(false)") Save as PDF
      button.print(
        :disabled="!this.paperSize"
        @click="autoGeneratePrinters(false)") AutoGen
      button.warning(@click="removeAllPrinters()") Remove all
      .printing(v-if="printing")
        font-awesome-icon(icon="circle-notch", spin)
    .close
      button(@click="closePrinter") Close
</template>

<script>
import { mapState, mapActions } from "vuex";
import jsPDF from "jspdf";

const generateDownloadLink = (href, fileName) => {
  const link = document.createElement("a");
  link.href = href;
  link.download = fileName;
  document.body.append(link);
  link.click();
  document.body.removeChild(link);
};

const imgUrlToData = (url, callback) => {
  const canvas = document.createElement("canvas");
  const context = canvas.getContext("2d");
  const baseImage = new Image();
  baseImage.crossOrigin = "anonymous"; // This enables CORS
  baseImage.onload = function() {
    canvas.setAttribute("width", this.width);
    canvas.setAttribute("height", this.height);
    context.drawImage(this, 0, 0, this.width, this.height);
    callback(canvas.toDataURL());
  };
  baseImage.src = url;
};

export default {
  props: ["graph"],
  data() {
    return {
      printingFactorListNaming: [0.25, 0.33, 0.5, 0.75, 1, 1.5, 2, 3, 4],
      printingFactorList: [0.25, 0.33, 0.5, 0.75, 1, 1.5, 2, 3, 4].reverse(),
      printing: false,
      addPrintingMargins: false,
      orientation: "landscape",
      sizes: [
        {
          name: "A4",
          width: 595.28,
          height: 841.89
        },
        {
          name: "A3",
          width: 841.89,
          height: 1190.55
        },
        {
          name: "A2",
          width: 1190.55,
          height: 1683.78
        },
        {
          name: "A1",
          width: 1683.78,
          height: 2383.94
        },
        {
          name: "A0",
          width: 2383.94,
          height: 3370.39
        },
        {
          name: "Letter",
          width: 612,
          height: 792
        },
        {
          name: "Ledger",
          width: 1224,
          height: 792
        },
        {
          name: "Legal",
          width: 612,
          height: 1008
        }
      ],
      paperSize: "Letter"
    };
  },
  computed: {
    ...mapState("general", ["printer"]),
    ...mapState("problem", ["problem"])
  },
  watch: {
    paperSize(newVal) {
      if (!newVal) {
        this.orientation = "portrait";
        this.setOrientation();
      }
    },
    printer: {
      deep: true,
      handler(newVal) {
        if (!newVal.paperSize) {
          this.paperSize = "";
          this.orientation = "portrait";
          this.setOrientation();
        }
      }
    }
  },
  mounted() {
    const closePrinterHandler = ev => {
      if (ev.which === 27) {
        this.closePrinter();
        window.removeEventListener("keyup", closePrinterHandler);
      }
    };
    window.addEventListener("keyup", closePrinterHandler);
    this.setOrientation();
  },
  methods: {
    ...mapActions("general", [
      "increasePrinters",
      "decreasePrinters",
      "hidePrinter",
      "setPaperSize",
      "setScaleFactor",
      "setPrintingFactor"
    ]),
    closePrinter() {
      this.graph.fit(0, true);
      this.graph.view.scaleAndTranslate(1, 0, 0);
      for (let i = this.printer.count; i > 0; i--) {
        this.decreasePrinters();
      }
      this.setScaleFactor(1);
      this.hidePrinter();
    },
    setOrientation() {
      if (
        (this.orientation === "portrait" &&
          this.sizes[0].width > this.sizes[0].height) ||
        (this.orientation === "landscape" &&
          this.sizes[0].width < this.sizes[0].height)
      ) {
        const sizes = [];
        this.sizes.map(s => {
          const width = s.width;
          s.width = s.height;
          s.height = width;
        });
        const newSize = {
          name: this.printer.paperSize.name,
          width: this.printer.paperSize.height,
          height: this.printer.paperSize.width
        };
        this.setPaperSize(newSize);
        this.setPrintersSize();
      }
    },
    setPrintersSize() {
      if (this.paperSize) {
        const paperSize = this.sizes.find(p => p.name === this.paperSize);
        this.setPaperSize(paperSize);
        if (this.printer.count > 0) {
          this.removeAllPrinters();
          this.$nextTick(() => {
            this.autoGeneratePrinters();
          });
        }
      }
      //   document
      //     .querySelector('#diagram')
      //     .querySelectorAll(`.printer`)
      //     .forEach(p => {
      //       p.style.width = paperSize.width * this.printer.scaleFactor + 'px';
      //       p.style.height = paperSize.height * this.printer.scaleFactor + 'px';
      //     });
      // }
    },
    resetPrintingFactor() {
      if (this.printer.count > 0 && this.paperSize) {
        this.removeAllPrinters();
        setTimeout(() => {
          this.autoGeneratePrinters();
        }, 500);
      }
    },
    removeAllPrinters() {
      document.querySelectorAll(".printer").forEach(p => {
        this.decreasePrinters();
        p.remove();
      });
      if (!this.paperSize) {
        this.paperSize = "Letter";
        this.setPaperSize(this.sizes[5]);
        this.orientation = "landscape";
        this.setOrientation();
        this.setPrintingFactor(1);
      }
    },
    autoGeneratePrinters(callback) {
      if (this.paperSize) {
        if (this.printer.count > 0) {
          this.resetPrintingFactor();
        } else {
          const oldX = this.graph.view.translate.x;
          const oldY = this.graph.view.translate.y;
          this.graph.view.setScale(1);
          this.graph.view.setTranslate(0, 0);

          const dupSVG = document.querySelector("#diagram svg").cloneNode(true);

          this.graph.view.setTranslate(oldX, oldY);
          this.graph.view.setScale(this.printer.scaleFactor);

          const svgWidth = parseFloat(dupSVG.style.minWidth);
          const svgHeight = parseFloat(dupSVG.style.minHeight);

          let startPrinter = 0;

          let paperSize = {
            ...this.sizes.find(p => p.name === this.paperSize)
          };

          if (!this.paperSize) {
            // Custom size paper
            const p = document.querySelector(".printer");
            let translateX = 0;
            let translateY = 0;
            if (p.style.transform) {
              const translate = p.style.transform
                .split("translate(")[1]
                .split(")")[0];
              const hasX = translate.length > 0;
              const hasY = translate.split(",").length > 1;

              if (hasX) translateX = parseFloat(translate.split(",")[0]);
              if (hasY) translateY = parseFloat(translate.split(",")[1]);

              // translateX = parseFloat(
              //   p.style.transform.split("translate(")[1].split(",")[0]
              // );
              // translateY = parseFloat(
              //   p.style.transform
              //     .split("translate(")[1]
              //     .split(",")[1]
              //     .split(")")[0]
              // );
            }
            const printerRect = {
              width: parseFloat(p.style.width) / this.printer.scaleFactor,
              height: parseFloat(p.style.height) / this.printer.scaleFactor
            };
            const finalWidth = printerRect.width;
            const finalHeight = printerRect.height;

            paperSize = {
              width: finalWidth,
              height: finalHeight
            };
            startPrinter++;
            this.setPaperSize(paperSize);
          }

          paperSize.width = paperSize.width * this.printer.printingFactor;
          paperSize.height = paperSize.height * this.printer.printingFactor;

          const printerColumns = Math.ceil(svgWidth / paperSize.width);
          const printerRows = Math.ceil(svgHeight / paperSize.height);

          for (let i = startPrinter; i < printerColumns * printerRows; i++) {
            this.increasePrinters();
          }
          setTimeout(() => {
            for (let i = startPrinter; i < printerColumns * printerRows; i++) {
              const printer = document.querySelector(
                `#diagram .printer.index-${i + 1}`
              );
              if (printer) {
                printer.style.webkitTransform = printer.style.transform = `translate(${paperSize.width *
                  this.printer.scaleFactor *
                  (i % printerColumns)}px, ${paperSize.height *
                  this.printer.scaleFactor *
                  Math.floor(i / printerColumns)}px)`;
                printer.style.margin = "0px";
              }
            }
            callback && callback();
          }, 300);
        }
      }
    },
    printSection(isForPrinting = false) {
      this.printing = true;

      // const prMargin = 40;
      const prMargin = 1;

      const factorFont = 0.75;

      const executePrintSave = () => {
        const sizes = [];

        const oldX = this.graph.view.translate.x;
        const oldY = this.graph.view.translate.y;

        document.querySelectorAll(".printer").forEach(p => {
          let translateX = 0;
          let translateY = 0;
          if (p.style.transform) {
            const translate = p.style.transform
              .split("translate(")[1]
              .split(")")[0];
            const hasX = translate.length > 0;
            const hasY = translate.split(",").length > 1;

            if (hasX) translateX = parseFloat(translate.split(",")[0]);
            if (hasY) translateY = parseFloat(translate.split(",")[1]);
            // translateX = parseFloat(p.style.transform.split('translate(')[1].split(',')[0]);
            // translateY = parseFloat(
            //   p.style.transform
            //     .split('translate(')[1]
            //     .split(',')[1]
            //     .split(')')[0],
            // );
          }
          const printerRect = {
            width: parseFloat(p.style.width) / this.printer.scaleFactor,
            height: parseFloat(p.style.height) / this.printer.scaleFactor,
            x: translateX / this.printer.scaleFactor, //+ 60 / this.printer.scaleFactor,
            y: translateY / this.printer.scaleFactor //+ 10 / this.printer.scaleFactor,
          };
          const finalWidth = printerRect.width;
          const finalHeight = printerRect.height;
          const finalX = printerRect.x;
          const finalY = printerRect.y;

          sizes.push({
            width: finalWidth,
            height: finalHeight,
            x: finalX,
            y: finalY
          });
        });

        this.graph.view.setScale(1);
        this.graph.view.setTranslate(0, 0);

        const dupSVG = document.querySelector("#diagram svg").cloneNode(true);

        this.graph.view.setTranslate(oldX, oldY);
        this.graph.view.setScale(this.printer.scaleFactor);

        const svgWidth = dupSVG.style.minWidth;
        const svgHeight = dupSVG.style.minHeight;
        let proms = [];
        dupSVG.querySelectorAll("image").forEach(image => {
          const imgHref = image.getAttribute("xlink:href");
          if (
            imgHref.toLowerCase().indexOf("png") >= 0 ||
            imgHref.toLowerCase().indexOf("jpeg") >= 0 ||
            imgHref.toLowerCase().indexOf("jpg") >= 0
          ) {
            proms.push(
              new Promise((resolve, reject) => {
                imgUrlToData(imgHref, dataUrl => {
                  image.setAttribute("xlink:href", dataUrl);
                  resolve();
                });
              })
            );
          } else {
            image.remove();
          }
        });

        dupSVG.setAttribute("xmlns", "http://www.w3.org/2000/svg");
        dupSVG.setAttribute("xmlns:xlink", "http://www.w3.org/1999/xlink");
        dupSVG.setAttribute("xml:space", "preserve");

        dupSVG.setAttribute("width", parseFloat(svgWidth) + "px");
        dupSVG.setAttribute("height", parseFloat(svgHeight) + "px");

        const svgString = new XMLSerializer().serializeToString(dupSVG);

        const DOMURL = window.URL || window.webkitURL || window;

        const sizesURL = sizes
          .map(s => encodeURI(JSON.stringify(s)))
          .join("&sizes[]=");

        this.$http({
          method: "POST",
          url: `/api/svgconverter/?sizes=${sizesURL}`,
          body: {
            svgString
          }
        }).then(
          ({ data }) => {
            let paperSize = this.sizes.find(p => p.name === this.paperSize);
            if (!paperSize) {
              paperSize = {
                width: this.sizes[0].width,
                height: this.sizes[0].height
              };
            }
            const doc = new jsPDF(this.orientation[0].toLowerCase(), "px", [
              paperSize.width * factorFont,
              paperSize.height * factorFont
            ]);
            const pageWidth = doc.internal.pageSize.getWidth();
            const pageHeight = doc.internal.pageSize.getHeight();
            const pageAspectRatio =
              pageHeight > pageWidth
                ? pageWidth / pageHeight
                : pageHeight / pageWidth;

            const proms = [];

            data.map(base64 => {
              const img = "data:image;base64," + base64;
              const imgHolder = new Image();
              proms.push(
                new Promise((resolve, reject) => {
                  imgHolder.onload = function() {
                    resolve({
                      width: this.width,
                      height: this.height,
                      img: img
                    });
                  };
                })
              );
              imgHolder.src = img;
            });

            let pagesCount = 1;

            Promise.all(proms).then(values => {
              values.map((v, i) => {
                const imageAspectRatio = v.height / v.width;
                doc.text(
                  20 + (this.addPrintingMargins ? prMargin : 0),
                  20 + (this.addPrintingMargins ? prMargin : 0),
                  this.problem.description
                );
                doc.addImage(
                  v.img,
                  "PNG",
                  50 + (this.addPrintingMargins ? prMargin : 0),
                  50 + (this.addPrintingMargins ? prMargin : 0),
                  pageWidth -
                    100 -
                    (this.addPrintingMargins ? prMargin * 1.5 : 0),
                  (pageWidth - 100) * imageAspectRatio -
                    (this.addPrintingMargins ? prMargin * 1.5 : 0)
                );
                if (data.length > 1 && i < data.length - 1) {
                  doc.addPage();
                  pagesCount++;
                }
              });
              doc.setFont("helvetica");

              doc.addPage();

              doc.setFontType("bold");
              doc.setFontSize(35 * factorFont);

              doc.text(
                30 + (this.addPrintingMargins ? prMargin : 0),
                40 + (this.addPrintingMargins ? prMargin : 0),
                this.problem.description.toUpperCase()
              );

              doc.setFontSize(25 * factorFont);

              pagesCount++;

              const baseCausesX = 50 + (this.addPrintingMargins ? prMargin : 0);
              const baseIdeasX = 80 + (this.addPrintingMargins ? prMargin : 0);
              const baseCauses = 80 + (this.addPrintingMargins ? prMargin : 0);
              const lineSpacer = 25;
              const extraBit = 10;
              let lastIdeaY = 0;
              const maxTextLength =
                pageWidth - 40 - (this.addPrintingMargins ? prMargin * 3 : 0);

              const splitDescription = (description, selfX) => {
                // doc.splitTextToSize(text, size) CHECK <--
                let outDescription = "";
                let lines = 1;
                if (description.length * 15 > selfX + maxTextLength) {
                  description.split(" ").map(s => {
                    if (
                      (outDescription + s).length * 15 >=
                      (selfX + maxTextLength) * lines
                    ) {
                      outDescription += "\n";
                      lines++;
                    }
                    outDescription += s + " ";
                  });
                } else {
                  outDescription = description;
                }
                return [outDescription, lines];
              };

              this.problem.causes
                .filter(c => c.description)
                .map((cause, i) => {
                  doc.setFontType("bold");
                  let causeY =
                    lastIdeaY > 0
                      ? lastIdeaY + lineSpacer + extraBit
                      : baseCauses + i * lineSpacer;
                  if (
                    causeY >=
                    pageHeight - 30 - (this.addPrintingMargins ? prMargin : 0)
                  ) {
                    doc.addPage();
                    pagesCount++;
                    causeY = 30 + (this.addPrintingMargins ? prMargin : 0);
                  }
                  let [description, lines] = splitDescription(
                    cause.description,
                    baseCausesX
                  );
                  doc.text(baseCausesX, causeY, `${i + 1}. ${description}`);
                  causeY += (lines - 1) * lineSpacer;
                  cause.ideas
                    .filter(i => i.description)
                    .map((idea, j) => {
                      doc.setFontType("normal");
                      let ideaY =
                        j > 0
                          ? lastIdeaY + lineSpacer
                          : causeY + lineSpacer + j * lineSpacer;
                      if (
                        ideaY >=
                        pageHeight -
                          30 -
                          (this.addPrintingMargins ? prMargin : 0)
                      ) {
                        doc.addPage();
                        pagesCount++;
                        ideaY = 30 + (this.addPrintingMargins ? prMargin : 0);
                        causeY = 2;
                      }
                      let [description, lines] = splitDescription(
                        idea.description,
                        baseIdeasX
                      );
                      doc.text(
                        baseIdeasX,
                        ideaY,
                        `${i + 1}.${j + 1} ${description}`
                      );
                      lastIdeaY = ideaY + (lines - 1) * lineSpacer;
                    });

                  if (cause.ideas.every(i => !i.description)) {
                    let ideaY = causeY + lineSpacer;
                    doc.text(baseIdeasX, ideaY, ``);
                    lastIdeaY = ideaY;
                  }
                });

              doc.setFontSize(16 * factorFont);
              doc.setFontType("normal");

              for (let i = 1; i <= pagesCount; i++) {
                doc.setPage(i);
                doc.text(
                  pageWidth - // PageWidth
                  20 - // Margin
                  (`${i}`.length - 1) * 10 - // Page number width
                  10 - // Slash width
                  (`${pagesCount}`.length - 1) - // Page count width
                  10 - // 1/2 Margin
                    (this.addPrintingMargins ? prMargin : 0), // Printing margin
                  pageHeight - 20 - (this.addPrintingMargins ? prMargin : 0),
                  `${i}/${pagesCount}`
                );
              }

              if (isForPrinting) {
                doc.autoPrint();
                window.open(doc.output("bloburl"), "_self");
              } else {
                doc.save(`${this.problem.description}.pdf`);
              }

              this.printing = false;
            });
          },
          error => {
            console.error(error);
          }
        );
      };

      if (this.printer.count === 0) {
        this.autoGeneratePrinters(executePrintSave);
      } else {
        executePrintSave();
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~Styles/_config.scss";
.printer-bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background-color: $colorAzulBase;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;
  .printer-count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    span {
      color: #fff;
      font-family: $fontFilsonBold;
      text-transform: uppercase;
      font-size: 110%;
    }
  }
  .actions {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .printing-margins {
      @include escalar(1.2);
      cursor: pointer;
      margin: 0 7px;
    }
    button,
    select {
      background-color: $colorAzulMedio;
      border-radius: 4px;
      padding: 0 7px;
      height: 30px;
      color: #fff;
      font-family: $fontMontserratSemiBold;
      font-size: 95%;
      @include ease-transition;
      cursor: pointer;
      border: 0;
      margin: 0 7px;
      &:disabled {
        cursor: auto;
        opacity: 0.5;
      }
      &:hover:not(:disabled) {
        background-color: #024e65;
      }
      &:focus {
        text-shadow: 0 0 0 #000;
        outline: none;
      }
      &.print {
        background-color: $colorVerdeOscuro;
        &:hover {
          background-color: #2d9f37;
          @include sombra(0 0 3px 0 #000);
        }
      }
      &.warning {
        background-color: $colorNaranjaBase;
        &:hover {
          background-color: $colorNaranjaOscuro;
          @include sombra(0 0 3px 0 #000);
        }
      }
    }
    .printing {
      margin-left: 5px;
      svg {
        color: #fff;
      }
    }
  }
  .close {
    button {
      background-color: $colorNaranjaBase;
      border-radius: 4px;
      padding: 0 7px;
      height: 30px;
      color: #fff;
      font-family: $fontMontserratSemiBold;
      font-size: 95%;
      @include ease-transition;
      cursor: pointer;
      border: 0;
      margin: 0 7px;
      &:hover {
        background-color: $colorNaranjaOscuro;
      }
      &:focus {
        text-shadow: 0 0 0 #000;
        outline: none;
      }
    }
  }
}
</style>
