doctype html
html(lang="es", ng-app="MainApp")
  head
    title clonegen
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(property='og:title', content='clonegen')
    //- meta(property='og:description', content='')
    //- meta(property='og:image', content='')
    //- meta(property='og:url', content='')
    meta(name='twitter:card', content='summary_large_image')
    meta(property='og:site_name', content='clonegen')
    meta(name='twitter:image:alt', content='Logo')
    link(rel="stylesheet", href="/node_modules/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/node_modules/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="/css/style.min.css")
    link(rel="shortcut icon", type="image/x-icon", href="/assets/images/favicon.ico")
    base(href="/")
  body(ng-controller="mainController", class="{{bodyClass}}", ng-cloak)

    .contenedor-principal
      
      main-menu

      section.contenido
        div(ng-view, autoscroll="true")

      footer-section

    script(src="/node_modules/jquery/dist/jquery.min.js")
    script(src="/node_modules/bootstrap/dist/js/bootstrap.min.js")
    script(src="/node_modules/angular/angular.min.js")
    script(src="/node_modules/angular-route/angular-route.min.js")
    script(src="/node_modules/angular-touch/angular-touch.min.js")

    script(src="/js/libs.min.js")

    script(src="/js/app.min.js")

    script(src="https://cdn.macherit.com/developedby/script.js", async)
