<template lang="pug">
  .popup-filler
    .title
      span Export the map
    .body
      .action
        span Download image:
        button(@click="createIMG", title="Create IMG")
          font-awesome-icon(icon="image")
      .action
        span Download excel:
        button(@click="createXLS", title="Create XLS")
          font-awesome-icon(icon="file-excel")
      .loading(v-if="loading")
        font-awesome-icon(icon="circle-notch", spin)
</template>

<script>
import { mapState } from 'vuex';

const generateDownloadLink = (href, fileName) => {
  const link = document.createElement('a');
  link.href = href;
  link.download = fileName;
  document.body.append(link);
  link.click();
  document.body.removeChild(link);
};

const imgUrlToData = (url, callback) => {
  const canvas = document.createElement('canvas');
  const context = canvas.getContext('2d');
  const baseImage = new Image();
  baseImage.crossOrigin = 'anonymous'; // This enables CORS
  baseImage.onload = function() {
    canvas.setAttribute('width', this.width);
    canvas.setAttribute('height', this.height);
    context.drawImage(this, 0, 0, this.width, this.height);
    callback(canvas.toDataURL());
  };
  baseImage.src = url;
};

export default {
  data() {
    return {
      loading: false,
    };
  },
  computed: {
    ...mapState('problem', ['problem']),
  },
  methods: {
    createIMG() {
      this.loading = true;
      const dupSVG = document.querySelector('#diagram svg').cloneNode(true);
      const svgWidth = dupSVG.style.minWidth;
      const svgHeight = dupSVG.style.minHeight;
      let proms = [];
      dupSVG.querySelectorAll('image').forEach(image => {
        const imgHref = image.getAttribute('xlink:href');
        if (
          imgHref.toLowerCase().indexOf('png') >= 0 ||
          imgHref.toLowerCase().indexOf('jpeg') >= 0 ||
          imgHref.toLowerCase().indexOf('jpg') >= 0
        ) {
          proms.push(
            new Promise((resolve, reject) => {
              imgUrlToData(imgHref, dataUrl => {
                image.setAttribute('xlink:href', dataUrl);
                resolve();
              });
            }),
          );
        } else {
          image.remove();
        }
      });

      Promise.all(proms).then(() => {
        //   // make it base64
        dupSVG.querySelectorAll('foreignObject').forEach(fo => {
          const txt = document.createElement('text');
          txt.setAttribute('x', '0');
          txt.setAttribute('y', '0');
          txt.setAttribute('font-size', '15');
          txt.setAttribute('font-family', 'courier new');
          txt.setAttribute('dy', '0');
          fo.querySelector('div > div')
            .innerHTML.match(/.{1,15}/g)
            .map(l => {
              const tspan = document.createElement('tspan');
              tspan.innerHTML = l.trim();
              tspan.setAttribute('x', '3');
              tspan.setAttribute('dy', '15');
              txt.appendChild(tspan);
            });

          fo.parentNode.replaceChild(txt, fo);
        });

        dupSVG.setAttribute('xmlns', 'http://www.w3.org/2000/svg');
        dupSVG.setAttribute('xmlns:xlink', 'http://www.w3.org/1999/xlink');
        dupSVG.setAttribute('xml:space', 'preserve');

        dupSVG.setAttribute('width', parseInt(svgWidth) + 10 + 'px');
        dupSVG.setAttribute('height', parseInt(svgHeight) + 10 + 'px');

        const svgString = new XMLSerializer().serializeToString(dupSVG);

        const DOMURL = window.URL || window.webkitURL || window;

        this.$http({
          method: 'POST',
          url: '/api/svgconverter',
          body: {
            svgString,
          },
        }).then(
          ({ data }) => {
            generateDownloadLink('data:image;base64,' + data.image, 'Exported chart.png');
            this.loading = false;
          },
          error => {
            console.error(error);
          },
        );
      });
    },
    createXLS() {
      this.loading = true;
      let qI = 0;
      this.problem.causes.map(c => {
        if (c.ideas && c.ideas.length > 0) {
          let q = c.ideas.filter(i => i.description).length;
          if (q > qI) {
            qI = q;
          }
        }
      });
      let content = '';
      content += '<tr>';
      content += `<td>Problem</td>`;
      content += `<td>Causes</td>`;
      for (let i = 0; i < qI; i += 1) {
        content += `<td>Idea ${i}</td>`;
      }
      content += '</tr>';
      this.problem.causes.map((cause, i) => {
        if (cause.description) {
          content += '<tr>';
          if (i === 0) {
            content += `<td>${this.problem.description}</td>`;
          } else {
            content += '<td></td>';
          }
          content += `<td>${cause.description}</td>`;
          cause.ideas.map(idea => {
            if (idea.description) {
              content += `<td>${idea.description}</td>`;
            }
          });
          content += '</tr>';
        }
      });
      const table = `<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><meta http-equiv="content-type" content="application/vnd.ms-excel; charset=UTF-8"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table border="1px">${content}</table></body></html>`;
      const baseXlsData = 'data:application/vnd.ms-excel;charset=utf-8;base64,';
      const href = baseXlsData + window.btoa(unescape(encodeURIComponent(table)));
      generateDownloadLink(href, `${this.problem.description}.xls`);
      this.loading = false;
    },
  },
};
</script>

<style lang="scss" scoped>
@import '~Styles/_config.scss';
.popup-filler {
  .body {
    justify-content: center;
    align-items: center;
    position: relative;
    .action {
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        margin-right: 10px;
        color: $colorAzulBase;
        font-family: $fontMontserratMedium;
      }
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        @include minmaxwh(55px);
        border-radius: 50%;
        border: 0;
        background-color: $colorAzulClaro;
        margin: 10px;
        cursor: pointer;
        svg {
          font-size: 200%;
          color: #fff;
        }
      }
    }
    .loading {
      position: absolute;
      right: 30px;
      bottom: 30px;
    }
  }
}
</style>
