<template lang="pug">
  .popup-filler
    .title
      span Load a saved problem
    .body
      ul
        li(
          v-for="problem in problemList"
          :key="problem._id"
          @click="setActiveProblem(problem)")
          .description
            font-awesome-icon(
              icon="share"
              v-if="problem.owner !== user._id")
            span {{problem.description}}
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex';

export default {
  data() {
    return {
      problemList: [],
    };
  },
  computed: {
    ...mapState('users', ['token']),
    ...mapGetters('users', ['user']),
  },
  mounted() {
    this.$http({
      method: 'GET',
      url: '/api/problems/my',
      headers: {
        Authorization: `Bearer ${this.token}`,
      },
    }).then(
      ({ data }) => {
        this.problemList = data;
      },
      error => {
        console.error(error);
      },
    );
  },
  methods: {
    ...mapActions('general', ['hidePopup']),
    ...mapActions('problem', ['setProblem', 'setLoadedProblem']),
    setActiveProblem(problem) {
      this.setProblem(problem);
      this.setLoadedProblem();
      this.hidePopup();
    },
  },
};
</script>

<style lang="scss" scoped>
@import '~Styles/_config.scss';
.popup-filler {
  ul {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    li {
      list-style: none;
      padding: 15px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      @include ease-transition;
      cursor: pointer;
      &:not(:last-of-type) {
        border-bottom: 1px solid #ccc;
      }
      &:nth-of-type(even) {
        background-color: #e9e9e9;
      }
      &:hover {
        background-color: #e0e0e0;
      }
      .description {
        display: flex;
        svg {
          margin-right: 10px;
        }
      }
    }
  }
}
</style>
