<template lang="pug">
  .popup-filler
    .title
      span Share the map
    .body
      .public-share
        #problem-abs-url
          input(
            type="text"
            v-model="problemUrl"
            readonly
            @click="copyProblemLink"
            title="Click to copy")
          span copy
        .public
          span {{problem.public ? 'Public' : 'Private'}}
          label.switch
            input(
              type='checkbox'
              :checked="problem.public"
              @change="togglePublic")
            span.slider.round
      form(@submit.prevent="allowUser", novalidate)
        input(
          type="email"
          placeholder="Email of the user to share the map with"
          v-validate="'required|email'"
          name="email"
          v-model="shareEmail")
        .subm-loading
          .loading(v-if="sent")
            font-awesome-icon(icon="circle-notch", spin)
          input(
            type="submit"
            value="Share!"
            :disabled="!validForm || sent")
      ul
        li
          .email
            span USER
          .permissions-remove
            .permissions
              .permission.view
                span View
              .permission.edit
                span Edit
            .remove
        li(
          v-for="(user, index) in problem.allowed"
          :key="index")
          .email
            span {{user.email}}
          .permissions-remove
            .permissions
              .permission.view
                input(
                  type="radio"
                  v-model="user.permission"
                  value="view"
                  @click="setPermission(user.email, 'view')")
              .permission.edit
                input(
                  type="radio"
                  v-model="user.permission"
                  value="edit"
                  @click="setPermission(user.email, 'edit')")
            .remove(@click="removeUser(index)")
              font-awesome-icon(icon="times")
</template>

<script>
import { mapState } from 'vuex';

export default {
  data() {
    return {
      shareEmail: '',
      sent: false,
    };
  },
  computed: {
    ...mapState('users', ['loggedIn', 'token']),
    ...mapState('problem', ['problem']),
    problemUrl() {
      let out = '';
      if (this.problem._id) {
        out = window.location.protocol + '//' + window.location.host + '/p/' + this.problem._id;
      }
      return out;
    },
  },
  methods: {
    allowUser() {
      this.sent = true;
      this.$http({
        method: 'PUT',
        url: `/api/problems/allow/${this.problem._id}`,
        body: {
          email: this.shareEmail,
          permission: 'view',
        },
        headers: {
          Authorization: `Bearer ${this.token}`,
        },
      }).then(
        ({ status, data }) => {
          this.sent = false;
          this.problem.allowed = data.allowed;
        },
        error => {
          this.sent = false;
          console.error(error);
        },
      );
    },
    setPermission(email, permission) {
      this.sent = true;
      this.$http({
        method: 'PUT',
        url: `/api/problems/allow/${this.problem._id}`,
        body: {
          email: email,
          permission: permission,
        },
        headers: {
          Authorization: `Bearer ${this.token}`,
        },
      }).then(
        ({ status, data }) => {
          this.sent = false;
          this.problem.allowed = data.allowed;
        },
        error => {
          this.sent = false;
          console.error(error);
        },
      );
    },
    removeUser(index) {
      this.sent = true;
      this.$http({
        method: 'PUT',
        url: `/api/problems/disallow/${this.problem._id}`,
        body: {
          email: this.problem.allowed[index].email,
        },
        headers: {
          Authorization: `Bearer ${this.token}`,
        },
      }).then(
        ({ status, data }) => {
          this.sent = false;
          this.problem.allowed = data.allowed;
          this.shareEmail = null;
        },
        error => {
          this.sent = false;
          console.error(error);
        },
      );
    },
    copyProblemLink() {
      const copyText = document.querySelector('#problem-abs-url input');
      copyText.select();
      document.execCommand('copy');
      document.querySelector('#problem-abs-url span').innerHTML = 'copied!';
    },
    togglePublic() {
      let state = true;
      let url = `/api/problems/${this.problem._id}/public`;
      if (this.problem.public) {
        url = `/api/problems/${this.problem._id}/unpublic`;
        state = false;
      }
      this.$http({
        method: 'PUT',
        url,
        headers: {
          Authorization: `Bearer ${this.token}`,
        },
      }).then(
        ({ status }) => {
          if (status === 200) {
            this.problem.public = state;
          }
        },
        error => {
          console.error(error);
        },
      );
    },
  },
};
</script>

<style lang="scss" scoped>
@import '~Styles/_config.scss';
.popup-filler {
  .body {
    justify-content: center;
    align-items: center;
    padding: 20px;
    .public-share {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: 2px solid $colorAzulBase;
      width: 100%;
      #problem-abs-url {
        input {
          width: 250px;
          padding: 7px;
          background-color: #d2d2d4;
          border: 0;
          border-radius: 3px;
          color: rgba($colorAzulBase, 0.7);
          font-family: $fontMontserratMedium;
          cursor: pointer;
        }
        span {
          margin-left: 5px;
          font-size: 70%;
          font-family: $fontMontserratMediumItalic;
          color: #666;
        }
      }
      .public {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        & > span {
          margin-right: 7px;
          color: #333;
          font-family: $fontMontserratMedium;
        }
      }
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
      padding-bottom: 15px;
      border-bottom: 2px solid $colorAzulBase;
      input[type='email'] {
        width: 100%;
        margin-bottom: 10px;
        padding: 7px;
        background-color: #d2d2d4;
        border: 0;
        border-radius: 3px;
        color: $colorAzulBase;
        font-family: $fontMontserratMedium;
        &::placeholder {
          font-family: $fontMontserratMediumItalic;
        }
      }
      .subm-loading {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .loading {
          margin-right: 10px;
        }
        input[type='submit'] {
          background-color: $colorAzulBase;
          color: #fff;
          border: 0;
          padding: 5px 30px;
          border-radius: 3px;
          font-family: $fontMontserratRegular;
          text-transform: uppercase;
          @include ease-transition;
          cursor: pointer;
          &:hover {
            background-color: $colorAzulMedio;
          }
        }
      }
    }
    ul {
      padding: 0;
      margin: 0;
      overflow: auto;
      width: 100%;
      height: 100%;
      li {
        list-style: none;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include ease-transition;
        cursor: pointer;
        &:not(:last-of-type) {
          border-bottom: 1px solid #ccc;
        }
        &:nth-of-type(odd) {
          background-color: #e0e1e1;
        }
        &:nth-of-type(even) {
          background-color: #c4c4c6;
        }
        .email {
          margin-right: 5px;
          width: 100%;
          span {
            font-size: 90% !important;
            word-wrap: break-word;
            font-family: $fontMontserratSemiBold;
            color: $colorAzulBase;
          }
        }
        .permissions-remove {
          width: 30%;
          min-width: 30%;
          display: flex;
          justify-content: center;
          align-items: center;
          .permissions {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .permission {
              width: 50%;
              span {
                font-family: $fontMontserratRegular;
                color: $colorAzulBase;
                font-size: 80%;
                text-transform: uppercase;
              }
              input {
                cursor: pointer;
              }
            }
          }
          .remove {
            @include minmaxwh(30px);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            @include ease-transition;
            &:hover {
              * {
                opacity: 1;
              }
            }
            svg {
              color: $colorAzulBase;
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 15px;
  width: 15px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $colorAzulBase;
}

input:focus + .slider {
  box-shadow: 0 0 1px $colorAzulBase;
}

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>
