<template lang="pug">
  .user-section
    .name
      span {{user.name ? 'Hi, ' + user.name : user.email}}
    .avatar
      img(
        v-if="user.avatar"
        :src="user.avatar")
      img(
        v-if="!user.avatar"
        src="@/assets/img/problems/index/icon-silhouette.png")
    .drop-down-menu
      ul
        li
          router-link(to="/u") My profile
        li
          router-link(to="/contact") Contact Us
        li
          router-link(to="/logout") Logout
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  computed: {
    ...mapGetters('users', ['user']),
  },
};
</script>

<style lang="scss" scoped>
@import '~Styles/_config.scss';
.user-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  position: relative;
  min-width: 200px;
  &:hover {
    .drop-down-menu {
      height: 120px;
    }
  }
  .name {
    margin-right: 20px;
    span {
      color: #fff;
      font-family: $fontMontserratRegular;
      font-size: 120%;
    }
  }
  .avatar {
    @include minmaxwh(65px);
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 3px solid #fff;
    @include sombra(0 1px 3px 0 $colorAzulBase);
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .drop-down-menu {
    position: fixed;
    top: 12vh;
    right: 30px;
    z-index: 5;
    width: 200px;
    background-color: #fff;
    border-radius: 0 0 7px 7px;
    @include sombra(0 2px 2px 0 #333);
    overflow: hidden;
    height: 0;
    @include ease-transition;
    ul {
      padding: 0;
      margin: 0;
      width: 100%;
      li {
        list-style: none;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        &:not(:last-of-type) {
          border-bottom: 1px solid #ccc;
        }
        &:last-of-type {
          a {
            border-radius: 0 0 7px 7px;
          }
        }
        a {
          width: 100%;
          height: 40px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding: 0 15px;
          cursor: pointer;
          @include ease-transition;
          color: $colorAzulBase;
          font-family: $fontMontserratRegular;
          &:hover {
            background-color: #ccc;
          }
        }
      }
    }
  }
}
</style>
