<template lang="pug">
  .upper-bar
    span hola
    div(style="display: block; position: relative; min-width: 200px; min-height: 200px; background-color: red;")
    .main-menu
    .login-logout(@click="toggleVisibleLogin")
      .user
        span {{user.email}}
      .icon
        font-awesome-icon(icon="user-circle")
      .login-register-popup(
        :class="{visibleLogin, loggedIn, passRecovery}")
        register-login(v-if="!loggedIn && !passRecovery")
        logout(v-if="loggedIn && !passRecovery")
        .recover-password(
          v-if="!loggedIn && !passRecovery"
          @click="togglePassRecovery")
          span Forgot your password?
        .go-back(
          v-if="!loggedIn && passRecovery"
          @click="togglePassRecovery")
          font-awesome-icon(icon="caret-left")
          span Go back
        pass-recovery(
          v-if="!loggedIn && passRecovery"
          :toggle-pass-recovery="togglePassRecovery")
</template>

<script>
import { mapState, mapGetters } from 'vuex';
import RegisterLogin from '@/components/User/RegisterLogin';
import Logout from '@/components/User/Logout';
import PassRecovery from '@/components/User/PassRecovery';

export default {
  components: {
    RegisterLogin,
    Logout,
    PassRecovery,
  },
  data() {
    return {
      passRecovery: false,
      visibleLogin: false,
    };
  },
  computed: {
    ...mapState('users', ['loggedIn']),
    ...mapGetters('users', ['user']),
  },
  mounted() {
    window.addEventListener('click', ev => {
      if (this.visibleLogin && !document.querySelector('.login-logout').contains(ev.target)) {
        this.visibleLogin = false;
      }
    });
  },
  methods: {
    toggleVisibleLogin() {
      if (this.visibleLogin) {
        this.visibleLogin = false;
      } else {
        this.visibleLogin = true;
      }
    },
    togglePassRecovery() {
      if (this.passRecovery) {
        this.passRecovery = false;
      } else {
        this.passRecovery = true;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import '~Styles/_config.scss';

.upper-bar {
  position: absolute;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  right: 0;
  top: 0;
  .login-logout {
    position: absolute;
    right: 15px;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon {
      cursor: pointer;
      @include minmaxwh(48px);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .login-register-popup {
      position: fixed;
      @include ease-transition;
      display: none;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: #fff;
      top: 48px;
      right: 15px;
      border: 1px solid #ccc;
      border-radius: 10px;
      &.visibleLogin,
      &:hover {
        display: flex;
      }
      &.loggedIn {
        min-height: 0;
        height: auto;
        width: auto;
        padding: 15px;
      }
      &.passRecovery {
        min-width: 500px;
        min-height: 300px;
      }
      .recover-password {
        margin: 15px 0;
        cursor: pointer;
        &:hover > span {
          text-decoration: underline;
        }
        span {
          color: #0094ff;
        }
      }
      .go-back {
        margin-top: 15px;
        cursor: pointer;
        &:hover > span {
          text-decoration: underline;
        }
        span {
          margin-left: 5px;
        }
        * {
          color: #0094ff;
        }
      }
    }
  }
}
</style>
