<template lang="pug">
  #popup
    .black-screen(@click="hidePopup")
    .popup-content(
      :class="popupWidth")
      .close-popup(@click="hidePopup")
        font-awesome-icon(icon="times")
      slot
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  mounted() {
    const handleKeyUp = ev => {
      if (ev.which === 27) {
        window.removeEventListener('keyup', handleKeyUp);
        this.hidePopup();
      }
    };
    window.addEventListener('keyup', handleKeyUp);
  },
  computed: {
    ...mapState('general', ['popup']),
    popupWidth() {
      if (this.popup.width) {
        return `w-${this.popup.width}`;
      } else {
        return '';
      }
    },
  },
  methods: {
    ...mapActions('general', ['hidePopup']),
  },
};
</script>

<style lang="scss">
@import '~Styles/_config.scss';
#popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  .black-screen {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #0007;
  }
  .popup-content {
    position: relative;
    background-color: #fff;
    @include sombra(0 0 3px 0 #000);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    height: 70vh;
    border-radius: 7px;
    &.w-60 {
      width: 60vw;
    }
    &.w-70 {
      width: 70vw;
    }
    &.w-80 {
      width: 80vw;
    }
    .close-popup {
      position: absolute;
      right: 5px;
      top: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include minmaxwh(35px);
      opacity: 0.8;
      @include ease-transition;
      cursor: pointer;
      z-index: 7;
      &:hover {
        opacity: 1;
      }
      svg {
        color: #fff;
      }
    }
    .popup-filler {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      .title {
        width: 100%;
        text-transform: uppercase;
        padding: 15px;
        padding-right: 50px;
        background-color: $colorAzulClaro;
        border-radius: 7px;
        @include sombra(0 2px 2px 0 #444);
        position: relative;
        z-index: 5;
        span {
          color: #fff;
          font-family: $fontMontserratBold;
          font-size: 115%;
        }
      }
      .body {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: #f9f9f9;
        overflow: auto;
        border-radius: 0 0 7px 7px;
      }
    }
  }
}
</style>
