#navbar
  ul
    li
      a(href="/", ng-class="{active: bodyClass.indexOf('home') >= 0}", esconde-menu)
        span Inicio
    li
      a(scroll-to-contacto, esconde-menu)
        span Contacto
.redes-sociales
  ul
    li
      a(href='https://www.youtube.com/channel/clonegen', target='_blank')
        i.fa.fa-youtube
    li
      a(href='https://www.facebook.com/clonegen/', target='_blank')
        i.fa.fa-facebook
    li
      a(href='https://twitter.com/clonegen', target='_blank')
        i.fa.fa-twitter
