<template lang="pug">
  .login
    form(@submit.prevent="doLogin", novalidate)
      .field
        span.label Email
        input(
          type="email"
          placeholder="Email"
          v-validate="'required|email'"
          name="email"
          v-model="user.email")
      .field
        span.label Password
        input(
          type="password"
          placeholder="Password"
          v-validate="'required'"
          name="password"
          v-model="user.password")
      .subm
        input(
          type="submit"
          value="Login"
          :disabled="!validForm || sent")
        .loading(v-if="sent")
          font-awesome-icon(icon="circle-notch", spin)
    .flash
      .answer(v-if="answer")
        span {{answer}}
</template>

<script>
import { mapActions, mapState } from 'vuex';

export default {
  data() {
    return {
      sent: false,
      user: {
        email: '',
        password: '',
      },
      answer: '',
    };
  },
  computed: {
    ...mapState('users', ['loggedIn']),
  },
  watch: {
    loggedIn: function(newVal, oldVal) {
      if (newVal && newVal !== oldVal) {
        window.location.replace('/problems');
      }
    },
  },
  methods: {
    ...mapActions('users', ['login']),
    doLogin() {
      if (this.dirtyForm && this.validForm) {
        this.sent = true;
        this.answer = '';
        this.login({
          email: this.user.email,
          password: this.user.password,
          callback: (error, res) => {
            this.sent = false;
            if (error) {
              if (error.status === 409) {
                this.answer = 'The account requires verification, please check your email';
              } else if (error.status === 401) {
                this.answer = 'Failed login, verify the fields';
              }
            } else {
              this.user = {
                email: '',
                password: '',
              };
              this.$router.replace('/problems');
            }
          },
        });
      } else {
        this.$validator.validateAll();
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import '~Styles/config';
.login {
  width: 100%;
  form {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    .field {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      margin-right: 10px;
      span.label {
        font-family: $fontMontserratRegular;
        text-transform: uppercase;
        color: #333;
        padding: 7px;
      }
      input {
        border: 0;
        background-color: $colorAzulClaro;
        width: 100%;
        height: 35px;
        padding: 0 8px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #000;
        font-family: $fontMontserratSemiBold;
        border-radius: 4px;
        @include ease-transition;
        &:focus {
          @include sombra(inset 0 0 3px 0 $colorAzulBase);
        }
      }
    }
    .subm {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      input[type='submit'] {
        border: 0;
        background-color: $colorAzulBase;
        width: 100%;
        height: 35px;
        padding: 0 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-family: $fontMontserratSemiBold;
        border-radius: 4px;
        cursor: pointer;
        &:disabled {
          opacity: 0.7;
        }
        &:hover,
        &:focus {
          text-shadow: 0 0 0 #000;
          outline: none;
          @include sombra(0 0 3px 0 #333);
        }
      }
      .loading {
        margin-left: 7px;
      }
    }
  }
  .flash {
    margin: 15px 0;
    height: 35px;
    width: 100%;
    .answer {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      padding: 0 50px;
      background-color: rgba($colorNaranjaOscuro, 0.3);
      span {
        font-size: 90%;
        text-align: center;
        color: #444;
        font-family: $fontMontserratSemiBold;
      }
    }
  }
}
</style>
