<template lang="pug">
  .top-bar
    .left-menu
      .link(v-if="pageName !== 'Home'")
        router-link(to="/") Home
      .link
        router-link(to="/features") Features
      .link
        router-link(to="/pricing") Pricing
      .link
        router-link(to="/tutorial") Tutorial
      .link
        router-link(to="/contact") Contact Us
    .right-menu
      .link(v-if="!loggedIn")
        router-link(to="/u/signup") Sign up
      .link.log-in(v-if="!loggedIn")
        div(@click="focusLogin") Log in
</template>

<script>
import { mapState } from 'vuex';

export default {
  data() {
    return {
      pageName: this.$route.name,
    };
  },
  computed: {
    ...mapState('users', ['loggedIn']),
  },
  methods: {
    focusLogin() {
      if (document.querySelector('.login-form .login input[name=email]')) {
        document.querySelector('.login-form .login input[name=email]').focus();
        window.scrollTo(0, window.innerHeight);
      } else {
        this.$router.push('/', () => {
          this.$nextTick(() => {
            document.querySelector('.login-form .login input[name=email]').focus();
            window.scrollTo(
              0,
              document.querySelector('.login-form .login input[name=email]').offsetTop
                ? document.querySelector('.login-form .login input[name=email]').offsetTop
                : window.innerHeight,
            );
          });
        });
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import '~Styles/_config.scss';
.top-bar {
  background-color: $colorAzulBase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 25px;
  @include sombra(0 0 3px 0 #000);
  position: relative;
  z-index: 5;
  .left-menu,
  .right-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    .link {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 15px;
      &.log-in {
        div {
          background-color: $colorAzulClaro;
          border-radius: 4px;
          &:focus {
            text-shadow: 0 0 0 #000;
            outline: none;
          }
          &:hover {
            background-color: $colorAzulMedio;
            @include sombra(0 0 0 0 #fff);
          }
        }
      }
      a,
      div {
        padding: 5px 13px;
        color: #fff;
        font-family: $fontMontserratRegular;
        font-size: 135%;
        @include ease-transition;
        cursor: pointer;
        &:hover {
          @include sombra(0 2px 0 0 #fff);
        }
      }
    }
  }
}
</style>
