<template lang="pug">
  .contact
    p Contact Us
    form(@submit.prevent="sendMail", novalidate)
      .field
        input(
          type="text"
          placeholder="Name"
          v-validate="'required'"
          name="name"
          v-model="contact.name"
          v-if="!loggedIn")
        span.replace-input(v-if="loggedIn") {{user.name}}
      .field
        input(
          type="email"
          placeholder="Email"
          v-validate="'required|email'"
          name="email"
          v-model="contact.email"
          v-if="!loggedIn")
        span.replace-input(v-if="loggedIn") {{user.email}}
      .field
        input(
          type="text"
          placeholder="Subject"
          v-validate="'required'"
          name="subject"
          v-model="contact.subject")
      .field
        textarea(
          placeholder="Comment"
          v-validate="'required'"
          name="comment"
          v-model="contact.comment")
      .subm-flash
        .flash(v-if="answer", :class="{'fail-contact': failContact}")
          span {{answer}}
        .subm(v-if="!answer || failContact")
          .loading(v-if="sent")
            font-awesome-icon(icon="circle-notch", spin)
          input(
            type="submit"
            value="Contact!"
            :disabled="!validForm || sent")
</template>

<script>
import { mapState, mapGetters } from 'vuex';

export default {
  data() {
    return {
      sent: false,
      contact: {
        name: '',
        email: this.loggedIn ? this.user.email : '',
        subject: '',
        comment: '',
      },
      answer: '',
      failContact: false,
    };
  },
  computed: {
    ...mapState('users', ['loggedIn']),
    ...mapGetters('users', ['user']),
  },
  methods: {
    sendMail() {
      if (this.dirtyForm && this.validForm) {
        this.sent = true;
        this.failContact = false;
        this.answer = '';
        this.contact.name = this.loggedIn ? this.user.name : this.contact.name;
        this.contact.email = this.loggedIn ? this.user.email : this.contact.email;
        this.$http({
          method: 'POST',
          url: '/api/mailing/contact',
          body: this.contact,
        }).then(
          ({ status }) => {
            if (status === 200) {
              this.sent = false;
              this.answer = "We've received your request, we'll contact you soon.";
            }
          },
          ({ data }) => {
            this.sent = false;
            this.failContact = true;
            console.error(data);
            this.answer = "There's been an error, please try again later.";
          },
        );
      } else {
        this.$validator.validateAll();
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import '~Styles/config';
.contact {
  width: 100%;
  & > p {
    font-family: $fontMontserratBold;
    font-size: 130%;
    text-transform: uppercase;
    color: $colorAzulBase;
  }
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    .field {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      margin-bottom: 15px;
      span.label {
        font-family: $fontMontserratRegular;
        text-transform: uppercase;
        color: #333;
        padding: 7px;
      }
      input,
      textarea,
      span.replace-input {
        border: 0;
        background-color: $colorAzulClaro;
        width: 100%;
        height: 35px;
        padding: 0 8px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #000;
        font-family: $fontMontserratSemiBold;
        border-radius: 4px;
        font-size: 90%;
        @include ease-transition;
        &:focus {
          @include sombra(inset 0 0 3px 0 $colorAzulBase);
        }
      }
      textarea {
        height: 150px;
        resize: none;
        padding: 8px;
      }
      span.replace-input {
        color: #333;
        @include grayscale(0.6);
      }
    }
    .subm-flash {
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      .flash {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        padding: 0 50px;
        background-color: rgba($colorVerdeOscuro, 0.3);
        &.fail-contact {
          background-color: rgba($colorNaranjaOscuro, 0.3);
        }
        span {
          text-align: center;
          color: #444;
          font-family: $fontMontserratSemiBold;
        }
      }
      .subm {
        width: 100%;
        min-width: 35%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .loading {
          margin-right: 10px;
        }
        input[type='submit'] {
          border: 0;
          background-color: $colorAzulBase;
          width: 100px;
          height: 35px;
          padding: 0 8px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          font-family: $fontMontserratSemiBold;
          border-radius: 4px;
          cursor: pointer;
          &:disabled {
            opacity: 0.7;
          }
          &:hover,
          &:focus {
            text-shadow: 0 0 0 #000;
            outline: none;
            @include sombra(0 0 3px 0 #333);
          }
        }
      }
    }
  }
}
</style>
