<template lang="pug">
  .contact
    TopBar(v-if="!loggedIn")
    .top-bar-logged-in(v-if="loggedIn")
      .actions
        .action(@click="$router.go(-1)")
          font-awesome-icon(icon="arrow-left")
      .title
        span Contact Us
    .body
      .decoration-top-left
        img(src="@/assets/img/home/decoration-top-left.png")
      .center-content
        Contact
      .decoration-bottom-right
        img(src="@/assets/img/home/decoration-bottom-right.png")
</template>

<script>
import { mapState } from 'vuex';

import Contact from '@/components/Contact/Contact';
import TopBar from '@/components/Home/TopBar';

export default {
  components: {
    Contact,
    TopBar,
  },
  computed: {
    ...mapState('users', ['loggedIn']),
  },
  methods: {
    focusLogin() {
      if (document.querySelector('.login-form .login input[name=email]')) {
        document.querySelector('.login-form .login input[name=email]').focus();
        window.scrollTo(0, window.innerHeight);
      } else {
        this.$router.push('/', () => {
          this.$nextTick(() => {
            document.querySelector('.login-form .login input[name=email]').focus();
            window.scrollTo(0, window.innerHeight);
          });
        });
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import '~Styles/_config.scss';
.contact {
  .top-bar-logged-in {
    background-color: $colorAzulBase;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    padding: 0 25px;
    @include sombra(0 0 3px 0 #000);
    position: relative;
    z-index: 5;
    .actions {
      .action {
        @include minmaxwh(50px);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        @include ease-transition;
        &:hover {
          @include sombra-arrojada(0 0 3px $colorAzulClaro);
        }
        svg {
          color: #fff;
          font-size: 150%;
        }
      }
    }
    .title {
      margin-left: 20px;
      span {
        font-family: $fontMontserratRegular;
        color: #fff;
        font-size: 160%;
      }
    }
  }
  .body {
    position: relative;
    background-color: $colorGrisClaro;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    .decoration-top-left {
      position: absolute;
      left: 0;
      top: 0;
      width: 70vw;
      z-index: 0;
      img {
        object-fit: contain;
        width: 100%;
      }
    }
    .center-content {
      width: 40%;
      position: relative;
      z-index: 1;
    }
    .decoration-bottom-right {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 25vw;
      z-index: 0;
      img {
        object-fit: contain;
        width: 100%;
      }
    }
  }
}
</style>
