<template lang="pug">
  .popup-filler
    .title
      span Set rating for an idea
    .body
      .table
        .row
          .section-title
          .fields
            .cell
              span Cost
            .cell
              span Time
            .cell
              span Resources
            .cell
              span Total
        .row
          .section-title
            span Rating for each idea
          .fields
            .cell
              input(
                type="text"
                required
                :placeholder="0"
                v-model="selectedNode.calculus.rating.cost")
            .cell
              input(
                type="text"
                required
                :placeholder="0"
                v-model="selectedNode.calculus.rating.time")
            .cell
              input(
                type="text"
                required
                :placeholder="0"
                v-model="selectedNode.calculus.rating.resources")
            .cell
              input(
                type="number"
                placeholder="0"
                disabled
                v-model="totalRating")
        .row
          .section-title
            span Idea calculation
          .fields
            .cell
              input(
                type="number"
                disabled
                placeholder="0"
                :value="totalCost")
            .cell
              input(
                type="number"
                disabled
                placeholder="0"
                :value="totalTime")
            .cell
              input(
                type="number"
                disabled
                placeholder="0"
                :value="totalResources")
            .cell
              input(
                type="number"
                disabled
                placeholder="0"
                :value="total")
      .continue
        button(
          :disabled="totalWeights !== 1"
          @click="hidePopup") Continue
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex';

export default {
  computed: {
    ...mapState('problem', ['problem', 'selectedNode']),
    totalWeights() {
      let out = 0;
      const sum =
        parseFloat(this.problem.weights.time) +
        parseFloat(this.problem.weights.cost) +
        parseFloat(this.problem.weights.resources);
      if (sum && sum === 1) out = sum;
      return out;
    },
    totalRating() {
      let out = 0;
      const sum =
        parseFloat(this.selectedNode.calculus.rating.time) +
        parseFloat(this.selectedNode.calculus.rating.cost) +
        parseFloat(this.selectedNode.calculus.rating.resources);
      if (sum) out = sum;
      return out;
    },
    totalCost() {
      let out = 0;
      const mult =
        parseFloat(this.problem.weights.cost) * parseFloat(this.selectedNode.calculus.rating.cost);
      if (mult) out = mult;
      return out;
    },
    totalTime() {
      let out = 0;
      const mult =
        parseFloat(this.problem.weights.time) * parseFloat(this.selectedNode.calculus.rating.time);
      if (mult) out = mult;
      return out;
    },
    totalResources() {
      let out = 0;
      const mult =
        parseFloat(this.problem.weights.resources) *
        parseFloat(this.selectedNode.calculus.rating.resources);
      if (mult) out = mult;
      return out;
    },
    total() {
      let out = 0;
      const mult =
        parseFloat(this.totalCost) + parseFloat(this.totalTime) + parseFloat(this.totalResources);
      if (mult) out = mult;
      this.selectedNode.calculus.total = out;
      return out;
    },
  },
  methods: {
    ...mapActions('general', ['hidePopup']),
  },
};
</script>

<style lang="scss" scoped>
@import '~Styles/_config.scss';
.popup-filler {
  .body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .table {
      width: 80%;
      .row {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        .section-title {
          margin: 20px 0;
          width: 30%;
          span {
            color: $colorAzulBase;
            font-family: $fontMontserratMedium;
            text-transform: uppercase;
            font-size: 90%;
          }
        }
        .fields {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          width: 70%;
          .cell {
            width: 25%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            span {
              color: $colorAzulBase;
              font-family: $fontMontserratMedium;
              font-size: 95%;
            }
            flex-direction: column;
            input {
              @include ease-transition;
              &[type='number'] {
                -moz-appearance: textfield;
              }

              &::-webkit-outer-spin-button,
              &::-webkit-inner-spin-button {
                -webkit-appearance: none;
              }
              &.wrong-value {
                @include sombra(0 0 2px 1px #f00);
              }
              text-align: center;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 35px;
              width: 80px;
              padding: 7px;
              background-color: #d2d2d4;
              border: 0;
              border-radius: 3px;
              color: $colorAzulBase;
              font-family: $fontMontserratMedium;
              &::placeholder {
                font-family: $fontMontserratMediumItalic;
              }
              &:disabled {
                color: #000;
                opacity: 0.5;
                background-color: #e6e6e6;
              }
            }
            .remain {
              margin-top: 3px;
              span {
                font-size: 80% !important;
                color: #bbb;
                &.hidden {
                  opacity: 0;
                }
              }
            }
          }
        }
      }
    }
    .continue {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 15px 0;
      width: 80%;
      button {
        background-color: $colorAzulBase;
        color: #fff;
        border: 0;
        padding: 5px 30px;
        border-radius: 3px;
        font-family: $fontMontserratRegular;
        text-transform: uppercase;
        @include ease-transition;
        &:disabled {
          opacity: 0.5;
        }
        &:not(:disabled) {
          cursor: pointer;
          &:hover {
            background-color: $colorAzulMedio;
          }
        }
      }
    }
  }
}
</style>
