<template lang="pug">
  .popup-filler
    .title
      span Comments
    .body
      .adding-space
        textarea(
          placeholder="Comment"
          v-model="newComment")
        button(
          type="button"
          @click="addNewComment") Add
      ul
        li(
          v-for="(comment, index) in selectedNode.comments.list"
          :key="index")
          .user
            span {{comment.user}}:
          .comment
            p {{comment.comment}}
          .date
            span {{moment(comment.date).format('DD/MM/YY - HH:mm')}}
          .remove(@click="removeComment(index)")
            font-awesome-icon(icon="times")
</template>

<script>
import { mapState, mapGetters } from 'vuex';
import moment from 'moment';

export default {
  data() {
    return {
      moment,
      newComment: '',
    };
  },
  computed: {
    ...mapState('problem', ['problem', 'selectedNode']),
    ...mapGetters('users', ['user']),
  },
  methods: {
    addNewComment() {
      if (this.newComment) {
        const userEmail = this.user && this.user.email ? this.user.email : '';
        this.selectedNode.comments.list.push({
          user: userEmail,
          comment: this.newComment,
          date: new Date(),
        });
        this.newComment = '';
      }
    },
    removeComment(index) {
      this.selectedNode.comments.list.splice(index, 1);
    },
  },
};
</script>

<style lang="scss" scoped>
@import '~Styles/_config.scss';
.popup-filler {
  .body {
    padding: 15px;
    .adding-space {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
      padding-bottom: 10px;
      border-bottom: 2px solid $colorAzulBase;
      textarea {
        width: 100%;
        margin-bottom: 7px;
        padding: 7px;
        background-color: #d2d2d4;
        border: 0;
        resize: none;
        border-radius: 3px;
        color: $colorAzulBase;
        font-family: $fontMontserratMedium;
        &::placeholder {
          font-family: $fontMontserratMediumItalic;
        }
      }
      button {
        background-color: $colorAzulBase;
        color: #fff;
        border: 0;
        padding: 5px 30px;
        border-radius: 3px;
        font-family: $fontMontserratRegular;
        text-transform: uppercase;
        @include ease-transition;
        cursor: pointer;
        &:hover {
          background-color: $colorAzulMedio;
        }
      }
    }
    ul {
      padding: 0;
      margin: 0;
      overflow: auto;
      li {
        list-style: none;
        padding: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        @include ease-transition;
        position: relative;
        &:not(:last-of-type) {
          border-bottom: 1px solid #ccc;
        }
        &:nth-of-type(odd) {
          background-color: #e0e1e1;
        }
        &:nth-of-type(even) {
          background-color: #c4c4c6;
        }
        .user {
          margin-right: 5px;
          span {
            color: $colorAzulBase;
            font-size: 80%;
            word-wrap: break-word;
            font-family: $fontMontserratMediumItalic;
          }
        }
        .comment {
          width: 60%;
          margin-top: 3px;
          p {
            margin: 0;
            white-space: pre-line;
            font-family: $fontMontserratSemiBold;
            color: $colorAzulBase;
          }
        }
        .date {
          position: absolute;
          right: 35px;
          width: 15%;
          text-align: right;
          span {
            font-size: 75% !important;
            color: rgba($colorAzulBase, 0.9);
            font-family: $fontMontserratSemiBold;
          }
        }
        .remove {
          position: absolute;
          right: 15px;
          cursor: pointer;
          @include ease-transition;
          &:hover {
            * {
              opacity: 1;
            }
          }
          svg {
            color: $colorAzulBase;
            opacity: 0.7;
          }
        }
      }
    }
  }
}
</style>
