<template lang="pug">
  .popup-filler
    .title
      span Attach document to node
    .body
      .file-upload
        .attachment(
          @dragover="dragover"
          @dragleave="dragout"
          @drop="manageDrop"
          @mouseout="dragout"
          @change="changeHandler")
          input(
            type="file"
            accept="application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-powerpoint,application/vnd.openxmlformats-officedocument.presentationml.presentation,text/csv,application/vnd.oasis.opendocument.text,application/pdf,text/plain,application/vnd.oasis.opendocument.presentation")
          span#attach-indicator Click here or drag and drop a file to upload it
        .continue
          button(
            @click="setFile"
            :disabled="!attachment") Continue
      ul
        li(
          v-for="(file, index) in selectedNode.files.list"
          :key="index")
          .file
            a(
              :href="file.url"
              target="_blank") {{file.name}}
          .remove(@click="removeFile(index)")
            font-awesome-icon(icon="times")
</template>

<script>
import { mapState } from 'vuex';

const removeDragData = ev => {
  if (ev.dataTransfer.items) {
    ev.dataTransfer.items.clear();
  } else {
    ev.dataTransfer.clearData();
  }
  document.querySelector('.popup-filler .attachment').classList.remove('drag-file');
  document.querySelector('.popup-filler .attachment').classList.remove('drag-file-wrong');
};

export default {
  data() {
    return {
      attachment: '',
    };
  },
  watch: {
    attachment: {
      handler(newVal) {
        if (newVal) {
          if (newVal.size <= 4 * 1024 * 1024) {
            document.querySelector('.popup-filler .attachment #attach-indicator').innerHTML =
              newVal.name;
          } else {
            this.attachment = '';
            document.querySelector('.popup-filler .attachment').classList.add('drag-file-wrong');
            document.querySelector('#attach-indicator').innerHTML = 'Invalid file size';
          }
        }
      },
    },
  },
  computed: {
    ...mapState('users', ['loggedIn', 'token']),
    ...mapState('problem', ['selectedNode']),
  },
  methods: {
    manageDrop(ev) {
      ev.preventDefault();
      if (
        (ev.dataTransfer.items && ev.dataTransfer.items.length === 1) ||
        (ev.dataTransfer.files && ev.dataTransfer.files.length === 1)
      ) {
        const file = ev.dataTransfer.items[0]
          ? ev.dataTransfer.items[0].getAsFile()
          : ev.dataTransfer.files[0];

        if (
          new RegExp(
            /^(application\/msword|application\/vnd.openxmlformats-officedocument.wordprocessingml.document|application\/vnd.ms-excel|application\/vnd.openxmlformats-officedocument.spreadsheetml.sheet|application\/vnd.ms-powerpoint|application\/vnd.openxmlformats-officedocument.presentationml.presentation|text\/csv|application\/vnd.oasis.opendocument.text|application\/pdf|text\/plain|application\/vnd.oasis.opendocument.presentation)$/,
          ).test(file.type)
        ) {
          this.attachment = file;
        }
      }
      removeDragData(ev);
    },
    dragover(ev) {
      ev.preventDefault();
      if (ev.dataTransfer.items.length > 1) {
        document.querySelector('.popup-filler .attachment').classList.add('drag-file-wrong');
        document.querySelector('#attach-indicator').innerHTML =
          'You can only upload 1 file at a time';
      } else if (
        new RegExp(
          /^(application\/msword|application\/vnd.openxmlformats-officedocument.wordprocessingml.document|application\/vnd.ms-excel|application\/vnd.openxmlformats-officedocument.spreadsheetml.sheet|application\/vnd.ms-powerpoint|application\/vnd.openxmlformats-officedocument.presentationml.presentation|text\/csv|application\/vnd.oasis.opendocument.text|application\/pdf|text\/plain|application\/vnd.oasis.opendocument.presentation)$/,
        ).test(ev.dataTransfer.items[0].type)
      ) {
        document.querySelector('.popup-filler .attachment').classList.add('drag-file');
      } else {
        document.querySelector('.popup-filler .attachment').classList.add('drag-file-wrong');
        document.querySelector('#attach-indicator').innerHTML = 'The selected file is invalid';
      }
    },
    dragout(ev) {
      ev.preventDefault();
      if (!this.attachment) {
        document.querySelector('#attach-indicator').innerHTML =
          'Click here or drag and drop a file to upload it';
      } else {
        document.querySelector('#attach-indicator').innerHTML = this.attachment.name;
      }
      document.querySelector('.popup-filler .attachment').classList.remove('drag-file');
      document.querySelector('.popup-filler .attachment').classList.remove('drag-file-wrong');
    },
    changeHandler(ev) {
      if (
        ev.target.files.length === 1 &&
        new RegExp(
          /^(application\/msword|application\/vnd.openxmlformats-officedocument.wordprocessingml.document|application\/vnd.ms-excel|application\/vnd.openxmlformats-officedocument.spreadsheetml.sheet|application\/vnd.ms-powerpoint|application\/vnd.openxmlformats-officedocument.presentationml.presentation|text\/csv|application\/vnd.oasis.opendocument.text|application\/pdf|text\/plain|application\/vnd.oasis.opendocument.presentation)$/,
        ).test(ev.target.files[0].type)
      ) {
        this.attachment = ev.target.files[0];
      }
    },
    setFile() {
      const formData = new FormData();
      formData.append('files', this.attachment);
      this.$http({
        method: 'POST',
        url: '/api/upload-file',
        body: formData,
        headers: {
          Authorization: `Bearer ${this.token}`,
        },
      }).then(
        ({ data }) => {
          this.selectedNode.files.list.push({
            url: data[0].uri,
            name: this.attachment.name,
          });
          this.attachment = '';
          document.querySelector('#attach-indicator').innerHTML =
            'Click here or drag and drop a file to upload it';
        },
        error => {
          console.error(error);
        },
      );
    },
    removeFile(index) {
      this.selectedNode.files.list.splice(index, 1);
    },
  },
};
</script>

<style lang="scss" scoped>
@import '~Styles/_config.scss';
.popup-filler {
  .body {
    padding: 15px;
    .file-upload {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
      padding-bottom: 10px;
      border-bottom: 2px solid $colorAzulBase;
      .attachment {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ccc;
        width: 100%;
        height: 80px;
        position: relative;
        @include ease-transition;
        overflow: hidden;
        background-color: #d2d2d4;
        border-radius: 4px;
        &.drag-file {
          @include sombra(0 0 0 3px #75c238);
        }
        &.drag-file-wrong {
          @include sombra(0 0 0 3px #b62929);
        }
        input {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 6;
          opacity: 0;
          cursor: pointer;
        }
        span {
          text-align: center;
          width: 80%;
          white-space: pre-line;
          padding: 0 10px;
          z-index: 5;
          opacity: 0.7;
          font-family: $fontMontserratMedium;
          color: $colorAzulBase;
        }
        img {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .continue {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 10px;
        button {
          border: 1px solid #ccc;
          border-radius: 4px;
          padding: 6px 10px;
          width: auto;
          margin-bottom: 10px;
          margin: 0;
          background-color: #eee;
          border: 0;
          cursor: pointer;
          &:not(:disabled) {
            cursor: pointer;
            &:hover {
              background-color: #999;
            }
          }
        }
      }
    }
    ul {
      padding: 0;
      margin: 0;
      overflow: auto;
      li {
        list-style: none;
        padding: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        @include ease-transition;
        cursor: pointer;
        position: relative;
        &:not(:last-of-type) {
          border-bottom: 1px solid #ccc;
        }
        &:nth-of-type(odd) {
          background-color: #e0e1e1;
        }
        &:nth-of-type(even) {
          background-color: #c4c4c6;
        }
        .file {
          a {
            color: $colorAzulBase;
          }
        }
        .remove {
          position: absolute;
          right: 15px;
          cursor: pointer;
          @include ease-transition;
          &:hover {
            * {
              opacity: 1;
            }
          }
          svg {
            color: $colorAzulBase;
            opacity: 0.7;
          }
        }
      }
    }
  }
}
</style>
