<template lang="pug">
  .popup-filler
    .title
      span Emojis
    .body
      .filter-by-name
        input(
          type="text"
          v-model="filterEmoji"
          placeholder="Filter emojis")
      .lista
        .emoji(
          v-for="emoji in EmojiList.filter(emoji => !filterEmoji || emoji.indexOf(filterEmoji) >= 0)")
          i.em(
            :class="emoji"
            @click="setEmoji")
          .caption
            span {{emoji.split('em-')[1]}}
</template>

<script>
import EmojiList from '@/assets/data/emoji-class-list.json';

export default {
  data() {
    return {
      EmojiList,
      filterEmoji: '',
    };
  },
  computed: {
    ...mapState('problem', ['selectedNode']),
  },
  methods: {
    setEmoji(ev) {
      this.selectedNode.emojis.push({
        url: getComputedStyle(ev.target)
          .backgroundImage.split('url("')[1]
          .split('")')[0],
      });
      this.closeEmojiList();
    },
  },
};
</script>

<style lang="scss" scoped>
@import '~Styles/_config.scss';
.popup-filler {
  .body {
    padding: 15px;
    .lista {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      overflow: auto;
      height: 100%;
      .emoji {
        position: relative;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @include ease-transition(50ms);
        &:hover {
          i.em {
            z-index: 5;
            @include ease-transition(50ms);
            @include escalar(2);
          }
          .caption {
            z-index: 6;
            display: table;
          }
        }
        i.em {
          border: 1px solid #ccc;
          background-color: #fff;
        }
        .caption {
          position: absolute;
          top: 150%;
          display: none;
          background-color: #fff;
          justify-content: center;
          align-items: center;
          padding: 5px;
          border: 1px solid #ccc;
          span {
            font-size: 85%;
          }
        }
      }
    }
  }
}
</style>
