<template lang="pug">
  .popup-filler
    .title
      span Attach image to node
    .body
      .adding-space
        .attachment(
          @dragover="dragover"
          @dragleave="dragout"
          @drop="manageDrop"
          @mouseout="dragout"
          @change="changeHandler")
          input(
            type="file"
            accept="image/*")
          span#attach-indicator {{!attachment ? 'Click here or drag and drop an image to upload it' : ''}}
          img#attach-image(v-if="attachment")
        .add
          button(
            @click="setImage"
            :disabled="!attachment") Add
      ul
        li(
          v-for="(image, index) in selectedNode.images"
          :key="index")
          .image
            img(:src="image.url")
          .remove(@click="removeImage(index)")
            font-awesome-icon(icon="times")
</template>

<script>
import { mapState, mapActions } from 'vuex';

const removeDragData = ev => {
  if (ev.dataTransfer.items) {
    ev.dataTransfer.items.clear();
  } else {
    ev.dataTransfer.clearData();
  }
  document.querySelector('.popup-filler .attachment').classList.remove('drag-file');
  document.querySelector('.popup-filler .attachment').classList.remove('drag-file-wrong');
};

export default {
  data() {
    return {
      attachment: '',
    };
  },
  watch: {
    attachment: {
      handler(newVal) {
        if (FileReader) {
          const fr = new FileReader();
          fr.onload = () => {
            document.querySelector('.popup-filler .attachment #attach-image').src = fr.result;
          };
          fr.readAsDataURL(newVal);
        }
      },
    },
  },
  computed: {
    ...mapState('users', ['loggedIn', 'token']),
    ...mapState('problem', ['selectedNode']),
  },
  methods: {
    ...mapActions('general', ['hidePopup']),
    manageDrop(ev) {
      ev.preventDefault();
      if (
        (ev.dataTransfer.items && ev.dataTransfer.items.length === 1) ||
        (ev.dataTransfer.files && ev.dataTransfer.files.length === 1)
      ) {
        const file = ev.dataTransfer.items[0]
          ? ev.dataTransfer.items[0].getAsFile()
          : ev.dataTransfer.files[0];

        if (new RegExp('image/*').test(file.type)) {
          this.attachment = file;
        }
      }
      removeDragData(ev);
    },
    dragover(ev) {
      ev.preventDefault();
      if (ev.dataTransfer.items.length > 1) {
        document.querySelector('.popup-filler .attachment').classList.add('drag-file-wrong');
        document.querySelector('#attach-indicator').innerHTML =
          'You can only upload 1 file at a time';
      } else if (new RegExp('image/*').test(ev.dataTransfer.items[0].type)) {
        document.querySelector('.popup-filler .attachment').classList.add('drag-file');
      } else {
        document.querySelector('.popup-filler .attachment').classList.add('drag-file-wrong');
        document.querySelector('#attach-indicator').innerHTML = 'The selected file is invalid';
      }
    },
    dragout(ev) {
      ev.preventDefault();
      document.querySelector('#attach-indicator').innerHTML =
        'Click here or drag and drop an image to upload it';
      document.querySelector('.popup-filler .attachment').classList.remove('drag-file');
      document.querySelector('.popup-filler .attachment').classList.remove('drag-file-wrong');
    },
    changeHandler(ev) {
      if (ev.target.files.length === 1 && new RegExp('image/*').test(ev.target.files[0].type)) {
        this.attachment = ev.target.files[0];
      }
    },
    setImage() {
      const formData = new FormData();
      formData.append('images', this.attachment);
      this.$http({
        method: 'POST',
        url: '/api/upload',
        body: formData,
        headers: {
          Authorization: `Bearer ${this.token}`,
        },
      }).then(
        ({ data }) => {
          this.selectedNode.images.push({ url: data[0].uri });
          this.attachment = '';
        },
        error => {
          console.error(error);
        },
      );
    },
    removeImage(index) {
      this.selectedNode.images.splice(index, 1);
    },
  },
};
</script>

<style lang="scss" scoped>
@import '~Styles/_config.scss';
.popup-filler {
  .body {
    padding: 15px;
    .adding-space {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
      padding-bottom: 10px;
      border-bottom: 2px solid $colorAzulBase;
      .attachment {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ccc;
        width: 100%;
        height: 75px;
        position: relative;
        @include ease-transition;
        overflow: hidden;
        &.drag-file {
          @include sombra(0 0 0 3px #75c238);
        }
        &.drag-file-wrong {
          @include sombra(0 0 0 3px #b62929);
        }
        input {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 6;
          opacity: 0;
          cursor: pointer;
        }
        span {
          text-align: center;
          width: 80%;
          white-space: pre-line;
          padding: 0 10px;
          z-index: 5;
          opacity: 0.7;
        }
        img {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .add {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 10px;
        button {
          background-color: $colorAzulBase;
          color: #fff;
          border: 0;
          padding: 5px 30px;
          border-radius: 3px;
          font-family: $fontMontserratRegular;
          text-transform: uppercase;
          @include ease-transition;
          opacity: 0.6;
          &:not(:disabled) {
            opacity: 1;
            cursor: pointer;
            &:hover {
              background-color: $colorAzulMedio;
            }
          }
        }
      }
    }
    ul {
      padding: 0;
      margin: 0;
      overflow: auto;
      li {
        list-style: none;
        padding: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        @include ease-transition;
        position: relative;
        height: 100px;
        &:not(:last-of-type) {
          border-bottom: 1px solid #ccc;
        }
        &:nth-of-type(odd) {
          background-color: #e0e1e1;
        }
        &:nth-of-type(even) {
          background-color: #c4c4c6;
        }
        .image {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          img {
            width: auto;
            height: 100%;
            object-fit: contain;
          }
        }
        .remove {
          position: absolute;
          right: 15px;
          cursor: pointer;
          @include ease-transition;
          &:hover {
            * {
              opacity: 1;
            }
          }
          svg {
            color: $colorAzulBase;
            opacity: 0.7;
          }
        }
      }
    }
  }
}
</style>
