<template lang="pug">
  .popup-filler
    .title
      span Add links to the node
    .body
      .adding-space
        input(type="text"
          placeholder="Link"
          v-model="newLink")
        button(
          type="button"
          @click="addNewLink") Add
      ul
        li(
          v-for="(link, index) in selectedNode.links.list"
          :key="index")
          .link
            a(
              :href="link"
              target="_blank") {{link}}
          .remove(@click="removeLink(index)")
            font-awesome-icon(icon="times")
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  data() {
    return {
      newLink: '',
    };
  },
  computed: {
    ...mapState('problem', ['selectedNode']),
  },
  methods: {
    addNewLink() {
      const link =
        this.newLink.indexOf('http://') >= 0 || this.newLink.indexOf('https://') >= 0
          ? this.newLink
          : `http://${this.newLink}`;
      this.selectedNode.links.list.push(link);
      this.newLink = '';
    },
    removeLink(index) {
      this.selectedNode.links.list.splice(index, 1);
    },
  },
};
</script>

<style lang="scss" scoped>
@import '~Styles/_config.scss';
.popup-filler {
  .body {
    padding: 15px;
    .adding-space {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
      padding-bottom: 10px;
      border-bottom: 2px solid $colorAzulBase;
      input {
        width: 100%;
        margin-bottom: 10px;
        padding: 7px;
        background-color: #d2d2d4;
        border: 0;
        border-radius: 3px;
        color: $colorAzulBase;
        font-family: $fontMontserratMedium;
        &::placeholder {
          font-family: $fontMontserratMediumItalic;
        }
      }
      button {
        background-color: $colorAzulBase;
        color: #fff;
        border: 0;
        padding: 5px 30px;
        border-radius: 3px;
        font-family: $fontMontserratRegular;
        text-transform: uppercase;
        @include ease-transition;
        cursor: pointer;
        &:hover {
          background-color: $colorAzulMedio;
        }
      }
    }
    ul {
      padding: 0;
      margin: 0;
      overflow: auto;
      li {
        list-style: none;
        padding: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        @include ease-transition;
        cursor: pointer;
        position: relative;
        &:not(:last-of-type) {
          border-bottom: 1px solid #ccc;
        }
        &:nth-of-type(odd) {
          background-color: #e0e1e1;
        }
        &:nth-of-type(even) {
          background-color: #c4c4c6;
        }
        .link {
          a {
            color: $colorAzulBase;
            font-family: $fontMontserratMedium;
          }
        }
        .remove {
          position: absolute;
          right: 15px;
          cursor: pointer;
          @include ease-transition;
          &:hover {
            * {
              opacity: 1;
            }
          }
          svg {
            color: $colorAzulBase;
            opacity: 0.7;
          }
        }
      }
    }
  }
}
</style>
