<template lang="pug">
  .popup-filler
    .title
      span Attach videos to a node
    .body
      .list-section
        .video-name
          input(
            v-model="videoName",
            placeholder="Video name")
        .new-video
          .by-link
            .section-title
              span Add video by link
            .adding-space
              input(type="text"
                placeholder="Link (youtube only)"
                v-model="newLink"
                :disabled="!videoName")
            button(
              type="button"
              @click="addNewVideo"
              :disabled="!videoName || !newLink") Add!
          .by-upload
            .section-title
              span Add video by upload
            .attachment(
              @dragover="dragover"
              @dragleave="dragout"
              @drop="manageDrop"
              @mouseout="dragout"
              @change="changeHandler")
              input(
                type="file"
                accept="video/mp4,video/x-m4v")
              span#attach-indicator Click or drag
            .continue
              button(
                @click="setVideo"
                :disabled="!attachment || !videoName") Upload
        ul
          li(
            v-for="(video, index) in selectedNode.videos.list"
            :key="index"
            @click="setActiveVideo(index)")
            .video
              span {{video.name}}
            .remove(@click="removeVideo(index)")
              font-awesome-icon(icon="times")
      .video-player
        video(
          controls=''
          v-if="videoActive && videoActive.upload")
          source(
            :src='videoActive.url'
            type='video/mp4')
        iframe(
          v-if="videoActive && !videoActive.upload"
          frameborder='0'
          scrolling='no'
          marginheight='0'
          marginwidth='0'
          :src="'https://www.youtube.com/embed/' + videoActive.url")
</template>

<script>
import { mapState } from 'vuex';

const removeDragData = ev => {
  if (ev.dataTransfer.items) {
    ev.dataTransfer.items.clear();
  } else {
    ev.dataTransfer.clearData();
  }
  document.querySelector('.popup-filler .attachment').classList.remove('drag-file');
  document.querySelector('.popup-filler .attachment').classList.remove('drag-file-wrong');
};

const youtubeParser = url => {
  let regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/;
  let match = url.match(regExp);
  return match && match[7].length == 11 ? match[7] : false;
};

export default {
  data() {
    return {
      attachment: '',
      videoName: '',
      newLink: '',
      activeVideo: 0,
    };
  },
  watch: {
    attachment: {
      handler(newVal) {
        if (newVal) {
          if (newVal.size <= 5 * 1024 * 1024) {
            document.querySelector('.popup-filler .attachment #attach-indicator').innerHTML =
              newVal.name;
          } else {
            this.attachment = '';
            document.querySelector('.popup-filler .attachment').classList.add('drag-file-wrong');
            document.querySelector('#attach-indicator').innerHTML = 'Invalid file size';
          }
        }
      },
    },
  },
  computed: {
    ...mapState('users', ['loggedIn', 'token']),
    ...mapState('problem', ['selectedNode']),
    videoActive() {
      let outVideo;
      if (this.selectedNode.videos.list[this.activeVideo])
        outVideo = this.selectedNode.videos.list[this.activeVideo];
      else if (this.selectedNode.videos.list[0]) outVideo = this.selectedNode.videos.list[0];
      else outVideo = false;
      return outVideo;
    },
  },
  methods: {
    setActiveVideo(index) {
      this.activeVideo = index;
    },
    addNewVideo() {
      this.selectedNode.videos.list.push({
        url: youtubeParser(this.newLink),
        name: this.videoName,
        upload: false,
      });
      this.newLink = '';
      this.videoName = '';
    },
    removeVideo(index) {
      this.selectedNode.videos.list.splice(index, 1);
    },
    manageDrop(ev) {
      ev.preventDefault();
      if (
        (ev.dataTransfer.items && ev.dataTransfer.items.length === 1) ||
        (ev.dataTransfer.files && ev.dataTransfer.files.length === 1)
      ) {
        const file = ev.dataTransfer.items[0]
          ? ev.dataTransfer.items[0].getAsFile()
          : ev.dataTransfer.files[0];

        if (file.type === 'video/mp4' || file.type === 'video/x-m4v') {
          this.attachment = file;
        }
      }
      removeDragData(ev);
    },
    dragover(ev) {
      ev.preventDefault();
      if (ev.dataTransfer.items.length > 1) {
        document.querySelector('.popup-filler .attachment').classList.add('drag-file-wrong');
        document.querySelector('#attach-indicator').innerHTML =
          'You can only upload 1 file at a time';
      } else if (
        ev.dataTransfer.items[0].type !== 'video/mp4' &&
        ev.dataTransfer.items[0].type !== 'video/x-m4v'
      ) {
        document.querySelector('.popup-filler .attachment').classList.add('drag-file-wrong');
        document.querySelector('#attach-indicator').innerHTML = 'The selected fIle is invalid';
      } else {
        document.querySelector('.popup-filler .attachment').classList.add('drag-file');
      }
    },
    dragout(ev) {
      ev.preventDefault();
      if (!this.attachment) {
        document.querySelector('#attach-indicator').innerHTML = 'Click or drag';
      } else {
        document.querySelector('#attach-indicator').innerHTML = this.attachment.name;
      }
      document.querySelector('.popup-filler .attachment').classList.remove('drag-file');
      document.querySelector('.popup-filler .attachment').classList.remove('drag-file-wrong');
    },
    changeHandler(ev) {
      if (
        ev.target.files.length === 1 &&
        (ev.target.files[0].type === 'video/mp4' || ev.target.files[0].type === 'video/x-m4v')
      ) {
        this.attachment = ev.target.files[0];
      }
    },
    setVideo() {
      const formData = new FormData();
      formData.append('videos', this.attachment);
      this.$http({
        method: 'POST',
        url: '/api/upload-videos',
        body: formData,
        headers: {
          Authorization: `Bearer ${this.token}`,
        },
      }).then(
        ({ data }) => {
          this.selectedNode.videos.list.push({
            url: data[0].uri,
            name: this.videoName,
            upload: true,
          });
          this.videoName = '';
        },
        error => {
          console.error(error);
        },
      );
    },
  },
};
</script>

<style lang="scss" scoped>
@import '~Styles/_config.scss';
.popup-filler {
  .body {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row !important;
    .list-section {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-right: 15px;
      .video-name {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
        padding-bottom: 15px;
        border-bottom: 1px solid $colorAzulBase;
        margin-bottom: 15px;
        input {
          width: 100%;
          padding: 7px;
          background-color: #d2d2d4;
          border: 0;
          border-radius: 3px;
          color: $colorAzulBase;
          font-family: $fontMontserratMedium;
          &::placeholder {
            font-family: $fontMontserratMediumItalic;
          }
        }
      }
      .new-video {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        height: 165px;
        padding-bottom: 15px;
        border-bottom: 1px solid $colorAzulBase;
        .by-link {
          width: 49%;
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
          flex-direction: column;
          height: 100%;
          .section-title {
            display: block;
            width: 100%;
            margin-bottom: 10px;
            span {
              font-family: $fontFilsonBold;
              color: $colorAzulBase;
              text-transform: uppercase;
              font-size: 95%;
            }
          }
          .adding-space {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 100%;
            padding-bottom: 10px;
            input {
              width: 100%;
              padding: 7px;
              background-color: #d2d2d4;
              border: 0;
              border-radius: 3px;
              color: $colorAzulBase;
              font-family: $fontMontserratMedium;
              &::placeholder {
                font-family: $fontMontserratMediumItalic;
              }
            }
          }
          button {
            background-color: $colorAzulBase;
            color: #fff;
            border: 0;
            padding: 5px 20px;
            border-radius: 3px;
            font-family: $fontMontserratRegular;
            text-transform: uppercase;
            font-size: 80%;
            @include ease-transition;
            &:disabled {
              opacity: 0.5;
            }
            &:not(:disabled) {
              cursor: pointer;
              &:hover {
                background-color: $colorAzulMedio;
                background-color: #999;
              }
            }
          }
        }
        .by-upload {
          width: 49%;
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
          flex-direction: column;
          height: 100%;
          .section-title {
            display: block;
            width: 100%;
            margin-bottom: 10px;
            span {
              font-family: $fontFilsonBold;
              color: $colorAzulBase;
              text-transform: uppercase;
              font-size: 95%;
            }
          }
          .attachment {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #ccc;
            width: 100%;
            height: 80px;
            position: relative;
            @include ease-transition;
            overflow: hidden;
            width: 100%;
            padding: 7px;
            background-color: #d2d2d4;
            border: 0;
            border-radius: 3px;
            &.drag-file {
              @include sombra(0 0 0 3px #75c238);
            }
            &.drag-file-wrong {
              @include sombra(0 0 0 3px #b62929);
            }
            input {
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              z-index: 6;
              opacity: 0;
              cursor: pointer;
            }
            span {
              display: block;
              padding: 0 10px;
              z-index: 5;
              opacity: 0.7;
              width: 100%;
              text-align: center;
              white-space: pre-line;
              word-break: break-all;
              color: $colorAzulBase;
              font-family: $fontMontserratMedium;
            }
          }
          .continue {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-top: 10px;
            button {
              background-color: $colorAzulBase;
              color: #fff;
              border: 0;
              padding: 5px 20px;
              border-radius: 3px;
              font-family: $fontMontserratRegular;
              text-transform: uppercase;
              font-size: 80%;
              @include ease-transition;
              &:disabled {
                opacity: 0.5;
              }
              &:not(:disabled) {
                cursor: pointer;
                &:hover {
                  background-color: $colorAzulMedio;
                  background-color: #999;
                }
              }
            }
          }
        }
      }
      ul {
        padding: 0;
        margin: 0;
        overflow: auto;
        height: 100%;
        width: 100%;
        li {
          list-style: none;
          padding: 15px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          @include ease-transition;
          cursor: pointer;
          position: relative;
          &:not(:last-of-type) {
            border-bottom: 1px solid #ccc;
          }
          &:nth-of-type(odd) {
            background-color: #e0e1e1;
          }
          &:nth-of-type(even) {
            background-color: #c4c4c6;
          }
          span {
            color: $colorAzulBase;
            font-family: $fontMontserratMedium;
          }
          .remove {
            position: absolute;
            right: 15px;
            cursor: pointer;
            @include ease-transition;
            &:hover {
              * {
                opacity: 1;
              }
            }
            svg {
              color: $colorAzulBase;
              opacity: 0.7;
            }
          }
        }
      }
    }
    .video-player {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 15px;
      border-radius: 4px;
      background-color: #eee;
      padding: 10px;
      @include sombra(2px 2px 3px 0 #444);
      video,
      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
}
</style>
