<template lang="pug">
  .popup-filler
    .title
      span Votes
    .body
      .voting-section
        .total
          span Total: {{totalVotes}}
        .buttons
          .vote.positive(@click="setVote(true)")
            img(
              src="@/assets/img/problems/new-edit/icon-votes.png")
          .vote.negative(@click="setVote(false)")
            img(
              src="@/assets/img/problems/new-edit/icon-votes.png")
      ul
        li(
          v-for="(vote, index) in selectedNode.votes.list"
          :key="index")
          .vote
            .user
              span {{vote.user}}
            .value
              font-awesome-icon(
                :icon="vote.vote ? 'arrow-up' : 'arrow-down'")
</template>

<script>
import { mapState, mapGetters } from 'vuex';

export default {
  computed: {
    ...mapState('problem', ['selectedNode']),
    ...mapGetters('users', ['user']),
    totalVotes() {
      return this.selectedNode.votes.list.reduce(
        (acumuator, vote) => (acumuator += vote.vote ? 1 : -1),
        0,
      );
    },
  },
  methods: {
    setVote(positive = true) {
      let vote = false;
      if (positive) {
        vote = true;
      }
      let existingVote = this.selectedNode.votes.list.find(v => v.user === this.user.email);
      if (!existingVote) {
        existingVote = {
          user: this.user.email,
          vote,
          date: new Date(),
        };
        this.selectedNode.votes.list.push(existingVote);
      } else {
        existingVote.vote = vote;
        existingVote.date = new Date();
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import '~Styles/_config.scss';
.popup-filler {
  .body {
    padding: 15px;
    .voting-section {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 0 10%;
      padding-bottom: 10px;
      border-bottom: 2px solid $colorAzulBase;
      .total {
        width: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        span {
          font-family: $fontMontserratRegular;
          color: $colorAzulBase;
          text-transform: uppercase;
          font-size: 120%;
        }
      }
      .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        .vote {
          display: flex;
          justify-content: center;
          align-items: center;
          @include minmaxwh(55px);
          border-radius: 50%;
          @include sombra(0 0 2px 0 #333);
          margin: 10px;
          cursor: pointer;
          @include ease-transition;
          @include not-selectable;
          &:hover {
            &.positive {
              background-color: #68e98d;
            }
            &.negative {
              background-color: #e98f68;
            }
          }
          &.positive {
            background-color: rgba(#68e98d, 0.6);
          }
          &.negative {
            background-color: rgba(#e98f68, 0.6);
            img {
              -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
            }
          }
          img {
            width: 80%;
            height: 80%;
            object-fit: contain;
          }
        }
      }
    }
    ul {
      padding: 0;
      margin: 0;
      overflow: auto;
      li {
        list-style: none;
        padding: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        @include ease-transition;
        cursor: pointer;
        position: relative;
        &:not(:last-of-type) {
          border-bottom: 1px solid #ccc;
        }
        &:nth-of-type(odd) {
          background-color: #e0e1e1;
        }
        &:nth-of-type(even) {
          background-color: #c4c4c6;
        }
        .vote {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          .user {
            span {
              font-family: $fontMontserratRegular;
              color: $colorAzulBase;
            }
          }
          .value {
            margin-left: 10px;
            svg {
              color: $colorAzulBase;
            }
          }
        }
      }
    }
  }
}
</style>
