<template lang="pug">
  #chart-container(:class="[{fullscreen: printer.visible}, {'immersive-mode': immersiveMode}]")
    #diagram
      PerspectiveButtons(
        :graph="graph",
        :updateChart="updateChart")
      Printer(
        v-if="printer.visible"
        :chartLoaded="chartLoaded"
        v-for="index in printer.count"
        :key="index"
        :printerIndex="index")
    #test-node
    PopupHolder(
      :updateChart="updateChart")
    Panel(
      :updateChart="updateChart"
      :graph="graph"
      v-if="canEdit && !printer.visible && selectedNode")
    .select-a-node(v-if="canEdit && !printer.visible && !selectedNode")
      span Select any node to modify it
    PrinterBottomBar(
      v-if="printer.visible"
      :graph="graph")
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex';

import PerspectiveButtons from './Chart/PerspectiveButtons';
import Panel from './Chart/Panel';
import PopupHolder from './Chart/PopupHolder';
import Printer from './Chart/Printer';
import PrinterBottomBar from './Chart/PrinterBottomBar';

const server_url =
  process.env.NODE_ENV === 'production' ? 'https://ideagens.com' : 'http://localhost:3000';

const SPEACH_BALLON_ICON = `${server_url}/public/images/assets/icon-comments.png`;
const LINK_ICON = `${server_url}/public/images/assets/icon-links.png`;
const VIDEO_ICON = `${server_url}/public/images/assets/icon-video.png`;
const MONEY_ICON = `${server_url}/public/images/assets/icon-calculus.png`;
const FOLDER_ICON = `${server_url}/public/images/assets/icon-new-file.png`;
const VOTES_ICON = `${server_url}/public/images/assets/icon-votes.png`;

let model = '';
let graph = '';
let setSelectedNode = '';
let getNodeById = '';

const insertVertex = (label, node, parentNode = false) => {
  let parent = graph.getDefaultParent();
  if (parentNode) parent = parentNode;
  const rexLabel = label
    .split(' ')
    .map(s =>
      s.length >= 15
        ? new RegExp(/\/|_|\.|-/).test(s)
          ? s
              .split(/\//)
              .join('/ ')
              .split(/_/)
              .join('_ ')
              .split(/-/)
              .join('- ')
              .split(/\./)
              .join('. ')
          : [s.substring(0, 10), s.substring(10)]
        : s,
    )
    .reduce((acc, val) => acc.concat(val), [])
    .join(' ');
  return graph.insertVertex(
    parent,
    null,
    rexLabel,
    node.pos.x,
    node.pos.y,
    node.pos.w,
    node.pos.h,
    'verticalAlign=top;whiteSpace=wrap',
  );
};

const generateBottomIcons = (node, vertex) => {
  if (
    (node.comments && node.comments.list && node.comments.list.length > 0) ||
    (node.links && node.links.list && node.links.list.length > 0) ||
    (node.votes && node.votes.list && node.votes.list.length > 0) ||
    (node.videos && node.videos.list && node.videos.list.length > 0) ||
    (node.calculus && node.calculus.total && node.calculus.total > 0) ||
    (node.files && node.files.list && node.files.list.length > 0) ||
    (node.images && node.images.length > 0)
  ) {
    const tn = document.querySelector('#test-node');
    tn.innerHTML = node.description;
    const labelBottom = Math.max(tn.getBoundingClientRect().height, tn.scrollHeight);

    const addedElems = [];

    const getNodeLeft = () => addedElems.reduce((acumulador, n) => n.pos.w + acumulador, 0);

    if (node.calculus && node.calculus.total && node.calculus.total > 0) {
      const w = `${node.calculus.total}`.length * 8;
      const xE = getNodeLeft() + 3;
      normalizeNode(node.calculus, xE, labelBottom - 3, w, 18);
      node.calculus.pos.x = xE;
      node.calculus.pos.w = w;
      node.calculus.pos.y = labelBottom - 3;
      const calculusNode = insertVertex(`${node.calculus.total}`, node.calculus, vertex);
      model.setStyle(calculusNode, `strokeColor=none;fontSize=12;fontColor=#555;fillColor=none`);
      calculusNode.setId(`${node._id}__calculus`);
      addedElems.push(node.calculus);
    }
    if (node.comments && node.comments.list && node.comments.list.length > 0) {
      const xE = getNodeLeft() + 3;
      normalizeNode(node.comments, xE, labelBottom, 18, 18);
      node.comments.pos.x = xE;
      node.comments.pos.y = labelBottom;
      const commentNode = insertVertex('', node.comments, vertex);
      model.setStyle(commentNode, `shape=image;image=${SPEACH_BALLON_ICON};`);
      commentNode.setId(`${node._id}__comments`);
      addedElems.push(node.comments);
    }
    if (node.links && node.links.list && node.links.list.length > 0) {
      const xE = getNodeLeft() + 3;
      normalizeNode(node.links, xE, labelBottom, 18, 18);
      node.links.pos.x = xE;
      node.links.pos.y = labelBottom;
      const linkNode = insertVertex('', node.links, vertex);
      model.setStyle(linkNode, `shape=image;image=${LINK_ICON};`);
      linkNode.setId(`${node._id}__links`);
      addedElems.push(node.links);
    }
    if (node.votes && node.votes.list && node.votes.list.length > 0) {
      const xE = getNodeLeft() + 3;
      normalizeNode(node.votes, xE, labelBottom, 18, 18);
      node.votes.pos.x = xE;
      node.votes.pos.y = labelBottom;
      const voteNode = insertVertex('', node.votes, vertex);
      model.setStyle(voteNode, `shape=image;image=${VOTES_ICON};`);
      voteNode.setId(`${node._id}__votes`);
      addedElems.push(node.votes);
      ////
      const xE2 = getNodeLeft() + 3;
      normalizeNode(node.votes, xE2, labelBottom - 1, 15, 18);
      node.votes.pos.x = xE + 15;
      node.votes.pos.y = labelBottom - 1;
      const totalVotes = node.votes.list.reduce(
        (acumuator, vote) => (acumuator += vote.vote ? 1 : -1),
        0,
      );
      const cantVotesNode = insertVertex(`${totalVotes}`, node.votes, vertex);
      model.setStyle(
        cantVotesNode,
        `strokeColor=none;fontSize=12;fontColor=#003c4a;fillColor=none`,
      );
      cantVotesNode.setId(`${node._id}__votes__text`);
      addedElems.push(node.votes);
    }
    if (node.images && node.images.length > 0) {
      node.images.map((image, eI) => {
        const xE = getNodeLeft() + 3;
        normalizeNode(image, xE, labelBottom, 18, 18);
        image.pos.x = xE;
        image.pos.y = labelBottom;
        const imageNode = insertVertex('', image, vertex);
        model.setStyle(imageNode, `shape=image;image=${image.url};`);
        imageNode.setId(`${node._id}__image__${eI}`);
        addedElems.push(image);
      });
    }
    if (node.videos && node.videos.list && node.videos.list.length > 0) {
      const xE = getNodeLeft() + 3;
      normalizeNode(node.videos, xE, labelBottom, 18, 18);
      node.videos.pos.x = xE;
      node.videos.pos.y = labelBottom;
      const videoNode = insertVertex('', node.videos, vertex);
      model.setStyle(videoNode, `shape=image;image=${VIDEO_ICON};`);
      videoNode.setId(`${node._id}__videos`);
      addedElems.push(node.videos);
    }
    if (node.files && node.files.list && node.files.list.length > 0) {
      const xE = getNodeLeft() + 3;
      normalizeNode(node.files, xE, labelBottom, 18, 18);
      node.files.pos.x = xE;
      node.files.pos.y = labelBottom;
      const filesNode = insertVertex('', node.files, vertex);
      model.setStyle(filesNode, `shape=image;image=${FOLDER_ICON};`);
      filesNode.setId(`${node._id}__files`);
      addedElems.push(node.files);
    }
  }
};

const normalizeNode = (node, x, y, w, h) => {
  if (!node.pos) {
    node.pos = {};
  }
  // if (!node.pos.x) {
  node.pos.x = x;
  // }
  // if (!node.pos.y) {
  node.pos.y = y;
  // }
  if (!node.pos.w) {
    node.pos.w = w;
  }
  if (node.description) {
    const tn = document.querySelector('#test-node');
    if (tn) {
      tn.innerHTML = node.description
        .split(' ')
        .map(s =>
          s.length >= 15
            ? new RegExp(/\/|_|\.|-/).test(s)
              ? s
                  .split(/\//)
                  .join('/ ')
                  .split(/_/)
                  .join('_ ')
                  .split(/-/)
                  .join('- ')
                  .split(/\./)
                  .join('. ')
              : [s.substring(0, 10), s.substring(10)]
            : s,
        )
        .reduce((acc, val) => acc.concat(val), [])
        .join(' ');
      if (tn.getBoundingClientRect().height < tn.scrollHeight) {
        node.pos.h = tn.scrollHeight + 10;
      } else if (!node.pos.h) {
        node.pos.h = h;
      }
    }
  } else if (!node.pos.h) {
    node.pos.h = h;
  }
};

export default {
  components: {
    PerspectiveButtons,
    Panel,
    PopupHolder,
    Printer,
    PrinterBottomBar,
  },
  data() {
    return {
      baseY: 0,
      nodeWidth: 150,
      nodeHeight: 45,
      graph,
      model,
      spacerX: 20,
      spacerY: 70,
      svgHeight: 500,
      chartLoaded: false,
      middleCause: '',
      evenCauses: true,
    };
  },
  computed: {
    ...mapState('problem', ['problem', 'qCauses', 'qIdeas', 'selectedNode', 'canEdit']),
    ...mapGetters('problem', ['getNodeById']),
    ...mapState('general', ['printer', 'immersiveMode']),
    baseX() {
      return 0;
      // return (
      //   40 +
      //   parseInt(getComputedStyle(document.querySelector('#diagram')).width, 10) / 2 -
      //   this.nodeWidth / 2
      // );
    },
  },
  mounted() {
    model = new window.mxGraphModel();
    graph = new window.mxGraph(document.querySelector('#diagram'), model);
    this.graph = graph;
    graph.setPanning(true);
    window.mxPanningHandler.prototype.useLeftButtonForPanning = true;
    window.mxGraphHandler.prototype.guidesEnabled = true;
    window.mxEdgeHandler.prototype.snapToTerminals = true;

    window.mxGraph.prototype.isCellSelectable = function(cell) {
      var state = this.view.getState(cell);
      var style = state != null ? state.style : this.getCellStyle(cell);

      return !this.isCellLocked(cell) && style['selectable'] != 0;
    };

    window.mxGraph.prototype.isCellMovable = function(cell) {
      var state = this.view.getState(cell);
      var style = state != null ? state.style : this.getCellStyle(cell);

      return !this.isCellLocked(cell) && style['movable'] != 0;
    };

    const edgeStyle = graph.getStylesheet().getDefaultEdgeStyle();
    edgeStyle.strokeColor = '#333';
    edgeStyle.startSize = '-1';
    edgeStyle.endSize = '-1';
    edgeStyle.selectable = '0';
    edgeStyle.movable = '0';

    const vertexStyle = graph.getStylesheet().getDefaultVertexStyle();
    vertexStyle.fontFamily = 'Sans, Arial';
    vertexStyle.fontSize = '14';
    // vertexStyle.fillColor = 'none';
    vertexStyle.fillColor = '#fff';
    vertexStyle.fontColor = '#000';
    vertexStyle.strokeColor = '#333';
    vertexStyle.resizable = 0;
    vertexStyle.movable = 0;

    graph.setHtmlLabels(true);

    setSelectedNode = this.setSelectedNode;
    getNodeById = this.getNodeById;

    let previousVertex;
    let oldVertexStyle;

    graph.getSelectionModel().addListener(window.mxEvent.CHANGE, function(sender, evt) {
      if (oldVertexStyle && previousVertex) {
        graph.getModel().setStyle(previousVertex, oldVertexStyle);
      }
      oldVertexStyle = null;
      previousVertex = null;
      if (sender.cells[0]) {
        if (sender.cells[0].edge) {
          // graph.clearSelection();
        } else {
          if (sender.cells[0].id) {
            previousVertex = sender.cells[0];
            oldVertexStyle = sender.cells[0].style;
            graph
              .getModel()
              .setStyle(sender.cells[0], `${sender.cells[0].style};strokeColor=#4f4;strokeWidth=3`);
            const id = sender.cells[0].id.split('__');
            setSelectedNode(getNodeById(id[0]));
          }
        }
      }
    });

    const setPos = (node, newPos) => {
      if (node && newPos) {
        node.pos.x = newPos.geometry.x;
        node.pos.y = newPos.geometry.y;
        node.pos.w = newPos.geometry.width;
        node.pos.h = newPos.geometry.height;
      }
    };

    const setNodePosition = (sender, evt) => {
      18;
      if (evt.properties.cells[0] && evt.properties.cells[0].id && !evt.properties.cells[0].edge) {
        const id = evt.properties.cells[0].id.split('__');
        const node = getNodeById(id[0]);
        if (!id[1]) {
          setPos(node, evt.properties.cells[0]);
        } else if (id[1] === 'emoji' && id[2]) {
          const emoji = node.emojis[id[2]];
          setPos(emoji, evt.properties.cells[0]);
        } else if (id[1] === 'image' && id[2]) {
          const image = node.images[id[2]];
          setPos(image, evt.properties.cells[0]);
        } else if (id[1] === 'comments' && !id[2]) {
          setPos(node.comments, evt.properties.cells[0]);
        } else if (id[1] === 'links' && !id[2]) {
          setPos(node.links, evt.properties.cells[0]);
        } else if (id[1] === 'votes' && !id[2]) {
          setPos(node.votes, evt.properties.cells[0]);
        } else if (id[1] === 'videos' && !id[2]) {
          setPos(node.videos, evt.properties.cells[0]);
        } else if (id[1] === 'calculus' && !id[2]) {
          setPos(node.calculus, evt.properties.cells[0]);
        }
      }
    };

    graph.addListener(window.mxEvent.CELLS_MOVED, setNodePosition);

    graph.addListener(window.mxEvent.CELLS_RESIZED, setNodePosition);

    // graph.getView().addListener(window.mxEvent.UNDO, listener);
    // model.addListener(window.mxEvent.UNDO, listener);

    graph.panningHandler.addListener(window.mxEvent.PAN_END, ev => {
      this.adjustPrinter();
    });

    this.setScaleFactor(this.graph.view.scale);

    const validCauses = this.problem.causes.filter(c => c.description);
    if (validCauses.length > 0) {
      this.evenCauses = validCauses.length % 2 === 0;
      this.middleCause = validCauses[Math.floor(validCauses.length / 2)]._id;
    }

    this.problem.causes.map(c => {
      c.ideas.map(i => {
        if (i.calculus && i.calculus.total && i.calculus.total > 0) {
          i.calculus.total =
            parseFloat(this.problem.weights.cost) * parseFloat(i.calculus.rating.cost) +
            parseFloat(this.problem.weights.time) * parseFloat(i.calculus.rating.time) +
            parseFloat(this.problem.weights.resources) * parseFloat(i.calculus.rating.resources);
        }
      });
    });

    window.Graph = graph;

    this.updateChart();
  },
  methods: {
    ...mapActions('problem', ['setSelectedNode']),
    ...mapActions('general', ['setScaleFactor', 'toggleImmersiveMode']),
    undo() {
      if (this.problem.description) {
      }
    },
    updateChart() {
      if (model && graph && this.problem.description && document.querySelector('#diagram')) {
        graph.removeCells(graph.getChildVertices(graph.getDefaultParent()));

        let problemNode;

        model.beginUpdate();
        try {
          normalizeNode(this.problem, 0, 0, this.nodeWidth + 50, this.nodeHeight + 10);
          problemNode = insertVertex(this.problem.description, this.problem);
          problemNode.setId(`${this.problem._id}`);
          generateBottomIcons(this.problem, problemNode);
          let causeCounter = 0;
          this.problem.causes.map((cause, i) => {
            if (cause.description) {
              // const xC =
              //   40 +
              //   (parseInt(getComputedStyle(document.querySelector('#diagram')).width, 10) /
              //     this.qCauses) *
              //     causeCounter +
              //   this.spacerX;
              const xC =
                this.baseX + (this.nodeWidth + 50) * causeCounter + this.spacerX * causeCounter * 3;
              const yC = this.baseY + this.spacerY + this.nodeHeight;
              normalizeNode(cause, xC, yC - 10, this.nodeWidth + 50, this.nodeHeight + 10);
              const causeNode = insertVertex(cause.description, cause);
              if (this.middleCause === cause._id) {
                let newGeometry = problemNode.getGeometry().clone();
                if (!this.evenCauses) {
                  newGeometry.x = xC;
                  problemNode.setGeometry(newGeometry);
                }
                // let addingSpace =
                //   parseInt(getComputedStyle(document.querySelector('#diagram')).width, 10) > 1200
                //     ? this.spacerX * 2
                //     : this.spacerX;
                // newGeometry.x = xC - 100 - addingSpace;
              }
              causeNode.setId(`${cause._id}`);
              generateBottomIcons(cause, causeNode);
              let previousIdea = causeNode;
              cause.ideas.map((idea, j) => {
                if (idea.description) {
                  const xI = xC + this.spacerX;
                  const yI = yC + (j + 1) * (this.spacerY + this.nodeHeight);
                  normalizeNode(idea, xI, yI, this.nodeWidth, this.nodeHeight);
                  const ideaNode = insertVertex(idea.description, idea);
                  ideaNode.setId(`${idea._id}`);
                  generateBottomIcons(idea, ideaNode);
                  const edgeI = graph.insertEdge(this.parent, null, '', ideaNode, causeNode);
                  window.mxStyleRegistry.putValue(
                    'entityRelation',
                    window.mxEdgeStyle.EntityRelation,
                  );
                  model.setStyle(edgeI, 'edgeStyle=entityRelation');
                  previousIdea = ideaNode;
                }
              });
              const edgeC = graph.insertEdge(this.parent, null, '', causeNode, problemNode);
              window.mxStyleRegistry.putValue('topToBottom', window.mxEdgeStyle.TopToBottom);
              model.setStyle(edgeC, 'edgeStyle=topToBottom');
              causeCounter++;
            }
          });
        } finally {
          model.endUpdate();
          this.chartLoaded = true;
        }

        if (this.evenCauses) {
          const graphWidth = graph.view.getGraphBounds().width;
          model.beginUpdate();
          try {
            let newGeometry = problemNode.getGeometry().clone();
            newGeometry.x = graphWidth / 2 - (this.nodeWidth + 50) / 2;
            problemNode.setGeometry(newGeometry);
            graph.view.refresh();
          } finally {
            model.endUpdate();
          }
        }
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import '~Styles/_config.scss';
#chart-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  height: 75vh;
  &.fullscreen {
    height: 90vh;
    #diagram {
      padding-left: 0;
    }
  }
  &.immersive-mode {
    height: 87vh;
    #diagram {
      padding-left: 0;
    }
  }
  #diagram {
    height: 100%;
    top: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
    min-width: 1200px;
    padding-left: 60px;
  }
  .select-a-node {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    text-align: center;
    background-color: rgba($colorNaranjaOscuro, 0.5);
    span {
      color: #fff;
    }
  }
  #test-node {
    position: fixed;
    left: 30px;
    bottom: 30px;
    background-color: #fff;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    white-space: pre-wrap;
    text-align: center;
    height: 45px;
    max-height: 45px;
    width: 148px;
    max-width: 148px;
    line-height: 1.25;
    font-family: Sans, Arial;
    z-index: -1000;
    opacity: 0;
  }
}
</style>
