<template lang="pug">
  #matrix
    //- Menu
    .problem-name
      input(
        v-if="canEdit"
        placeholder="Problem"
        v-model="problem.description"
        autofocus="true")
      .input-a-name(v-if="canEdit && !problem.description")
        span Enter a problem description to build the mind map
      span.input-replace(
        v-if="!canEdit") {{problem.description}}
    .table-holder
      .table-container
        .column.numbers
          .header
          .number-row-holder
            .number-row(
              v-for="(cause, index) in problem.causes")
              .rounded-control(
                v-if="canEdit"
                @click="removeCause(index)")
                img(src="@/assets/img/problems/new-edit/icon-minus.png")
              .row-number
                span {{index + 1}}
              .rounded-control(
                v-if="canEdit"
                @click="addCause(index)")
                img(src="@/assets/img/problems/new-edit/icon-plus.png")
        .column.causes
          .header
            .title
              span Causes
            .rounded-control.sort-causes(@click="sortCauses")
              .text
                span A-Z
              .icon
                font-awesome-icon(
                  :icon="sortOrder ? 'caret-up' : 'caret-down'")
          .cell-holder
            .cell(
              v-for="(cause, indexC) in problem.causes"
              :key="cause._id")
              input(
                v-if="canEdit"
                :placeholder="'Cause ' + (indexC + 1)"
                v-model="cause.description")
              span.input-replace(
                v-if="!canEdit") {{cause.description}}
        .ideas-container
          .row.header
            .header(v-for="indexIdeasHeader in quantIdeas")
              .rounded-control(
                v-if="canEdit"
                @click="removeIdeas(indexIdeasHeader)")
                img(src="@/assets/img/problems/new-edit/icon-minus.png")
              .column-number
                span Idea {{indexIdeasHeader}}
              .rounded-control(
                v-if="canEdit"
                @click="addIdeas(indexIdeasHeader)")
                img(src="@/assets/img/problems/new-edit/icon-plus.png")
          .ideas-holder(
            :class="'w-' + quantIdeas")
            .row.ideas-cause(
              v-for="(cause, indexC) in problem.causes")
              .cell(
                v-for="(idea, indexI) in cause.ideas")
                input(
                  v-if="canEdit"
                  :placeholder="'Idea ' + (indexI + 1)"
                  v-model="idea.description")
                span.input-replace(
                  v-if="!canEdit") {{idea.description}}
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex';

import Menu from './Matrix/Menu';

export default {
  components: { Menu },
  data() {
    return {
      quantCauses: this.qCauses,
      sortOrder: false,
    };
  },
  computed: {
    ...mapState('problem', ['problem', 'qCauses', 'qIdeas', 'canEdit']),
    quantIdeas() {
      let cant = this.qIdeas;
      if (this.problem && this.problem.causes) {
        cant = this.problem.causes[0].ideas.length;
      }
      return cant;
    },
  },
  methods: {
    ...mapActions('problem', ['addCause', 'removeCause', 'addIdeas', 'removeIdeas']),
    sortCauses() {
      if (this.sortOrder) {
        this.problem.causes.sort((causeA, causeB) =>
          causeB.description ? causeA.description.localeCompare(causeB.description) : -1,
        );
        this.sortOrder = false;
      } else {
        this.problem.causes.sort((causeA, causeB) =>
          causeA.description ? causeB.description.localeCompare(causeA.description) : -1,
        );
        this.sortOrder = true;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import '~Styles/_config.scss';

@mixin default-cell {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 40px;
  min-height: 40px;
  border-bottom: 1px solid $colorAzulClaro;
  border-right: 1px solid $colorAzulClaro;
}

#matrix {
  .problem-name {
    width: 40%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    input,
    span.input-replace {
      width: 100%;
      padding: 7px;
      border: 0;
      background-color: $colorAzulClaro;
      color: #fff;
      font-family: $fontFilsonBold;
      font-size: 130%;
      border-radius: 4px;
      @include sombra(2px 2px 2px 0 #777);
      text-align: center;
      &::placeholder {
        opacity: 0.8;
      }
    }
    .input-a-name {
      position: absolute;
      width: 200px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px;
      background-color: rgba($colorNaranjaOscuro, 0.5);
      right: -230px;
      span {
        color: #fff;
        font-size: 90%;
      }
    }
  }
  .table-holder {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 98%;
    height: 60vh;
    margin: 0.5vh 1%;
    background-color: #eee;
    border-radius: 5px;
    .table-container {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      position: relative;
      width: 100%;
      height: 100%;
      overflow: auto;
      .rounded-control {
        display: flex;
        justify-content: center;
        align-items: center;
        @include minmaxwh(20px);
        background-color: $colorAzulClaro;
        border-radius: 50%;
        margin: 3px;
        cursor: pointer;
        opacity: 0.8;
        @include ease-transition;
        @include not-selectable;
        &:hover {
          opacity: 1;
          @include sombra(0 0 3px 0 #000);
        }
        img {
          object-fit: contain;
          width: 90%;
          height: 90;
        }
      }
      .column {
        &.numbers {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;
          width: 100px;
          min-width: 100px;
          height: 100%;
          .header {
            @include default-cell;
          }
          .number-row-holder {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            .number-row {
              @include default-cell;
              padding: 0 7px;
              .row-number {
                span {
                  font-family: $fontMontserratBold;
                  color: $colorAzulBase;
                }
              }
            }
          }
        }
        &.causes {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;
          width: 230px;
          min-width: 230px;
          height: 100%;
          .header {
            @include default-cell;
            background-color: #666;
            .title {
              width: 100%;
              text-align: right;
              padding-right: 30px;
              span {
                font-family: $fontMontserratBold;
                font-size: 110%;
                color: #fff;
                text-transform: uppercase;
              }
            }
            .rounded-control.sort-causes {
              @include minmaxwh(25px);
              flex-direction: column;
              margin-right: 15px;
              span {
                font-family: $fontMontserratBold;
                color: $colorAzulBase;
                font-size: 60%;
              }
              .icon {
                height: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 7px;
                svg {
                  font-size: 120%;
                  color: $colorAzulBase;
                }
              }
            }
          }
          .cell-holder {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            .cell {
              @include default-cell;
              input,
              span.input-replace {
                width: 100%;
                height: 100%;
                border: 0;
                padding: 0 10px;
                font-family: $fontMontserratMedium;
                color: #000;
                display: flex;
                justify-content: flex-start;
                align-items: center;
              }
            }
          }
        }
      }
      .ideas-container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: relative;
        .row {
          &.header {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            height: 40px;
            min-height: 40px;
            .header {
              @include default-cell;
              width: 230px;
              min-width: 230px;
              background-color: #666;
              padding: 0 15px;
              .column-number {
                width: 100%;
                text-align: center;
                span {
                  font-family: $fontMontserratBold;
                  font-size: 110%;
                  color: #fff;
                  text-transform: uppercase;
                }
              }
            }
          }
        }
        .ideas-holder {
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;
          // @for $i from 1 through 1000 {
          //   &.w-#{$i} {
          //     min-width: $i * 230px;
          //   }
          // }
          .row.ideas-cause {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            height: 40px;
            min-height: 40px;
            .cell {
              @include default-cell;
              width: 230px;
              min-width: 230px;
              input,
              span.input-replace {
                width: 100%;
                height: 100%;
                border: 0;
                padding: 0 10px;
                font-family: $fontMontserratMedium;
                color: #000;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                overflow: auto;
              }
            }
          }
        }
      }
    }
  }
}
</style>
