<template lang="pug">
  #reports
    .table
      .header
        .cell
          span Idea
        .cell.sort(@click="sortIdeas")
          span Value
          .rounded-control
            span +/-
            .icon
              font-awesome-icon(
                :icon="desc ? 'caret-down' : 'caret-up'")
        .cell.sort(@click="sortByVotes")
          span Votes
          .rounded-control
            span +/-
            .icon
              font-awesome-icon(
                :icon="votesDesc ? 'caret-down' : 'caret-up'")
      .row(
        v-for="idea in ideasList"
        :key="idea._id")
        .cell
          span {{idea.description}}
        .cell
          span {{idea.calculus.total}}
        .cell
          span {{idea.totalVotes}}
</template>

<script>
import { mapState } from 'vuex';

export default {
  data() {
    return {
      desc: true,
      votesDesc: true,
    };
  },
  mounted() {
    this.sortIdeas();
  },
  computed: {
    ...mapState('problem', ['problem']),
    ideasList() {
      const ideasList = [];
      if (this.problem.causes) {
        this.problem.causes.map(c => {
          c.ideas.map(i => {
            if (i.description && i.calculus && i.calculus.total) {
              const outI = i;
              outI.totalVotes = i.votes.list.reduce(
                (acumuator, vote) => (acumuator += vote.vote ? 1 : -1),
                0,
              );
              ideasList.push(i);
            }
          });
        });
      }
      return ideasList;
    },
  },
  methods: {
    sortIdeas() {
      if (this.desc) {
        this.ideasList.sort((i1, i2) => i1.calculus.total - i2.calculus.total);
        this.desc = false;
      } else {
        this.ideasList.sort((i1, i2) => i2.calculus.total - i1.calculus.total);
        this.desc = true;
      }
    },
    sortByVotes() {
      if (this.votesDesc) {
        this.ideasList.sort((i1, i2) => i1.totalVotes - i2.totalVotes);
        this.votesDesc = false;
      } else {
        this.ideasList.sort((i1, i2) => i2.totalVotes - i1.totalVotes);
        this.votesDesc = true;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import '~Styles/_config.scss';

@mixin default-cell {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 40px;
  min-height: 40px;
}

#reports {
  width: 100%;
  margin-top: 20px;
  .table {
    width: 40%;
    margin: auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    border-radius: 0 0 6px 6px;
    overflow: hidden;
    .header {
      overflow: hidden;
      border-radius: 6px;
      @include sombra(0 2px 2px 0 #444);
      position: relative;
      z-index: 2;
      border-bottom: 0 !important;
      .cell {
        background-color: #666;
        border: 0;
        span {
          color: #fff;
          font-family: $fontFilsonBold;
          text-transform: uppercase;
        }
      }
    }
    .header,
    .row {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      border-bottom: 1px solid #aaa;
      background-color: #fff;
      .cell {
        @include default-cell;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px 3px;
        height: 100%;
        &:nth-of-type(1),
        &:nth-of-type(2) {
          border-right: 1px solid #aaa;
        }
        &.sort {
          & > span {
            width: 100%;
            text-align: center;
            padding-left: 40px;
          }
          .rounded-control {
            display: flex;
            justify-content: center;
            align-items: center;
            @include minmaxwh(20px);
            background-color: $colorAzulClaro;
            border-radius: 50%;
            margin: 3px;
            padding-top: 4px;
            cursor: pointer;
            opacity: 0.8;
            @include ease-transition;
            @include not-selectable;
            @include minmaxwh(25px);
            flex-direction: column;
            margin-right: 15px;
            span {
              font-family: $fontMontserratBold;
              color: $colorAzulBase;
              font-size: 70%;
            }
            .icon {
              height: 7px;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-bottom: 7px;
              svg {
                font-size: 120%;
                color: $colorAzulBase;
              }
            }
          }
        }
      }
    }
  }
}
</style>
