main-menu {
  width: 100%;
  display: block;
  position: sticky;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: #fff;
  @include sombra(0 0 2px 0 #555);

  #navbar {
    & > ul {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        margin: 0 10px;
        list-style: none;
        a {
          display: block;
          padding: 20px;
          cursor: pointer;
          color: #000;
          text-decoration: none;
          @include ease-transition();
          outline: 0;
          &.active {
            background-color: #e3e3e3;
          }
          &:hover:not(.active) {
            background-color: #e9e9e9;
          }
        }
      }
    }
  }

  .redes-sociales {
    position: absolute;
    right: 15px;
    top: 0;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        list-style: none;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: 30px;
          max-width: 30px;
          min-height: 30px;
          max-height: 30px;
          margin: 0 5px;
          cursor: pointer;
          color: #000;
          border: 1px solid #000;
          border-radius: 50px;
          text-decoration: none;
          @include ease-transition();
          outline: 0;
          &:hover {
            background-color: #666;
            color: #fff;
          }
        }
      }
    }
  }
}
