<template lang="pug">
  .home
    TopBar
    .body
      .decoration-top-left
        img(src="@/assets/img/home/decoration-top-left.png")
      .center-content
        .logo-description
          .logo
            img(src="@/assets/img/logo-big.png")
        .flash
          .answer(:class="{'failed-confirm': failedConfirm}")
            span {{answer}}
      .decoration-bottom-right
        img(src="@/assets/img/home/decoration-bottom-right.png")
</template>

<script>
import TopBar from '@/components/Home/TopBar';

export default {
  components: {
    TopBar,
  },
  data() {
    return {
      failedConfirm: false,
      answer: 'Verifying account...',
    };
  },
  mounted() {
    if (this.$route.query && this.$route.query.tk) {
      this.$http({
        method: 'PUT',
        url: '/api/users/account_activation',
        headers: {
          Authorization: `Bearer ${this.$route.query.tk}`,
        },
      }).then(
        ({ status }) => {
          if (status === 200) {
            this.answer = 'Verification successful, you can now login.';
          }
        },
        error => {
          console.error(error);
          this.failedConfirm = true;
          this.answer = 'There was a problem with the verification, please try again later.'
        },
      );
    } else {
      this.$router.replace('/');
    }
  },
  methods: {
    focusLogin() {
      if (document.querySelector('.login-form .login input[name=email]')) {
        document.querySelector('.login-form .login input[name=email]').focus();
        window.scrollTo(0, window.innerHeight);
      } else {
        this.$router.push('/', () => {
          this.$nextTick(() => {
            document.querySelector('.login-form .login input[name=email]').focus();
            window.scrollTo(0, window.innerHeight);
          });
        });
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import '~Styles/_config.scss';
.home {
  .body {
    position: relative;
    background-color: $colorGrisClaro;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    .decoration-top-left {
      position: absolute;
      left: 0;
      top: 0;
      width: 70vw;
      z-index: 0;
      img {
        object-fit: contain;
        width: 100%;
      }
    }
    .center-content {
      width: 40%;
      position: relative;
      z-index: 1;
      .logo-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .logo {
          @include minmaxwh(350px);
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            object-fit: contain;
            width: 100%;
            height: 100%;
          }
        }
      }
      .flash {
        margin: 15px 0;
        width: 100%;
        .answer {
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
          padding: 10px 50px;
          background-color: rgba($colorVerdeOscuro, 0.3);
          &.failed-confirm {
            background-color: rgba($colorNaranjaOscuro, 0.3);
          }
          span {
            font-size: 90%;
            text-align: center;
            color: #444;
            font-family: $fontMontserratSemiBold;
          }
        }
      }
    }
    .decoration-bottom-right {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 25vw;
      z-index: 0;
      img {
        object-fit: contain;
        width: 100%;
      }
    }
  }
}
</style>
