<template lang="pug">
  .logout
    span Logging out...
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  computed: {
    ...mapState('users', ['loggedIn']),
  },
  mounted() {
    if (this.loggedIn) {
      this.logout();
    }
    this.$router.replace('/');
    window.location.reload();
  },
  methods: {
    ...mapActions('users', ['logout']),
  },
};
</script>

<style lang="scss" scoped>
@import '~Styles/_config.scss';
</style>
