<template lang="pug">
  .profile
    .top-bar
      .actions
        .action(@click="$router.go(-1)")
          font-awesome-icon(icon="arrow-left")
      .title
        span My profile
    .body
      .decoration-top-left
        img(src="@/assets/img/home/decoration-top-left.png")
      .center-content
        .form
          .avatar
            img#avatar-holder(
              v-if="user.avatar"
              :src="user.avatar")
            img#avatar-holder(
              v-if="!user.avatar"
              src="@/assets/img/problems/index/icon-silhouette.png")
            input(
              type="file"
              accept="image/*"
              name="avatar"
              @change="setAvatar")
          form(@submit.prevent="saveProfile", novalidate)
            .fields
              .field
                input(
                  type="email"
                  placeholder="Email"
                  :value="user.email"
                  readonly)
              .field
                input(
                  type="text"
                  placeholder="Name"
                  v-model="user.name")
              .field
                input(
                  type="text"
                  placeholder="Surname"
                  v-model="user.surname")
            .subm
              .loading(v-if="sent")
                font-awesome-icon(icon="circle-notch" spin)
              input(
                type="submit"
                value="Save"
                :disabled="sent")
      .decoration-bottom-right
        img(src="@/assets/img/home/decoration-bottom-right.png")
</template>

<script>
import { mapState } from 'vuex';

import userService from '@/services/user';

export default {
  data() {
    return {
      user: {},
      sent: false,
    };
  },
  mounted() {
    this.$http({
      method: 'GET',
      url: `/api/users/me`,
      headers: {
        Authorization: `Bearer ${this.token}`,
      },
    }).then(
      ({ data }) => {
        this.user = data;
      },
      error => {
        console.error(error);
      },
    );
  },
  computed: {
    ...mapState('users', ['token']),
  },
  methods: {
    saveProfile() {
      this.sent = true;
      const saveUser = () => {
        this.$http({
          method: 'PUT',
          url: `/api/users/${this.user._id}`,
          body: this.user,
          headers: {
            Authorization: `Bearer ${this.token}`,
          },
        }).then(
          ({ data }) => {
            userService.resetTK(data.tk);
            window.location.reload();
            this.sent = false;
          },
          error => {
            console.error(error);
            this.sent = false;
          },
        );
      };
      if (this.user.avatar && document.querySelector('.form .avatar input').files[0]) {
        const formData = new FormData();
        formData.append('images', this.user.avatar);
        this.$http({
          method: 'POST',
          url: '/api/upload',
          body: formData,
          headers: {
            Authorization: `Bearer ${this.token}`,
          },
        }).then(
          ({ data }) => {
            this.user.avatar = data[0].uri;
            saveUser();
          },
          error => {
            console.error(error);
          },
        );
      } else {
        saveUser();
      }
    },
    setAvatar(ev) {
      if (ev.target.files[0]) {
        const fileReader = new FileReader();
        fileReader.onload = () => {
          document.querySelector('#avatar-holder').src = fileReader.result;
        };
        fileReader.readAsDataURL(ev.target.files[0]);
        this.user.avatar = ev.target.files[0];
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import '~Styles/_config.scss';
.profile {
  .top-bar {
    background-color: $colorAzulBase;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    padding: 0 25px;
    @include sombra(0 0 3px 0 #000);
    position: relative;
    z-index: 5;
    .actions {
      .action {
        @include minmaxwh(50px);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        @include ease-transition;
        &:hover {
          @include sombra-arrojada(0 0 3px $colorAzulClaro);
        }
        svg {
          color: #fff;
          font-size: 150%;
        }
      }
    }
    .title {
      margin-left: 20px;
      span {
        font-family: $fontMontserratRegular;
        color: #fff;
        font-size: 160%;
      }
    }
  }
  .body {
    position: relative;
    background-color: $colorGrisClaro;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    .decoration-top-left {
      position: absolute;
      left: 0;
      top: 0;
      width: 70vw;
      z-index: 0;
      img {
        object-fit: contain;
        width: 100%;
      }
    }
    .center-content {
      width: 100%;
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      .form {
        width: 50%;
        height: 350px;
        background-color: #fff;
        border-radius: 7px;
        @include sombra(0 0 5px 0 #000);
        padding: 20px;
        display: flex;
        justify-content: flex-start;
        align-content: flex-start;
        .avatar {
          @include minmaxwh(150px);
          border-radius: 50%;
          overflow: hidden;
          background-color: #fff;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          border: 3px solid #fff;
          @include sombra(0 0 3px 0 $colorAzulBase);
          @include ease-transition;
          cursor: pointer;
          position: relative;
          &::before {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            content: 'Change photo';
            background-color: rgba($colorAzulBase, 0.7);
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            @include ease-transition;
            opacity: 0;
            color: #fff;
          }
          &:hover {
            &::before {
              opacity: 1;
            }
          }
          img {
            width: 110%;
            height: 110%;
            object-fit: cover;
          }
          input {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 3;
            opacity: 0;
            cursor: pointer;
          }
        }
        form {
          margin-left: 20px;
          padding-left: 20px;
          border-left: 1px solid rgba($colorAzulMedio, 0.3);
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          flex-direction: column;
          .fields {
            width: 100%;
            .field {
              display: flex;
              justify-content: flex-end;
              align-items: flex-start;
              flex-direction: column;
              width: 100%;
              margin-bottom: 15px;
              span.label {
                font-family: $fontMontserratRegular;
                text-transform: uppercase;
                color: #333;
                padding: 7px;
              }
              input {
                border: 0;
                background-color: $colorAzulClaro;
                width: 100%;
                height: 35px;
                padding: 0 8px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                color: #000;
                font-family: $fontMontserratSemiBold;
                border-radius: 4px;
                @include ease-transition;
                &:focus:not([readonly]) {
                  @include sombra(inset 0 0 3px 0 $colorAzulBase);
                }
                &[readonly] {
                  @include grayscale(0.7);
                }
              }
            }
          }
          .subm {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .loading {
              margin-right: 10px;
            }
            input[type='submit'] {
              border: 0;
              background-color: $colorAzulBase;
              width: 150px;
              height: 35px;
              padding: 0 8px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #fff;
              font-family: $fontMontserratSemiBold;
              border-radius: 4px;
              cursor: pointer;
              &:disabled {
                opacity: 0.7;
              }
              &:hover,
              &:focus {
                text-shadow: 0 0 0 #000;
                outline: none;
                @include sombra(0 0 3px 0 #333);
              }
            }
          }
        }
      }
    }
    .decoration-bottom-right {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 25vw;
      z-index: 0;
      img {
        object-fit: contain;
        width: 100%;
      }
    }
  }
}
</style>
