<template lang="pug">
  .pwdchg
    TopBar
    .body
      .decoration-top-left
        img(src="@/assets/img/home/decoration-top-left.png")
      .center-content(v-if="!invalidToken")
        .explanation
          p Complete the form to change your password.
        .login-pwdchg
          .pwdchg-form
            Pwdchg
      .center-content(v-if="invalidToken")
        .flash
          span The link is either invalir or outdated.
      .decoration-bottom-right
        img(src="@/assets/img/home/decoration-bottom-right.png")
</template>

<script>
import Pwdchg from '@/components/User/Pwdchg';
import TopBar from '@/components/Home/TopBar';

export default {
  components: {
    Pwdchg,
    TopBar,
  },
  data() {
    return {
      invalidToken: false,
    };
  },
  mounted() {
    if (this.$route.query && this.$route.query.tk) {
      this.$http({
        method: 'GET',
        url: '/api/users/uex',
        headers: {
          Authorization: `Bearer ${this.$route.query.tk}`,
        },
      }).then(
        ({ status }) => {
          if (status !== 200) {
            this.invalidToken = true;
            // this.$router.replace('/');
          }
        },
        error => {
          // console.error(error);
          this.invalidToken = true;
          // this.$router.replace('/');
        },
      );
    }
  },
};
</script>

<style lang="scss" scoped>
@import '~Styles/_config.scss';
.pwdchg {
  .body {
    position: relative;
    background-color: $colorGrisClaro;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    .decoration-top-left {
      position: absolute;
      left: 0;
      top: 0;
      width: 70vw;
      z-index: 0;
      img {
        object-fit: contain;
        width: 100%;
      }
    }
    .center-content {
      width: 50%;
      position: relative;
      z-index: 1;
      .explanation {
        margin: 20px 0;
        p {
          text-align: left;
          font-family: $fontMontserratRegular;
          line-height: 1.7;
          color: #333;
          white-space: pre-line;
        }
      }
      .login-pwdchg {
        width: 100%;
        .pwdchg-form {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          margin: 20px 0;
        }
        .login {
          display: flex;
          justify-content: space-around;
          margin-top: 50px;
          .question {
            span {
              font-family: $fontFilsonBold;
              text-transform: uppercase;
              color: #222;
              font-size: 180%;
            }
          }
          .link {
            div {
              font-family: $fontFilsonBold;
              text-transform: uppercase;
              color: $colorAzulMedio;
              font-size: 180%;
              @include sombra(0 2px 0 0 $colorAzulMedio);
              cursor: pointer;
            }
          }
        }
      }
      .flash {
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        padding: 0 50px;
        background-color: rgba($colorNaranjaOscuro, 0.3);
        span {
          text-align: center;
          color: #444;
          font-family: $fontMontserratSemiBold;
        }
      }
    }
    .decoration-bottom-right {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 25vw;
      z-index: 0;
      img {
        object-fit: contain;
        width: 100%;
      }
    }
  }
}
</style>
