<template lang="pug">
  .signup
    TopBar
    .body
      .decoration-top-left
        img(src="@/assets/img/home/decoration-top-left.png")
      .center-content
        LogoDescription
        .login-signup
          .signup-form
            Signup
          .login
            .question
              span Already have an account?
            .link
              div(@click="focusLogin") Login
      .decoration-bottom-right
        img(src="@/assets/img/home/decoration-bottom-right.png")
</template>

<script>
import LogoDescription from '@/components/User/LogoDescription';
import Signup from '@/components/User/Signup';
import TopBar from '@/components/Home/TopBar';

export default {
  components: {
    LogoDescription,
    Signup,
    TopBar,
  },
  methods: {
    focusLogin() {
      if (document.querySelector('.login-form .login input[name=email]')) {
        document.querySelector('.login-form .login input[name=email]').focus();
        window.scrollTo(0, window.innerHeight);
      } else {
        this.$router.push('/', () => {
          this.$nextTick(() => {
            document.querySelector('.login-form .login input[name=email]').focus();
            window.scrollTo(0, window.innerHeight);
          });
        });
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import '~Styles/_config.scss';
.signup {
  .body {
    position: relative;
    background-color: $colorGrisClaro;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    .decoration-top-left {
      position: absolute;
      left: 0;
      top: 0;
      width: 70vw;
      z-index: 0;
      img {
        object-fit: contain;
        width: 100%;
      }
    }
    .center-content {
      width: 50%;
      position: relative;
      z-index: 1;
      .login-signup {
        width: 100%;
        .signup-form {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          margin: 20px 0;
        }
        .login {
          display: flex;
          justify-content: space-around;
          margin-top: 50px;
          .question {
            span {
              font-family: $fontFilsonBold;
              text-transform: uppercase;
              color: #222;
              font-size: 180%;
            }
          }
          .link {
            div {
              font-family: $fontFilsonBold;
              text-transform: uppercase;
              color: $colorAzulMedio;
              font-size: 180%;
              @include sombra(0 2px 0 0 $colorAzulMedio);
              cursor: pointer;
            }
          }
        }
      }
    }
    .decoration-bottom-right {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 25vw;
      z-index: 0;
      img {
        object-fit: contain;
        width: 100%;
      }
    }
  }
}
</style>
