<template lang="pug">
  .problems-index
    .sidebar
      a.logo(href="/")
        img(src="@/assets/img/logo.png")
      .section-list
        .item.all(
          :class="{active: state === 'filterUntrashed'}"
          @click="filterUntrashed")
          .icon
            img(src="@/assets/img/logo-brain.png")
          .name
            span My maps
        .item.favourites(
          :class="{active: state === 'filterFavourites'}"
          @click="filterFavourites")
          .icon
            img(src="@/assets/img/problems/index/icon-favourites.png")
          .name
            span Favourites
        .item.public(
          :class="{active: state === 'filterPublic'}"
          @click="filterPublic")
          .icon
            img(src="@/assets/img/problems/index/icon-public.png")
          .name
            span Public
        .item.trash(
          :class="{active: state === 'filterTrashed'}"
          @click="filterTrashed")
          .icon
            img(src="@/assets/img/problems/index/icon-trash.png")
          .name
            span Trash
    .center-content
      .top-bar
        .search
          input(
            type="text"
            placeholder="Search"
            v-model="searchBox")
          .magnifier
            img(src="@/assets/img/problems/index/icon-magnifier.png")
        UserSection
      .problem-list
        .list
          .no-problems(v-if="problems.length === 0")
            span(v-if="!searchBox") There's no problems yet
            span(v-if="searchBox") We didn't find any problem containing that criteria
          router-link.problem(
            v-for="problem in problems"
            :key="problem._id"
            :to="'/p/' + problem._id")
            .thumb-holder
              .problem-info
                .description
                  span {{problem.description}}
                .number-causes
                  span {{problem.quantCauses}} causes
                .number-ideas
                  span {{problem.quantIdeas}} ideas
                .problem-owner(v-if="problem.owner._id !== user._id")
                  span By: {{problem.owner.email}}
            .side-panel
              .icons
                .icon(
                  @click.prevent="openSharePopup(problem)"
                  title="Share map")
                  //- img(src="@/assets/img/problems/index/icon-share.png")
                  font-awesome-icon(icon="users")
                .icon(
                  @click.prevent="togglePublic(problem)"
                  :class="{active: problem.public}"
                  v-if="problem.owner._id === user._id"
                  :title="problem.public ? 'Make private' : 'Make public'")
                  img(src="@/assets/img/problems/index/icon-public.png")
                .icon(
                  @click.prevent="duplicateProblem(problem)"
                  title="Duplicate map")
                  img(src="@/assets/img/problems/index/icon-copy.png")
                .icon(
                  @click.prevent="toggleTrash(problem)"
                  :class="{active: problem.actions[user._id] && problem.actions[user._id].trash}"
                  :title="problem.actions[user._id] && problem.actions[user._id].trash ? 'Restore map' : 'Move to trash'")
                  img(src="@/assets/img/problems/index/icon-trash.png")
                .icon(
                  @click.prevent="toggleFavourite(problem)"
                  :class="{active: problem.actions[user._id] && problem.actions[user._id].favourite}"
                  :title="problem.actions[user._id] && problem.actions[user._id].favourite ? 'Unfavourite' : 'Favourite'")
                  img(src="@/assets/img/problems/index/icon-favourites.png")
      .fab-buttons
        .plus-button
          font-awesome-icon(icon="plus")
        .actions
          .action.import
            input(
              type="file"
              accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
              @change="importFile"
              title="Import file")
            img(src="@/assets/img/problems/index/icon-upload.png")
          router-link.action.new-file(to="/p")
            img(src="@/assets/img/problems/index/icon-new-file.png")
    Popup(v-if="isPopupVisible && isPopupActive('Share')")
      Share(
        v-if="isPopupActive('Share')")
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
import xlsx from "xlsx";

import UserSection from "@/components/Problem/General/UserSection";

import Popup from "@/components/General/Popup";
import Share from "@/components/Problem/General/Share";

let problems;

const s4 = () =>
  Math.floor((1 + Math.random()) * 0x10000)
    .toString(16)
    .substring(1);

const guid = () => `${s4()}-${s4()}-${s4()}`;

export default {
  components: {
    UserSection,
    Popup,
    Share
  },
  data() {
    return {
      problems: [],
      searchBox: "",
      state: "untrashed",
      filterFunction: ""
    };
  },
  mounted() {
    this.$http({
      method: "GET",
      url: "/api/problems/my",
      headers: {
        Authorization: `Bearer ${this.token}`
      }
    }).then(
      ({ data }) => {
        const inData = data;
        // console.log(data);
        inData.map((problem, i) => {
          inData[i].quantCauses = problem.causes.length;
          inData[i].quantIdeas = problem.causes.reduce(
            (acumulator, cause) => (acumulator += cause.ideas.length),
            0
          );
        });
        problems = inData;
        this.filterUntrashed();
      },
      error => {
        console.error(error);
      }
    );
    this.hidePrinter();
  },
  computed: {
    ...mapState("users", ["token"]),
    ...mapGetters("users", ["user"]),
    ...mapGetters("general", ["isPopupVisible", "isPopupActive"])
  },
  watch: {
    searchBox() {
      if (this.searchBox) {
        const regex = new RegExp(`.*${this.searchBox}.*`, "i");
        this.problems = this.filterFunction().filter(p =>
          regex.test(JSON.stringify(p))
        );
      } else {
        this.problems = this.sortByUpdatedAt(this.filterFunction());
      }
    }
  },
  methods: {
    ...mapActions("problem", ["setProblem"]),
    ...mapActions("general", ["showPopup", "hidePrinter"]),
    sortByUpdatedAt(problems) {
      return problems.sort((p1, p2) =>
        new Date(p1.updatedAt) < new Date(p2.updatedAt) ? 1 : -1
      );
    },
    filterUntrashed() {
      this.filterFunction = () =>
        problems.filter(
          p => !p.actions[this.user._id] || !p.actions[this.user._id].trash
        );
      this.problems = this.sortByUpdatedAt(this.filterFunction());
      this.state = "filterUntrashed";
    },
    filterFavourites() {
      this.filterFunction = () =>
        problems.filter(
          p =>
            p.actions[this.user._id] &&
            (p.actions[this.user._id].favourite &&
              !p.actions[this.user._id].trash)
        );
      this.problems = this.sortByUpdatedAt(this.filterFunction());
      this.state = "filterFavourites";
    },
    filterPublic() {
      this.filterFunction = () =>
        problems.filter(
          p =>
            p.public &&
            (!p.actions[this.user._id] || !p.actions[this.user._id].trash)
        );
      this.problems = this.sortByUpdatedAt(this.filterFunction());
      this.state = "filterPublic";
    },
    filterTrashed() {
      this.filterFunction = () =>
        problems.filter(
          p => p.actions[this.user._id] && p.actions[this.user._id].trash
        );
      this.problems = this.sortByUpdatedAt(this.filterFunction());
      this.state = "filterTrashed";
    },
    toggleProperty(problem, property) {
      let state = true;
      let url = `/api/problems/${problem._id}/${property}`;
      if (!problem.actions[this.user._id]) {
        problem.actions[this.user._id] = {};
      }
      if (
        (property === "public" && problem[property]) ||
        problem.actions[this.user._id][property]
      ) {
        url = `/api/problems/${problem._id}/un${property}`;
        state = false;
      }
      this.$http({
        method: "PUT",
        url,
        headers: {
          Authorization: `Bearer ${this.token}`
        }
      }).then(
        ({ status }) => {
          if (status === 200) {
            if (property === "public") problem[property] = state;
            else problem.actions[this.user._id][property] = state;
            this[this.state]();
          }
        },
        error => {
          console.error(error);
        }
      );
    },
    toggleFavourite(problem) {
      this.toggleProperty(problem, "favourite");
    },
    togglePublic(problem) {
      this.toggleProperty(problem, "public");
    },
    toggleTrash(problem) {
      this.toggleProperty(problem, "trash");
    },
    importFile(ev) {
      const router = this.$router;
      var reader = new FileReader();
      reader.onload = function(e) {
        const data = e.target.result;
        const workbook = xlsx.read(data, { type: "binary" });
        const first_sheet_name = workbook.SheetNames[0];
        const worksheet = workbook.Sheets[first_sheet_name];
        let problem = { description: "", causes: [] };
        const causesPointers = {};
        if (worksheet["A1"].v === "S.No.") {
          problem.description = decodeURIComponent(
            worksheet["B2"].v.replace(/\%/, "")
          ).trim();
          Object.keys(worksheet).map((key, i) => {
            if (
              !new RegExp(/^A[0-9]+$/).test(key) &&
              !new RegExp(/^B[0-9]+$/).test(key)
            ) {
              if (new RegExp(/^C([3-9]+|[1-9]+[1-9]+)$/).test(key)) {
                const cause = { description: "", ideas: [] };
                cause.description = decodeURIComponent(
                  worksheet[key].v.replace(/\%/, "")
                ).trim();
                problem.causes.push(cause);
                causesPointers[parseInt(key)] = cause;
              } else if (
                new RegExp(/^([D-Z]+|[A-Z]+[A-Z]+)([3-9]+|[1-9]+[1-9]+)$/).test(
                  key
                )
              ) {
                const idea = { description: "" };
                idea.description = decodeURIComponent(
                  worksheet[key].v.replace(/\%/, "")
                ).trim();
                causesPointers[parseInt(key)].ideas.push(idea);
              }
            }
          });
        } else if (
          worksheet["A1"].v === "Problem" &&
          worksheet["B1"].v === "Causes"
        ) {
          problem.description = decodeURIComponent(
            worksheet["A2"].v.replace(/\%/, "")
          ).trim();
          Object.keys(worksheet).map((key, i) => {
            if (!new RegExp(/^A[0-9]+$/).test(key) && key !== "B1") {
              if (new RegExp(/^B[0-9]+$/).test(key)) {
                const cause = { description: "", ideas: [] };
                cause.description = decodeURIComponent(
                  worksheet[key].v.replace(/\%/, "")
                ).trim();
                problem.causes.push(cause);
                causesPointers[parseInt(key)] = cause;
              } else if (
                new RegExp(/^([C-Z]+|[A-Z]+[A-Z]+)([2-9]+|[1-9]+[0-9]+)$/).test(
                  key
                )
              ) {
                const idea = { description: "" };
                idea.description = decodeURIComponent(
                  worksheet[key].v.replace(/\%/, "")
                ).trim();
                // console.log(JSON.stringify(idea));
                causesPointers[parseInt(key)].ideas.push(idea);
              }
            }
          });
        }
        router.push({
          name: "Problem#New",
          params: { xlsData: true, problem }
        });
      };
      reader.readAsBinaryString(ev.target.files[0]);
    },
    openSharePopup(problem) {
      this.setProblem(problem);
      this.showPopup({ name: "Share" });
    },
    duplicateProblem(problem) {
      const outProblem = Object.assign({}, problem);
      outProblem.description += " (copy)";
      outProblem._id = guid();
      outProblem.causes.map(c => {
        c._id = guid();
        c.ideas.map(i => {
          i._id = guid();
        });
      });
      this.$http({
        method: "POST",
        url: "/api/problems",
        body: outProblem,
        headers: {
          Authorization: `Bearer ${this.token}`
        }
      }).then(
        ({ status, data }) => {
          if (status === 201) {
            this.$router.push(`/p/${data._id}`);
          }
        },
        error => {
          console.error(error);
        }
      );
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~Styles/_config.scss";
.problems-index {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  .sidebar {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 280px;
    min-width: 280px;
    height: 100%;
    padding: 15px 30px;
    background-color: $colorAzulBase;
    a.logo {
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
      text-decoration: none;
      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }
    .section-list {
      width: 100%;
      .item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 20px;
        margin-left: 5px;
        cursor: pointer;
        width: 100%;
        padding: 10px 3px;
        @include ease-transition;
        &:hover,
        &.active {
          @include sombra(0 3px 0 0 #ccc);
        }
        .icon {
          @include minmaxwh(40px);
          background-color: $colorAzulClaro;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          margin-right: 10px;
          img {
            object-fit: contain;
            width: 80%;
            height: 80%;
            margin-right: 2px;
            @include sombra-arrojada(0 0 2px $colorAzulMedio);
          }
        }
        .name {
          span {
            font-family: $fontMontserratSemiBold;
            text-transform: uppercase;
            color: #fff;
            font-size: 135%;
          }
        }
      }
    }
  }
  .center-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    .top-bar {
      width: 100%;
      height: 12vh;
      min-height: 12vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $colorAzulClaro;
      padding: 0 30px;
      .search {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        margin-left: 20%;
        input {
          width: 400px;
          height: 100%;
          border: 0;
          padding: 0 25px;
          font-size: 130%;
          font-family: $fontMontserratMediumItalic;
          background-color: #d8d9dd;
          border-radius: 4px;
        }
        .magnifier {
          @include minmaxwh(40px);
          margin-left: 10px;
          img {
            object-fit: contain;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .problem-list {
      width: 100%;
      height: 88vh;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      background-color: #eeeef0;
      position: relative;
      overflow: auto;

      .list {
        padding: 0 20px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        &::before,
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 20px;
        }
        .no-problems {
          width: 100%;
          padding: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            font-family: $fontFilsonLight;
            color: #333;
            text-align: center;
          }
        }
        a.problem {
          margin: 1%;
          width: 23%;
          height: 150px;
          background-color: $colorAzulBase;
          padding: 5px;
          border-radius: 3px;
          position: relative;
          text-decoration: none;
          &:hover {
            .side-panel {
              width: 120px;
              .icons {
                opacity: 1;
              }
            }
          }
          .thumb-holder {
            width: 100%;
            height: 100%;
            background-color: $colorAzulMedio;
            border-radius: 3px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 10px;
            .problem-info {
              width: 65%;
              position: relative;
              height: 100%;
              .description {
                margin-bottom: 10px;
                span {
                  color: #fff;
                  font-family: $fontMontserratBold;
                  text-transform: uppercase;
                  font-size: 100%;
                  white-space: pre-line;
                  word-wrap: break-word;
                  width: 100%;
                }
              }
              .number-causes,
              .number-ideas {
                span {
                  color: #fff;
                  font-family: $fontMontserratRegular;
                  font-size: 100%;
                  white-space: pre-line;
                  word-wrap: break-word;
                  width: 100%;
                }
              }
              .problem-owner {
                position: absolute;
                left: 0;
                bottom: 0;
                span {
                  color: #ccc;
                  font-family: $fontMontserratRegular;
                  font-size: 100%;
                  white-space: pre-line;
                  word-wrap: break-word;
                  width: 100%;
                }
              }
            }
          }
          .side-panel {
            position: absolute;
            right: 0;
            top: 0;
            width: 10px;
            height: 100%;
            background-color: #9a999edd;
            border-radius: 3px;
            @include ease-transition;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            .icons {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-wrap: wrap;
              @include ease-transition;
              opacity: 0;
              padding: 30px 0;
              min-width: 120px;
              .icon {
                @include minmaxwh(35px);
                display: inline-flex;
                justify-content: center;
                align-items: center;
                background-color: $colorAzulBase;
                border-radius: 50%;
                margin: 5px;
                @include ease-transition;
                &.active,
                &:hover {
                  background-color: $colorAzulClaro;
                }
                img {
                  object-fit: contain;
                  width: 75%;
                  height: 75%;
                  margin-right: 2px;
                  margin-bottom: 2px;
                }
                svg {
                  font-size: 130%;
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
    .fab-buttons {
      position: absolute;
      z-index: 2;
      right: 50px;
      bottom: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column-reverse;
      height: 70px;
      &:hover {
        height: auto;
        .plus-button {
          svg {
            transform: translate3d(0, 0, 0);
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
          }
        }
        .actions {
          position: relative;
          .action {
            &.import {
              -webkit-transform: translateY(-90px);
              transform: translateY(-90px);
            }
            &.new-file {
              -webkit-transform: translateY(-30px);
              transform: translateY(-30px);
            }
          }
        }
      }
      .plus-button {
        @include minmaxwh(70px);
        background-color: $colorAzulClaro;
        @include sombra(0 2px 3px 0 #000);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
        z-index: 2;
        svg {
          width: 80%;
          height: 80%;
          @include ease-transition(500ms);
          color: #fff;
        }
      }
      .actions {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        z-index: 1;
        @include ease-transition(500ms);
        .action {
          @include minmaxwh(50px);
          background-color: $colorAzulBase;
          @include sombra(0 1px 2px 0 #333);
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          margin-bottom: 15px;
          @include ease-transition(500ms);
          position: absolute;
          overflow: hidden;
          &.import {
            input {
              width: 100%;
              height: 100%;
              position: absolute;
              left: 0;
              top: 0;
              opacity: 0;
              cursor: pointer;
            }
          }
          img {
            object-fit: contain;
            width: 70%;
            height: 70%;
          }
        }
      }
    }
  }
}
</style>
