<template lang="pug">
  .main-container
    .load-error(v-if="loadError")
      .black-screen
      .content
        .go-back
          router-link(to="/problems")
            font-awesome-icon(icon="arrow-left")
            span Go back
        .explanation
          span The map you are trying to access doesn't exist or you don't have permission to access it.
    .top-bar(
      v-if="!printer.visible"
      :class="{'immersive-mode': immersiveMode}")
      .normal-mode(
        v-if="immersiveMode"
        @click="toggleImmersiveMode")
        font-awesome-icon(icon="chevron-down")
      .logo-actions
        a.logo(href="/")
          img(src="@/assets/img/logo.png")
        .separator
        .actions
          router-link.action(to="/problems")
            font-awesome-icon(icon="arrow-left")
          //- .action(
          //-   v-if="canEdit"
          //-   @click="clearProblem")
          //-   img(src="@/assets/img/problems/new-edit/icon-clear-problem.png")
          .action(
            v-if="canEdit"
            @click="showPopup({name: 'Share'})")
            //- img(src="@/assets/img/problems/new-edit/icon-share.png")
            font-awesome-icon(icon="users")
          .action(@click="setTabActive(2); showPrinter()")
            img(src="@/assets/img/problems/new-edit/icon-print.png")
          .action(@click="setTabActive(2); showPopup({name: 'Export'})")
            img(src="@/assets/img/problems/new-edit/icon-download.png")
        #autosave-info(v-if="lastSaved || saving")
          span {{saving ? 'Saving...' : 'Autosaved on ' + moment(lastSaved).format('DD/MM - hh:mm:ss')}}
      UserSection
    .tabs-link(
      v-if="!printer.visible"
      :class="{'immersive-mode': immersiveMode}")
      .tab-menu
        .tab-item.matrix(
          @click="setTabActive(1)"
          :class="{active: tabActive === 1}")
          span Matrix
          .immersive-mode-button(
            v-if="!immersiveMode"
            @click="toggleImmersiveMode")
            font-awesome-icon(icon="chevron-up")
        .tab-item.chart(
          @click="setTabActive(2)"
          :class="{active: tabActive === 2}")
          span Mind map
          .immersive-mode-button(
            v-if="!immersiveMode"
            @click="toggleImmersiveMode")
            font-awesome-icon(icon="chevron-up")
        .tab-item.global-weights(
          @click="setTabActive(3)"
          :class="{active: tabActive === 3}")
          span Global Weights
          .immersive-mode-button(
            v-if="!immersiveMode"
            @click="toggleImmersiveMode")
            font-awesome-icon(icon="chevron-up")
        .tab-item.reports(
          @click="setTabActive(4)"
          :class="{active: tabActive === 4}")
          span Decisions
          .immersive-mode-button(
            v-if="!immersiveMode"
            @click="toggleImmersiveMode")
            font-awesome-icon(icon="chevron-up")
    Popup(v-if="isPopupVisible && (isPopupActive('Load') || isPopupActive('Share') || isPopupActive('Export'))")
      Load(
        v-if="isPopupActive('Load')")
      Share(
        v-if="isPopupActive('Share')")
      Export(
        v-if="isPopupActive('Export')")
    #tab-container(:class="[{fullscreen: printer.visible}, {'immersive-mode': immersiveMode}]")
      Matrix(
        v-if="tabActive === 1")
      Chart(
        v-if="tabActive === 2")
      GlobalWeights(
        v-if="tabActive === 3")
      Reports(
        v-if="tabActive === 4")
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex';
import moment from 'moment';

import Matrix from '@/components/Problem/Matrix';
import Chart from '@/components/Problem/Chart';
import Reports from '@/components/Problem/Reports';
import GlobalWeights from '@/components/Problem/Chart/Panel/GlobalWeights';

import Popup from '@/components/General/Popup';
import Load from '@/components/Problem/General/Load';
import Share from '@/components/Problem/General/Share';
import Export from '@/components/Problem/General/Export';
import UserSection from '@/components/Problem/General/UserSection';

let debounced = false;

export default {
  components: {
    Matrix,
    Chart,
    Reports,
    GlobalWeights,
    Popup,
    Load,
    Share,
    Export,
    UserSection,
  },
  data() {
    return {
      tabActive: 1,
      lastSaved: '',
      saving: false,
      moment,
      loadError: false,
    };
  },
  computed: {
    ...mapState('users', ['loggedIn', 'token']),
    ...mapState('problem', ['problem', 'qCauses', 'qIdeas', 'canEdit']),
    ...mapState('general', ['printer', 'immersiveMode']),
    ...mapGetters('general', ['isPopupActive', 'isPopupVisible']),
  },
  mounted() {
    if (
      this.$route.params.xlsData &&
      this.$route.params.problem &&
      this.$route.params.problem.description
    ) {
      this.setProblem(this.$route.params.problem);
    } else {
      this.restartProblem();
      this.tryNLoadByUrl();
    }
    if (this.immersiveMode) {
      this.toggleImmersiveMode();
    }
    this.showPrintSection = false;
  },
  watch: {
    loggedIn(newVal) {
      if (newVal) {
        this.$nextTick(() => {
          this.tryNLoadByUrl();
        });
      }
    },
    problem: {
      deep: true,
      handler(newVal, oldVal) {
        if (this.loggedIn) {
          if (this.canEdit) {
            if (debounced) {
              debounced.cancel();
            }
            debounced = this._.debounce(() => {
              if (
                this.$route.name &&
                (this.$route.name === 'Problem#New' || this.$route.name === 'Problem#Edit')
              ) {
                this.saveData();
              } else {
                // CAREFUL, might redirect if debounces and saves
                debounced.cancel();
              }
            }, 1000);
            debounced();
          }
        }
      },
    },
  },
  methods: {
    ...mapActions('general', ['showPopup', 'hidePopup', 'showPrinter', 'toggleImmersiveMode']),
    ...mapActions('problem', ['restartProblem', 'setProblem', 'setLoadedProblem']),
    tryNLoadByUrl() {
      if (this.$route.params.pid) {
        if (this.token) {
          this.$http({
            method: 'GET',
            url: `/api/problems/${this.$route.params.pid}`,
            headers: {
              Authorization: `Bearer ${this.token}`,
            },
          }).then(
            ({ data }) => {
              this.setProblem(data);
              this.setLoadedProblem();
            },
            error => {
              // console.error(error);
              if (error.status === 404) {
                this.loadError = true;
              }
            },
          );
        } else {
          this.$http({
            method: 'GET',
            url: `/api/problems/${this.$route.params.pid}/is_public`,
          }).then(
            ({ status }) => {
              if (status === 200) {
                this.$http({
                  method: 'GET',
                  url: `/api/problems/${this.$route.params.pid}/get_public`,
                }).then(
                  ({ data }) => {
                    this.setProblem(data);
                    this.setLoadedProblem();
                  },
                  error => {
                    // console.error(error);
                    if (error.status === 404) {
                      this.loadError = true;
                    }
                  },
                );
              }
            },
            error => {
              if (error.status === 404) {
                this.loadError = true;
              }
            },
          );
        }
      }
    },
    setTabActive(index) {
      this.tabActive = index;
    },
    clearProblem() {
      this.$router.push(`/p`);
      this.restartProblem();
    },
    saveData() {
      if (this.problem.description && this.canEdit) {
        this.saving = true;
        let method = 'POST';
        let url = '/api/problems';
        if (this.problem.wasLoaded && this.problem._id) {
          method = 'PUT';
          url = `/api/problems/${this.problem._id}`;
        }
        this.$http({
          method,
          url,
          body: this.problem,
          headers: {
            Authorization: `Bearer ${this.token}`,
          },
        }).then(
          ({ status, data }) => {
            if (status === 201) {
              this.problem._id = data._id;
            }
            this.saving = false;
            this.lastSaved = new Date();
            this.setLoadedProblem();
            if (
              !this.$route.params.pid &&
              this.$route.name &&
              (this.$route.name === 'Problem#New' || this.$route.name === 'Problem#Edit')
            ) {
              this.$router.replace(`/p/${data._id}`);
            }
          },
          error => {
            console.error(error);
          },
        );
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import '~Styles/_config.scss';
.main-container {
  .load-error {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .black-screen {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#000, 0.7);
    }
    .content {
      position: relative;
      z-index: 2;
      width: 30vw;
      height: 200px;
      background-color: #fff;
      @include sombra(0 0 3px 0 #000);
      border-radius: 7px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 0 30px;
      .go-back {
        position: absolute;
        left: 15px;
        top: 15px;
        svg {
          margin-right: 7px;
          color: #000;
          font-size: 120%;
        }
        span {
          font-size: 120%;
          color: #000;
          font-family: $fontMontserratRegular;
        }
      }
      .explanation {
        span {
          font-size: 120%;
          color: #222;
          font-family: $fontMontserratMedium;
        }
      }
    }
  }
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 12vh;
    min-height: 12vh;
    width: 100%;
    background-color: $colorAzulBase;
    @include sombra(0 0 5px 0 #000);
    position: relative;
    z-index: 7;
    @include ease-transition;
    &.immersive-mode {
      overflow: hidden;
      height: 5vh;
      min-height: 5vh;
      & > * {
        opacity: 0;
        position: absolute !important;
      }
      .normal-mode {
        opacity: 1 !important;
        z-index: 500;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        top: 0;
        left: 0;
        &:hover {
          svg {
            margin-top: 5px;
          }
        }

        svg {
          color: #fff;
          @include ease-transition;
        }
      }
    }
    .logo-actions {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      a.logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 100%;
        text-decoration: none;
        img {
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }
      .separator {
        margin: 0 35px;
        width: 2px;
        height: 60%;
        background-color: #fff;
        display: block;
        border-radius: 30%;
      }
      .actions {
        display: flex;
        justify-content: center;
        align-items: center;
        .action {
          display: flex;
          justify-content: center;
          align-items: center;
          @include minmaxwh(40px);
          margin: 0 7px;
          cursor: pointer;
          @include ease-transition;
          &:hover {
            @include sombra-arrojada(0 0 3px $colorAzulClaro);
          }
          img {
            object-fit: contain;
            width: 100%;
            height: 100%;
          }
          svg {
            font-size: 200%;
            color: #fff;
          }
        }
      }
      #autosave-info {
        margin-left: 10px;
        span {
          color: #ccc;
          font-family: $fontMontserratMediumItalic;
        }
      }
    }
  }
  .upper-bar {
    display: flex;
  }
  .tabs-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    position: relative;
    z-index: 5;
    &.immersive-mode {
      .tab-menu {
        .tab-item {
          height: 25px;
          border-radius: 0 0 7px 7px;
          position: relative;
          &.active {
            height: 35px;
          }
          &:hover:not(.active) {
            height: 30px;
          }
          span {
            font-size: 90%;
          }
        }
      }
    }
    .tab-menu {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      .tab-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33.333%;
        height: 50px;
        @include ease-transition;
        cursor: pointer;
        border-radius: 0 0 15px 15px;
        @include not-selectable;
        position: relative;
        &.matrix {
          background-color: $colorAzulMedio;
        }
        &.chart {
          background-color: $colorAzulBase;
        }
        &.reports {
          background-color: $colorAzulClaro;
        }
        &.global-weights {
          background-color: $colorAzulOscuro;
        }
        &.active {
          height: 70px;
          @include sombra(0 0 3px 0 #333);
        }
        &:hover:not(.active) {
          height: 60px;
        }
        span {
          color: #fff;
          font-family: $fontMontserratBold;
          text-transform: uppercase;
          font-size: 125%;
        }
        .immersive-mode-button {
          position: absolute;
          right: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          @include minmaxwh(25px);
          cursor: pointer;
          opacity: 0.5;
          &:hover {
            opacity: 1;
          }
          svg {
            color: #fff;
          }
        }
      }
    }
  }
  #tab-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../assets/img/problems/new-edit/problems-background.png');
    width: 100vw;
    height: 88vh;
    min-height: 88vh;
    padding-top: 80px;
    overflow: auto;
    &.fullscreen {
      height: 100vh;
      padding: 0;
    }
    &.immersive-mode {
      height: 95vh;
      padding-top: 35px;
    }
  }
}
</style>
