<template lang="pug">
  .home
    TopBar
    .body
      .decoration-top-left
        img(src="@/assets/img/home/decoration-top-left.png")
      .center-content
        LogoDescription
        .login-signup(v-if="!loggedIn")
          .login-form
            Login
          .signup
            .question
              span Don't have an account yet?
            .link
              router-link(to="/u/signup") Sign up
          .signup
            .question
              span Forgot your password?
            .link
              router-link(to="/u/password-recovery") Recover it
        .go-to-maps(v-if="loggedIn")
          router-link(to="/problems") Go to my maps
      .decoration-bottom-right
        img(src="@/assets/img/home/decoration-bottom-right.png")
</template>

<script>
import { mapState } from 'vuex';

import LogoDescription from '@/components/User/LogoDescription';
import Login from '@/components/Home/Login';
import TopBar from '@/components/Home/TopBar';

export default {
  components: {
    LogoDescription,
    Login,
    TopBar,
  },
  computed: {
    ...mapState('users', ['loggedIn']),
  },
};
</script>

<style lang="scss" scoped>
@import '~Styles/_config.scss';
.home {
  .body {
    position: relative;
    background-color: $colorGrisClaro;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    .decoration-top-left {
      position: absolute;
      left: 0;
      top: 0;
      width: 70vw;
      z-index: 0;
      img {
        object-fit: contain;
        width: 100%;
      }
    }
    .center-content {
      width: 50%;
      position: relative;
      z-index: 1;
      .login-signup {
        width: 100%;
        .login-form {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          margin-top: 20px;
        }
        .signup {
          display: flex;
          justify-content: space-between;
          margin-bottom: 15px;
          .question {
            span {
              font-family: $fontFilsonBold;
              text-transform: uppercase;
              color: #222;
              font-size: 180%;
            }
          }
          .link {
            a {
              font-family: $fontFilsonBold;
              text-transform: uppercase;
              color: $colorAzulMedio;
              font-size: 180%;
              @include sombra(0 2px 0 0 $colorAzulMedio);
            }
          }
        }
      }
      .go-to-maps {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        a {
          padding: 5px 13px;
          color: #fff;
          font-family: $fontMontserratSemiBold;
          font-size: 135%;
          @include ease-transition;
          cursor: pointer;
          background-color: $colorAzulBase;
          border-radius: 4px;
          &:focus {
            text-shadow: 0 0 0 #000;
            outline: none;
          }
          &:hover {
            background-color: $colorAzulMedio;
            @include sombra(0 0 0 0 #fff);
          }
        }
      }
    }
    .decoration-bottom-right {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 25vw;
      z-index: 0;
      img {
        object-fit: contain;
        width: 100%;
      }
    }
  }
}
</style>
