<template lang="pug">
  #root-app
    RouterView
</template>

<script>
import { mapState } from 'vuex';
import MainMenu from '@/components/General/MainMenu';

export default {
  computed: {
    ...mapState('general', ['popup']),
  },
};
</script>

<style lang="scss">
@import '~Styles/config';

@font-face {
  font-family: 'Tittillium';
  src: url('./assets/fonts/TitilliumWeb-Regular.ttf');
}
@font-face {
  font-family: 'Montserrat-Bold_4';
  src: url('./assets/fonts/Montserrat-Bold_4.otf');
}
@font-face {
  font-family: 'Montserrat-Medium_0';
  src: url('./assets/fonts/Montserrat-Medium_0.otf');
}
@font-face {
  font-family: 'Montserrat-MediumItalic';
  src: url('./assets/fonts/Montserrat-MediumItalic.otf');
}
@font-face {
  font-family: 'Montserrat-Regular_1';
  src: url('./assets/fonts/Montserrat-Regular_1.otf');
}
@font-face {
  font-family: 'Montserrat-SemiBold_1';
  src: url('./assets/fonts/Montserrat-SemiBold_1.otf');
}
@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('./assets/fonts/MyriadPro-Regular.otf');
}
@font-face {
  font-family: 'Dosis-Regular';
  src: url('./assets/fonts/Dosis-Regular.ttf');
}
@font-face {
  font-family: 'Filson W01 Bold';
  src: url('./assets/fonts/FilsonW01Bold.ttf');
}
@font-face {
  font-family: 'Filson W01 Light';
  src: url('./assets/fonts/FilsonW01Light.ttf');
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  #root-app {
    display: block;
    * {
      box-sizing: border-box !important;
      text-decoration: none !important;
    }
    input {
      @include ease-transition;
    }
  }
  #data-saved-success {
    position: fixed;
    left: 30px;
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #666;
    @include sombra(0 0 6px 0 #999);
    color: #fff;
  }
  button {
    &.button {
      &.default {
        min-width: 110px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 1px solid #ccc;
        background-color: #fff;
        margin: 7px;
        &:hover {
          background-color: #ccc;
        }
      }
    }
  }
}
</style>
