<template lang="pug">
  .chart-buttons
    .rounded.import
      font-awesome-icon(icon="upload")
      input(
        type="file"
        accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
        @change="importFile"
        title="Import file")
    button.rounded.img(@click="createIMG", title="Create IMG")
      font-awesome-icon(icon="image")
    button.rounded.xls(@click="createXLS", title="Create XLS")
      font-awesome-icon(icon="file-excel")
    //- button.rounded.csv(@click="createCSV", title="Create CSV")
    //-   font-awesome-icon(icon="file")
    button.rounded.pdf(
      :class="{enabled: showPrintSection}"
      @click="toggleShowPrintSection"
      title="Print PDF")
      font-awesome-icon(icon="file-pdf")
    //- .toggle-show-print-section
    //-   span Toggle print section
    //-   label.switch
    //-     input(
    //-       type='checkbox'
    //-       @click="toggleShowPrintSection"
    //-       :checked="showPrintSection")
    //-     span.slider
    //- .drag-switch(v-if="showPrintSection")
    //-   span resize
    //-   label.switch
    //-     input(
    //-       type='checkbox'
    //-       @click="toggleElemDrag"
    //-       :checked="isElemDrag")
    //-     span.slider
    //-   span move
</template>

<script>
import { mapState, mapActions } from 'vuex';

import JsPDF from 'jspdf';
import html2canvas from 'html2canvas';
import xlsx from 'xlsx';

const generateDownloadLink = (href, fileName) => {
  const link = document.createElement('a');
  link.href = href;
  link.download = fileName;
  document.body.append(link);
  link.click();
  document.body.removeChild(link);
};

const imgUrlToData = (url, callback) => {
  const canvas = document.createElement('canvas');
  const context = canvas.getContext('2d');
  const baseImage = new Image();
  baseImage.crossOrigin = 'anonymous'; // This enables CORS
  baseImage.onload = function() {
    canvas.setAttribute('width', this.width);
    canvas.setAttribute('height', this.height);
    context.drawImage(this, 0, 0, this.width, this.height);
    callback(canvas.toDataURL());
  };
  baseImage.src = url;
};

const ht2c = elem => {
  html2canvas(elem).then(canvas => {
    document.body.appendChild(canvas);
  });
};

const cvg = elem => {
  var c = document.createElement('canvas');
  var ctx = c.getContext('2d');
  ctx.drawImage(elem, 0, 0);
  // canvg(document.getElementById('canvas'), elem);
};

export default {
  props: [
    'zoomIn',
    'zoomOut',
    'undo',
    'centerGraph',
    'toggleElemDrag',
    'isElemDrag',
    'showPrintSection',
    'toggleShowPrintSection',
    'updateChart',
  ],
  mounted() {
    // updateChart = this.updateChart;
    // console.log(updateChart);
    document.onkeydown = ev => {
      let evtobj = ev;
      if (evtobj.keyCode === 90 && evtobj.ctrlKey) {
        this.undo();
      }
      // if (evtobj.keyCode === 107) {
      //   graph.zoomIn();
      // }
      // if (evtobj.keyCode === 109) {
      //   graph.zoomOut();
      // }
    };
  },
  computed: {
    ...mapState('problem', ['problem']),
  },
  methods: {
    ...mapActions('problem', ['setProblem']),
    centerProblem() {
      if (this.problem.causes.length === 1) {
        this.problem.pos.x = this.problem.causes[0].pos.x;
      } else {
        let posA = false;
        let posB = false;
        this.problem.causes.map(c => {
          if (!posA || posA.x > c.pos.x) {
            posA = c.pos;
          }
          if (!posB || posB.x < c.pos.x) {
            posB = c.pos;
          }
        });
        this.problem.pos.x = posA.x + (posB.x - posA.x) / 2;
      }
      this.updateChart();
    },
    importFile(ev) {
      const setProblem = this.setProblem;
      const updateChart = this.updateChart;
      const nextTick = this.$nextTick;
      const baseNode = this.baseNode;
      var reader = new FileReader();
      reader.onload = function(e) {
        const data = e.target.result;
        const workbook = xlsx.read(data, { type: 'binary' });
        const first_sheet_name = workbook.SheetNames[0];
        const worksheet = workbook.Sheets[first_sheet_name];
        let problem = { description: '', causes: [] };
        const causesPointers = {};
        if (worksheet['A1'].v === 'S.No.') {
          problem.description = decodeURIComponent(worksheet['B2'].v).trim();
          Object.keys(worksheet).map((key, i) => {
            if (!new RegExp(/^A[0-9]+$/).test(key) && !new RegExp(/^B[0-9]+$/).test(key)) {
              if (new RegExp(/^C([3-9]+|[1-9]+[1-9]+)$/).test(key)) {
                const cause = { description: '', ideas: [] };
                cause.description = decodeURIComponent(worksheet[key].v).trim();
                problem.causes.push(cause);
                causesPointers[parseInt(key)] = cause;
              } else if (new RegExp(/^([D-Z]+|[A-Z]+[A-Z]+)([3-9]+|[1-9]+[1-9]+)$/).test(key)) {
                const idea = { description: '' };
                idea.description = decodeURIComponent(worksheet[key].v).trim();
                causesPointers[parseInt(key)].ideas.push(idea);
              }
            }
          });
        } else if (worksheet['A1'].v === 'Problem' && worksheet['B1'].v === 'Causes') {
          problem.description = decodeURIComponent(worksheet['A2'].v).trim();
          Object.keys(worksheet).map((key, i) => {
            if (!new RegExp(/^A[0-9]+$/).test(key) && key !== 'B1') {
              if (new RegExp(/^B[0-9]+$/).test(key)) {
                const cause = { description: '', ideas: [] };
                cause.description = decodeURIComponent(worksheet[key].v).trim();
                problem.causes.push(cause);
                causesPointers[parseInt(key)] = cause;
              } else if (new RegExp(/^([C-Z]+|[A-Z]+[A-Z]+)([2-9]+|[1-9]+[1-9]+)$/).test(key)) {
                const idea = { description: '' };
                idea.description = decodeURIComponent(worksheet[key].v).trim();
                causesPointers[parseInt(key)].ideas.push(idea);
              }
            }
          });
        }
        setProblem(problem);
        nextTick(() => {
          updateChart();
        });
      };
      reader.readAsBinaryString(ev.target.files[0]);
    },
    createIMG() {
      const dupSVG = document.querySelector('#diagram svg').cloneNode(true);
      const svgWidth = dupSVG.style.minWidth;
      const svgHeight = dupSVG.style.minHeight;
      let proms = [];
      dupSVG.querySelectorAll('image').forEach(image => {
        const imgHref = image.getAttribute('xlink:href');
        if (
          imgHref.toLowerCase().indexOf('png') >= 0 ||
          imgHref.toLowerCase().indexOf('jpeg') >= 0 ||
          imgHref.toLowerCase().indexOf('jpg') >= 0
        ) {
          proms.push(
            new Promise((resolve, reject) => {
              imgUrlToData(imgHref, dataUrl => {
                image.setAttribute('xlink:href', dataUrl);
                resolve();
              });
            }),
          );
        } else {
          image.remove();
        }
      });

      Promise.all(proms).then(() => {
        //   // make it base64
        dupSVG.querySelectorAll('foreignObject').forEach(fo => {
          const txt = document.createElement('text');
          txt.setAttribute('x', '0');
          txt.setAttribute('y', '0');
          txt.setAttribute('font-size', '15');
          txt.setAttribute('font-family', 'courier new');
          txt.setAttribute('dy', '0');
          fo.querySelector('div > div')
            .innerHTML.match(/.{1,15}/g)
            .map(l => {
              const tspan = document.createElement('tspan');
              tspan.innerHTML = l.trim();
              tspan.setAttribute('x', '3');
              tspan.setAttribute('dy', '15');
              txt.appendChild(tspan);
            });

          fo.parentNode.replaceChild(txt, fo);
        });

        dupSVG.setAttribute('xmlns', 'http://www.w3.org/2000/svg');
        dupSVG.setAttribute('xmlns:xlink', 'http://www.w3.org/1999/xlink');
        dupSVG.setAttribute('xml:space', 'preserve');

        dupSVG.setAttribute('width', parseInt(svgWidth) + 10 + 'px');
        dupSVG.setAttribute('height', parseInt(svgHeight) + 10 + 'px');

        const svgString = new XMLSerializer().serializeToString(dupSVG);

        const DOMURL = window.URL || window.webkitURL || window;

        this.$http({
          method: 'POST',
          url: '/api/svgconverter',
          body: {
            svgString,
          },
        }).then(
          ({ data }) => {
            generateDownloadLink('data:image;base64,' + data.image, 'Exported chart.png');
          },
          error => {
            console.error(error);
          },
        );
      });
    },
    createXLS() {
      let qI = 0;
      this.problem.causes.map(c => {
        if (c.ideas && c.ideas.length > 0) {
          let q = c.ideas.filter(i => i.description).length;
          if (q > qI) {
            qI = q;
          }
        }
      });
      let content = '';
      content += '<tr>';
      content += `<td>Problem</td>`;
      content += `<td>Causes</td>`;
      for (let i = 0; i < qI; i += 1) {
        content += `<td>Idea ${i}</td>`;
      }
      content += '</tr>';
      this.problem.causes.map((cause, i) => {
        if (cause.description) {
          content += '<tr>';
          if (i === 0) {
            content += `<td>${this.problem.description}</td>`;
          } else {
            content += '<td></td>';
          }
          content += `<td>${cause.description}</td>`;
          cause.ideas.map(idea => {
            if (idea.description) {
              content += `<td>${idea.description}</td>`;
            }
          });
          content += '</tr>';
        }
      });
      const table = `<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><meta http-equiv="content-type" content="application/vnd.ms-excel; charset=UTF-8"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table border="1px">${content}</table></body></html>`;
      const baseXlsData = 'data:application/vnd.ms-excel;charset=utf-8;base64,';
      const href = baseXlsData + window.btoa(unescape(encodeURIComponent(table)));
      generateDownloadLink(href, 'Exported chart.xls');
    },
    createCSV() {
      let content = '';
      let qI = 0;
      this.problem.causes.map(c => {
        if (c.ideas && c.ideas.length > 0) {
          let q = c.ideas.filter(i => i.description).length;
          if (q > qI) {
            qI = q;
          }
        }
      });
      content += `Problem,`;
      content += `Causes,`;
      for (let i = 0; i < qI; i += 1) {
        content += `Idea ${i},`;
      }
      content += '\n';
      this.problem.causes.map((cause, i) => {
        if (cause.description) {
          if (i === 0) {
            content += `${this.problem.description},`;
          } else {
            content += ',';
          }
          content += `${cause.description},`;
          cause.ideas.map(idea => {
            if (idea.description) {
              content += `${idea.description},`;
            }
          });
          content += '\n';
        }
      });
      const baseCsvData = 'data:text/csv;charset=utf-8,';
      const href = baseCsvData + encodeURIComponent(content);
      generateDownloadLink(href, 'Exported chart.csv');
    },
  },
};
</script>

<style lang="scss" scoped>
@import '~Styles/_config.scss';
.chart-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 15px 0;
  .rounded {
    @include minmaxwh(48px);
    border-radius: 50%;
    border: 1px solid #ccc;
    cursor: pointer;
    @include sombra(0 0 3px 0 #666);
    margin: 8px;
    background-image: linear-gradient(to bottom right, #ccc, #aaa);
    @include ease-transition;
    &:hover:not(:disabled) {
      background-image: linear-gradient(to bottom right, #aaa, #ccc);
    }
    &.import {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        color: #444;
      }
      input {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
      }
    }
    &.pdf {
      &.enabled {
        background-image: linear-gradient(to bottom right, #666, #aaa);
        &:hover {
          background-image: linear-gradient(to bottom right, #666, #aaa);
        }
      }
    }
  }
  hr {
    width: 100%;
  }
  .drag-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    & > span {
      font-size: 85% !important;
      color: #444;
      margin: 0 4px;
    }
  }
  .toggle-show-print-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
    & > span {
      font-size: 85% !important;
      color: #444;
      margin: 5px 0;
    }
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    @include escalar(0.8);
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: #f33;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #f33;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
}
</style>
