<template lang="pug">
  .color-picker(:class="{open: isBoxExpanded}", @click="openBox")
    .box-closer(@click.stop="toggleBox")
      font-awesome-icon(icon="arrow-left")
    .box-name
      span Colors
    .main-box
      .type-selector
        .type.text(
          @click="setType('fontColor')"
          :class="{active: type === 'fontColor'}")
          img(src="@/assets/img/problems/new-edit/icon-text.png")
        .type.background(
          @click="setType('fillColor')"
          :class="{active: type === 'fillColor'}")
          img(src="@/assets/img/problems/new-edit/icon-background.png")
        .type.lines(
          @click="setType('strokeColor')"
          :class="{active: type === 'strokeColor'}")
          img(src="@/assets/img/problems/new-edit/icon-lines.png")
      .color-list
        .color(
          v-for="color in colorList"
          :key="color"
          @click="setColor(color)"
          :class="{active: colors[type] === color}")
          .circle(:style="'background-color:' + color")
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  props: ['graph'],
  data() {
    return {
      isBoxExpanded: false,
      type: 'fontColor',
      colors: {
        fontColor: '#000000',
        fillColor: '#ffffff',
        strokeColor: '#000000',
      },
      colorList: [
        '#ffffff',
        '#dddddd',
        '#cccccc',
        '#999999',
        '#777777',
        '#444444',
        '#333333',
        '#222222',
        '#111111',
        '#000000',
        '#531400',
        '#532a00',
        '#824b03',
        '#c30000',
        '#ff0000',
        '#ff6300',
        '#ffe600',
        '#bdff00',
        '#00ff00',
        '#00ff6e',
        '#00ffba',
        '#00d9ff',
        '#008cff',
        '#0000ff',
        '#03038b',
        '#4200ff',
        '#8700ff',
        '#c400ff',
        '#ff00ed',
        '#ff0045',
      ],
    };
  },
  methods: {
    openBox() {
      if (!this.isBoxExpanded) {
        this.isBoxExpanded = true;
      }
    },
    toggleBox() {
      if (this.isBoxExpanded) {
        this.isBoxExpanded = false;
      } else {
        this.isBoxExpanded = true;
      }
    },
    setType(type) {
      this.type = type;
    },
    setColor(color) {
      this.colors[this.type] = color;
      this.graph.clearSelection();
      Object.keys(this.graph.getModel().cells).map(ck => {
        const cell = this.graph.getModel().cells[ck];
        if (cell.isVertex()) {
          this.graph
            .getModel()
            .setStyle(
              cell,
              `verticalAlign=top;whiteSpace=wrap;fillColor=${this.colors.fillColor};fontColor=${
                this.colors.fontColor
              }`,
            );
        } else {
          if (!cell.style || cell.style.split(';').length === 0) {
            // Not styles aplied yet
            this.graph
              .getModel()
              .setStyle(cell, `${cell.style};strokeColor=${this.colors.strokeColor}`);
          } else {
            this.graph
              .getModel()
              .setStyle(cell, `${cell.style.split(';')[0]};strokeColor=${this.colors.strokeColor}`);
          }
        }
      });
    },
  },
};
</script>

<style lang="scss" scoped>
@import '~Styles/_config.scss';
.color-picker {
  position: fixed;
  right: 0;
  top: 480px;
  margin-top: 10px;
  background-color: $colorNaranjaBase;
  border-right: 10px solid $colorNaranjaOscuro;
  border-radius: 20px 0 0 20px;
  padding-left: 40px;
  height: 130px;
  width: 0px;
  overflow: hidden;
  cursor: pointer;
  @include ease-transition(500ms);
  &.open {
    width: 350px;
    cursor: auto;
    .main-box {
      display: flex;
    }
    .box-closer {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      svg {
        color: #fff;
      }
    }
    .box-name {
      opacity: 0;
    }
  }
  .box-closer {
    position: absolute;
    left: 0px;
    top: 0px;
    @include minmaxwh(40px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0 0 0;
    cursor: pointer;
    @include ease-transition(500ms);
    &:hover {
      svg {
        opacity: 1;
      }
    }
    svg {
      font-size: 150%;
      color: $colorAzulBase;
      @include ease-transition;
      opacity: 0.7;
    }
  }
  .box-name {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    height: 40px;
    width: 40px;
    left: 0;
    top: 60px;
    @include ease-transition(500ms);
    span {
      font-family: $fontFilsonBold;
      color: #fff;
      text-transform: uppercase;
      font-size: 130%;
    }
  }
  .main-box {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 300px;
    height: 100%;
    .type-selector {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border: 1px solid $colorAzulBase;
      border-radius: 5px;
      background-color: #fff;
      overflow: hidden;
      width: 35px;
      min-width: 35px;
      .type {
        display: flex;
        justify-content: center;
        align-items: center;
        @include minmaxwh(35px);
        cursor: pointer;
        &:not(:last-of-type) {
          border-bottom: 1px solid $colorAzulBase;
        }
        &:hover:not(.active) {
          background-color: rgba($colorAzulClaro, 0.5);
        }
        &.active {
          background-color: $colorAzulClaro;
        }
        img {
          object-fit: contain;
          width: 80%;
          height: 80%;
        }
      }
    }
    .color-list {
      background-color: rgba(#fff, 0.3);
      width: 100%;
      height: 70%;
      margin: 0 10px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      padding: 7px;
      .color {
        width: 10%;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        @include ease-transition;
        border-radius: 5px;
        &.active {
          background-color: rgba(#fff, 0.5);
        }
        .circle {
          display: block;
          @include minmaxwh(15px);
          border-radius: 50%;
          @include sombra(1px 1px 1px 0 #222);
        }
      }
    }
  }
}
</style>
