<template lang="pug">
  .global-weights(:class="{open: isBoxExpanded}", @click="openBox")
    //- .box-closer(@click.stop="toggleBox")
    //-   font-awesome-icon(icon="arrow-left")
    //- .box-name
    //-   span Global weights
    .main-box
      .title
        span Global weights
      .fields
        .field
          span Cost:
          input(
            v-if="canEdit"
            type="text"
            required
            :placeholder="0"
            v-model="problem.weights.cost"
            :class="{'wrong-value': (parseFloat(problem.weights.cost) > 1 || parseFloat(totalWeights) > 1 || (problem.weights.time && problem.weights.resources && parseFloat(totalWeights) < 1))}")
          span.input-replace(
            v-if="!canEdit") {{problem.weights.cost}}
        .field
          span Time:
          input(
            v-if="canEdit"
            type="text"
            required
            :placeholder="0"
            v-model="problem.weights.time"
            :class="{'wrong-value': (parseFloat(problem.weights.time) > 1 || parseFloat(totalWeights) > 1 || (problem.weights.cost && problem.weights.resources && parseFloat(totalWeights) < 1))}")
          span.input-replace(
            v-if="!canEdit") {{problem.weights.time}}
        .field
          span Resources:
          input(
            v-if="canEdit"
            type="text"
            required
            :placeholder="0"
            v-model="problem.weights.resources"
            :class="{'wrong-value': (parseFloat(problem.weights.resources) > 1 || parseFloat(totalWeights) > 1 || (problem.weights.cost && problem.weights.time && parseFloat(totalWeights) < 1))}")
          span.input-replace(
            v-if="!canEdit") {{problem.weights.resources}}
        .field.total
          span Total:
          span(style="font-weight: bold;") 1.0
        .field
          span
          small {{parseFloat(totalWeights) > 1 ? 'Total must be equal to 1' : ''}}
</template>

<script>
import { mapState, mapActions } from 'vuex';

let debounced;

export default {
  // props: ['updateChart'],
  data() {
    return {
      isBoxExpanded: true,
    };
  },
  computed: {
    ...mapState('problem', ['problem', 'canEdit']),
    totalWeights() {
      const sum =
        parseFloat(this.problem.weights.time) +
        parseFloat(this.problem.weights.cost) +
        parseFloat(this.problem.weights.resources);
      return sum;
    },
  },
  // watch: {
  //   problem: {
  //     deep: true,
  //     handler() {
  //       if (debounced) {
  //         debounced.cancel();
  //       }
  //       const problem = this.problem;
  //       const updateChart = this.updateChart;
  //       function adjustCalculus() {
  //         problem.causes.map(c => {
  //           c.ideas.map(i => {
  //             if (i.calculus && i.calculus.total && i.calculus.total > 0) {
  //               i.calculus.total =
  //                 parseFloat(problem.weights.cost) * parseFloat(i.calculus.rating.cost) +
  //                 parseFloat(problem.weights.time) * parseFloat(i.calculus.rating.time) +
  //                 parseFloat(problem.weights.resources) * parseFloat(i.calculus.rating.resources);
  //             }
  //           });
  //         });
  //         updateChart();
  //       }
  //       debounced = this._.debounce(adjustCalculus, 3000);
  //       debounced();
  //     },
  //   },
  // },
  methods: {
    openBox() {
      if (!this.isBoxExpanded) {
        this.isBoxExpanded = true;
      }
    },
    toggleBox() {
      if (this.isBoxExpanded) {
        this.isBoxExpanded = false;
      } else {
        this.isBoxExpanded = true;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import '~Styles/_config.scss';
.global-weights {
  // position: fixed;
  // right: 0;
  // top: 310px;
  // margin-top: 10px;
  // border-right: 10px solid $colorNaranjaOscuro;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  min-width: 300px;
  margin: 50px auto;
  @include sombra(0 0 3px 0 #111);
  overflow: hidden;
  .main-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .title {
      margin-bottom: 25px;
      height: 50px;
      width: 100%;
      background-color: #666;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        text-transform: uppercase;
        text-decoration: underline;
        font-family: $fontFilsonBold;
        color: #fff;
        font-size: 130%;
      }
    }
    .fields {
      width: 70%;
      height: 100%;
      .field {
        margin-bottom: 10px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        &.total {
          span:last-of-type {
            min-width: 50px;
            text-align: center;
          }
        }
        span {
          font-family: $fontMontserratRegular;
          text-transform: uppercase;
          color: $colorAzulBase;
        }
        small {
          font-family: $fontMontserratRegular;
          text-transform: uppercase;
          color: #000;
          font-size: 65%;
        }
        input,
        span.input-replace {
          @include ease-transition;
          &[type='number'] {
            -moz-appearance: textfield;
          }

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
          }
          &.wrong-value {
            @include sombra(0 0 0 1px #f00);
          }
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          border: 0;
          height: 20px;
          border-radius: 4px;
          @include sombra(0 2px 2px 0 #555);
        }
      }
    }
  }
}
</style>
