<template lang="pug">
  .node-modifiers(:class="{open: isBoxExpanded}", @click="openBox")
    .box-closer(@click.stop="toggleBox")
      font-awesome-icon(icon="arrow-left")
    .box-name
      span Node
    .main-box
      .selected-node
        span(v-if="selectedNode") {{selectedNode.description}}
        small(v-if="!selectedNode") Select a node to attach elements to it
      .button-list
        .button(
          title="Add images"
          @click="selectedNode && showPopup({name: 'Images'})")
            img(
              src="@/assets/img/problems/new-edit/icon-image.png")
        .button(
          title="Add comments"
          @click="selectedNode && showPopup({name: 'Comments'})")
            img(
              src="@/assets/img/problems/new-edit/icon-comments.png")
        .button(
          title="Votes"
          @click="selectedNode && showPopup({name: 'Votes'})")
            img(
              src="@/assets/img/problems/new-edit/icon-votes.png")
        .button(
          title="Add links"
          @click="selectedNode && showPopup({name: 'Links'})")
            img(
              src="@/assets/img/problems/new-edit/icon-links.png")
        .button(
          title="Add videos"
          @click="selectedNode && showPopup({name: 'Videos', width: 70})")
            img(
              src="@/assets/img/problems/new-edit/icon-video.png")
        .button(
          title="Add files"
          @click="selectedNode && showPopup({name: 'Documents'})")
            img(
              src="@/assets/img/problems/new-edit/icon-new-file.png")
        .button(
          title="Rating"
          @click="selectedNode && selectedNode.calculus && showPopup({name: 'Calculus'})")
            img(
              src="@/assets/img/problems/new-edit/icon-calculus.png")
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  data() {
    return {
      isBoxExpanded: false,
    };
  },
  computed: {
    ...mapState('problem', ['selectedNode']),
  },
  methods: {
    ...mapActions('general', ['showPopup']),
    openBox() {
      if (!this.isBoxExpanded) {
        this.isBoxExpanded = true;
      }
    },
    toggleBox() {
      if (this.isBoxExpanded) {
        this.isBoxExpanded = false;
      } else {
        this.isBoxExpanded = true;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import '~Styles/_config.scss';
.node-modifiers {
  position: fixed;
  right: 0;
  top: 155px;
  background-color: $colorNaranjaBase;
  border-right: 10px solid $colorNaranjaOscuro;
  border-radius: 20px 0 0 20px;
  padding-left: 40px;
  height: 155px;
  width: 0px;
  overflow: hidden;
  cursor: pointer;
  @include ease-transition(500ms);
  &.open {
    width: 350px;
    cursor: auto;
    .main-box {
      display: flex;
    }
    .box-closer {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      svg {
        color: #fff;
      }
    }
    .box-name {
      opacity: 0;
    }
  }
  .box-closer {
    position: absolute;
    left: 0px;
    top: 0px;
    @include minmaxwh(40px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0 0 0;
    cursor: pointer;
    @include ease-transition(500ms);
    &:hover {
      svg {
        opacity: 1;
      }
    }
    svg {
      font-size: 150%;
      color: $colorAzulBase;
      @include ease-transition;
      opacity: 0.7;
    }
  }
  .box-name {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    height: 40px;
    width: 40px;
    left: 0;
    top: 60px;
    @include ease-transition(500ms);
    span {
      font-family: $fontFilsonBold;
      color: #fff;
      text-transform: uppercase;
      font-size: 130%;
    }
  }
  .main-box {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-width: 300px;
    height: 100%;
    .selected-node {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 5px;
      padding: 7px;
      border: 1px solid #666;
      background-color: #fff;
      width: 90%;
      span {
        font-family: $fontFilsonBold;
        font-size: 110%;
        color: $colorAzulBase;
        text-transform: uppercase;
      }
    }
    .button-list {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap-reverse;
      width: 70%;
      .button {
        @include minmaxwh(40px);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-radius: 50%;
        @include sombra(0 1px 2px 0 #000);
        margin: 4px;
        cursor: pointer;
        &:hover {
          img {
            opacity: 0.8;
          }
        }
        img {
          width: 70%;
          height: 70%;
          object-fit: contain;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 6px;
          @include ease-transition;
        }
      }
    }
  }
}
</style>
